= content_for :page_title do
  Privileges for
  = @ou.user.to_s
  in
  = @ou.organization

= form_with(url: organization_user_privileges_path(@ou), method: :put) do |f|
  - Privilege.grouped_privileges.each do |group, privs|
    .privs-group.mb-5
      .font-bold.text-xl.mb-2
        = group
      - privs.each do |p|
        .privilege.mb-3.flex.flex-row.gap-x-3
          .w-3
            = check_box_tag 'privileges[]', p[:name], @ou.privilege?(p[:name])
          .w-72.shrink-0
            = f.label "privileges_#{p[:name]}" do
              = p[:short]
          .grow
            = t("privileges.docu.#{p[:name]}")
  .my-8
    = f.submit "Update Privileges", **tw_submit_prominent_args

