- content_for :page_title do
  = "Share Encryption-Key"

- if Current.organization.encryption_keys_blank?
  %p.text-xl
    = "No Encryption-Key set yet, go #{link_to "here", edit_organization_path(Current.organization), class: "text-primary"} to setup an encryption key."
- else
  = form_for :shared_keys_vault, url: shared_keys_vault_create_path(), id: :shared_keys_vault do |f|
    .wrapper{class: 'w-2/4'}
      .font-bold.mb-4
        When sharing your encryption key with other organizations you allow them to decrypt also the personal and private fields of data you have shared with them.
      = render "input_group", form: f, for: :name, label: "Encryption Key Password" do
        = render "secret_visibility_wrapper" do
          = f.password_field "crypt-password", data: {"password-visibility-target": :input}, **tw_password_input_args("w-full flex"), spellcheck: false, autocomplete: "new-password"
      = render "input_group", form: f, for: :name, label: "Organizations" do
        .hint.text-sm.text-grey-3
          .subhint
            You can only share your encryption-key with organizations that are in the same organization group as your organization.
          .subhint
            Multiple organizations can be selected at once.
        - options = SharedKeysVault.organizations_to_share(Current.organization).map{|org| [org.name, "#{org.id}:#{org.public_key}"] }
        = f.select "organizations", options_for_select(options), multiple: true, **tw_select_input_args
      = f.submit "Share Encryption-Key", onClick: "event.preventDefault(); prepare_and_submit()", **tw_submit_prominent_args

- if Current.organization.shared_keys.any?
  %p.pt-10.pb-5.text-lg.font-semibold{class: "text-dark/80"}
    Currently shared with
  - Current.organization.shared_keys.each do |sk|
    %p.text-lg.font-semibold.inline.pr-1{class: "text-dark/80"}
      = sk.shared_with_organization.name
      = form_for :shared_keys_vault, url: shared_keys_vault_delete_path(), id: :shared_keys_vault, class: :inline do |f|
        = f.hidden_field :shared_with_organization_id, value: sk.shared_with_organization_id
        = f.submit "❌", class: 'cursor-pointer', data: { 'turbo-confirm': 'Do you really want do retract the shared decryption key?' }

:javascript

  const init = () => {
    const element = document.getElementById("shared_keys_vault_organizations")
    if(element){
      window.org_select = new TomSelect(element)
    }
  };

  // this seems really hacky, is there a better way?
  document.addEventListener("DOMContentLoaded", init);
  document.addEventListener('turbo:render', init);

  function ab2str(buf) {
    return String.fromCharCode.apply(null, new Uint8Array(buf));
  }

  async function prepare_and_submit(){
    const options = #{Current.organization.crypto_options.to_json};

    const password_field = document.getElementById("shared_keys_vault_crypt-password");
    const password = password_field.value;

    const decryptor = new Decrypt(options);

    // if the password is incorrect, the decryptor will throw an exception
    await decryptor.setPasswordUnwrapKey(password)

    const org_list = window.org_select.getValue()

    if (org_list.length == 0) {
      window.org_select.settings.placeholder = "Please select at lease one organization."
      window.org_select.inputState()
      return
    }
    // we never want to see that password on the server
    password_field.disabled = true;
    password_field.value = "";

    const form = document.getElementById("shared_keys_vault");

    let exported_private_key = await window.crypto.subtle.exportKey("pkcs8", decryptor.privateKey);

    for (const org of org_list){
      const [id, pkey] = org.split(":")
      if (pkey === ""){
        continue
      }

      let public_key = await window.crypto.subtle.importKey(
        "spki",
        decryptor.base64ToArrayBuffer(pkey),
        {
          name: "RSA-OAEP",
          hash: "SHA-256"
        },
        false,
        ["encrypt"]
      );

      let aes_key_bytes = window.crypto.getRandomValues(new Uint8Array(16));
      let iv = window.crypto.getRandomValues(new Uint8Array(16));

      let aes_key = await window.crypto.subtle.importKey(
        "raw",
        aes_key_bytes,
        {
          name: "AES-CTR"
        },
        false,
        ["encrypt"]
      );

      let aes_data = `${btoa(ab2str(aes_key_bytes))}:${btoa(ab2str(iv))}`;

      let enc_private_key = await window.crypto.subtle.encrypt({name: "AES-CTR", counter: iv, length: 128}, aes_key, exported_private_key)
      let enc_aes_key = await window.crypto.subtle.encrypt({name: "RSA-OAEP", hash: "SHA-256"}, public_key, Uint8Array.from(aes_data, char => char.charCodeAt(0)))

      let shared_key = `${id}:${btoa(ab2str(enc_aes_key))}:${btoa(ab2str(enc_private_key))}`;

      const hidden_input = document.createElement("input");
      hidden_input.type = "hidden"
      hidden_input.name = "shared_keys_vault[shared_keys][]"
      hidden_input.value = JSON.stringify({organization_id: id, shared_key: shared_key})
      form.append(hidden_input)
    }

    document.getElementsByName("shared_keys_vault[organizations][]")[0].disabled = true
    window.org_select.disabled = true
    window.org_select.input.disabled = true

    form.submit()
  }