!!!
%html.h-full.m-0.p-0
  %head
    %title
      = render "page_title", include_env: true

    %meta{ name: "viewport", content: "width=device-width,initial-scale=1"}
    %link{ rel: "apple-touch-icon", sizes: "180x180", href: asset_path("#{Rails.application.config.theme[:favicon]}/apple-touch-icon.png")}
    %link{ rel: "icon", type: "image/png", sizes: "32x32", href: asset_path("#{Rails.application.config.theme[:favicon]}/favicon-32x32.png")}
    %link{ rel: "icon", type: "image/png", sizes: "16x16", href: asset_path("#{Rails.application.config.theme[:favicon]}/favicon-16x16.png")}
    %link{ rel: "manifest", href: asset_path("#{Rails.application.config.theme[:favicon]}/site.webmanifest")}
    %link{ rel: "mask-icon", href: asset_path("#{Rails.application.config.theme[:favicon]}/safari-pinned-tab.svg"), color: "#5bbad5"}
    %meta{ name: "msapplication-TileColor", content: "#da532c"}
    %meta{ name: "theme-color", content: "#ffffff"}

    - if ENV["UMAMI_SITE_ID"]
      %script{ src: "https://umami.a2.lu/script.js", "data-website-id": ENV["UMAMI_SITE_ID"], defer: true }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track" => "reload"
    = stylesheet_link_tag "application", "data-turbo-track" => "reload"
    = stylesheet_link_tag "pagy", "data-turbo-track" => "reload"

    = javascript_importmap_tags

    - # allow to inject stuff into head, e.g. disabling turbo drive like that:
    - #   = content_for :html_head do
    - #     %meta{name: "turbo-visit-control", content:"reload"}
    = yield :html_head

  %body.bg-white.h-full.m-0.p-0.flex.flex-col
    = render "header"
    
    %main#main.grow
      .duration-500.ease-out.mx-auto.max-w-5xl.h-full.flex.flex-col{ class: "transition-[max-width]" }
        = render "flash"
        - @slim_header ||= false
        #content.grow.flex.flex-col{class: @slim_header ? "" : "py-5"}
          - unless @slim_header
            - if !@hide_page_title && content_for?(:breadcrumbs)
              .flex.items-center.mb-2.text-sm.gap-x-2
                = yield :breadcrumbs
                - if @allow_wirdescreen
                  = heroicon "arrows-pointing-out", options: { id: 'out', class: 'ml-auto', onclick: 'toggleWideScreen()' }
                  = heroicon "arrows-pointing-in", options: { id: 'in', class: 'ml-auto hidden', onclick: 'toggleWideScreen()' }
            .flex.items-center.mb-10.justify-between
              %h1.font-bold.text-3xl
                - unless @hide_page_title
                  = render "page_title"
              #page-actions.flex.flex-row.gap-x-1.basis-auto
                = yield :page_actions
          %div.grow
            = yield
      :javascript
        function toggleWideScreen(){
          window.document.querySelector("#out").classList.toggle("hidden");
          window.document.querySelector("#in").classList.toggle("hidden");
          const element = window.document.querySelector("#main div");
          element.classList.toggle("pr-10")
          element.classList.toggle("pl-10")
          element.classList.toggle("max-w-5xl")
          element.classList.toggle("max-w-full")
        }