.mb-4 Find below a list of our data tables.
.mb-4
  All imported data will either directly imported or converted into this structure.
  Data which can not directly map onto existing columns is collected in the custom json column.
.mb-4
  More documentation and information for prospect users can be found in the 
  %span.pr-5.text-primary{class: "hover:underline"}
    = link_to("Prospect wiki", "https://gitlab.com/prospect-energy/prospect-server/-/wikis/Home").html_safe
%table.table-auto.border-spacing-y-5.border-separate
  - @datatables.each do |dt|
    %tr
      %th.text-left.pr-5.text-primary{class: "hover:underline"}
        = link_to dt.data_category, doc_path(dt.data_category)
      %td
        = dt.desc
