.mb-10.text-xl= @datatable.desc
.mb-4
  To import data in this format you can use our API.
  %span{class: "hover:underline text-primary"}= link_to "-> API Documentation", "/api-docs"
.mb-4
  You can also supply us with files in xlsx, csv or json format.
  %span{class: "hover:underline text-primary"}= link_to "-> Example CSV", doc_path(@datatable.data_category, format: :csv)

%table.table-auto.border-spacing-y-5.border-spacing-x-2.border-separate.mt-10.text-top.text-left.text-sm
  %thead.sticky.top-0
    %tr
      %th.max-w-xl
      %th type
      %th p14n
      %th blurred
      %th autogenerated
      %th required

  - @datatable.columns.each do |c|
    %tr
      %th.max-w-xl= c.name
      %td= c.type == "enum" ? "enum: #{c.values.join(', ')}" : c.type
      %td= booly c.pseudonymized?
      %td= booly c.blurred?
      %td= booly c.autogenerated?
      %td= booly c.ingress_required?
    %tr
      %td.max-w-xl= c.desc


