-#
-# render one checkbox within the context of datatable_checkboxes
-#

- field_name = "visibility[columns][#{local_assigns[:table]}][#{local_assigns[:col]}]"

.flex.flex-row.gap-x-3.items-center.text-sm.mb-1
  = check_box_tag field_name, "1", local_assigns[:checked], disabled: local_assigns[:disabled],
          class: "accent-primary text-primary focus:ring-primary",
          data: { checkbox_select_group_target: "checkbox",
                  action: "change->checkbox-select-group#refresh",
                  checkbox_group: local_assigns[:table] }
  = label_tag field_name, local_assigns[:col], { title: local_assigns[:desc] }