- is_disabled = !!local_assigns[:disabled]
- data_tables = Postgres::DataTable.non_custom.sort_by(&:data_category)
- custom_sources = @visibility.project.sources.active.custom_data
- custom_extra_cols = Postgres::DataTable.new("custom").columns.reject(&:default?)

%div{data: {controller: "tabs checkbox-select-group",
            tabs_active_tab_class: "bg-grey-2"}}
  .flex.flex-row.gap-x-2.text-primary.mb-4.mt-1.text-sm
    - unless is_disabled
      .px-3.py-1
        %input{type: :checkbox, disabled: is_disabled, class: "accent-primary text-primary focus:ring-primary",
               data: {checkbox_select_group_target: "checkboxAll",
                      action: "change->checkbox-select-group#toggleAll"}}
    .flex.flex-row.flex-wrap.gap-1
      - data_tables.each do |dt|
        .px-3.py-1.cursor-pointer.hover:bg-grey-2{data: {tabs_target: "tab", action: "click->tabs#change"}}
          %input{type: :checkbox, disabled: is_disabled,class: "accent-primary text-primary focus:ring-primary",
                 data: {checkbox_select_group_target: "checkboxGroup",
                        action: "change->checkbox-select-group#toggleGroup",
                        checkbox_group: dt.table_name}}
          %span{title: dt.desc}
            = dt.data_category

      - custom_sources.each do |cs|
        .px-3.py-1.cursor-pointer.hover:bg-grey-2{data: {tabs_target: "tab", action: "click->tabs#change"}}
          %input{type: :checkbox, disabled: is_disabled,class: "accent-primary text-primary focus:ring-primary",
                 data: {checkbox_select_group_target: "checkboxGroup",
                        action: "change->checkbox-select-group#toggleGroup",
                        checkbox_group: cs.custom_view}}
          %span{title: cs.custom_view}
            = cs.name

  - data_tables.each do |dt|
    .order-last.basis-full.grow.mt-2.px-4.border-l-4.border-grey-2{data: {tabs_target: "panel"}}
      - dt.columns.select(&:optional_visible?).each do |col|
        - col.sql_columns_hint.each do |sql_c, sql_c_hint|
          - desc = col.desc.to_s + (sql_c_hint ? " - #{sql_c_hint.to_s.titleize}" : "")
          - checked = @visibility.columns[dt.table_name]&.include?(sql_c)
          = render "datatable_column_checkbox", table: dt.table_name, col: sql_c, desc: desc,
                                                checked: checked, disabled: is_disabled

  - custom_sources.each do |cs|
    .order-last.basis-full.grow.mt-2.px-4.border-l-4.border-grey-2{data: {tabs_target: "panel"}}
      - custom_extra_cols.each do |col|
        - col.sql_columns_hint.each do |sql_c, sql_c_hint|
          - desc = col.desc.to_s + (sql_c_hint ? " - #{sql_c_hint.to_s.titleize}" : "")
          - checked = @visibility.columns[cs.custom_view]&.include?(sql_c)
          = render "datatable_column_checkbox", table: cs.custom_view, col: sql_c, desc: desc,
                                                checked: checked, disabled: is_disabled

      - cs.custom_structure_h.each do |sql_c, desc|
        - checked = @visibility.columns[cs.custom_view]&.include?(sql_c)
        = render "datatable_column_checkbox", table: cs.custom_view, col: sql_c, desc: desc,
                                              checked: checked, disabled: is_disabled
