= form_for @visibility, url: local_assigns[:url], method: local_assigns[:method] do |f|
  .bg-grey-1.m-1.rounded-lg.shadow
    .p-8
      - if @visibility.errors.any?
        %ul.text-sm.mb-6.text-pink
          - @visibility.errors.to_a.each do |e|
            %li= e
      .flex.flex-col.gap-4
        = render "input_group", form: f, for: :data_from, label: "Visible for Organization" do
          = f.collection_select :organization_id, @organizations, :id, :to_s
          = render "input_hint" do
            Select the organization for which the data should be visible
        .flex.flex-row.gap-x-8.grow.justify-between
          .grow
            = render "input_group", form: f, for: :data_from, label: "Data created since" do
              = f.date_field :data_from
              = render "input_hint" do
                Only expose data created after. Empty for open beginning.
          .grow
            = render "input_group", form: f, for: :data_until, label: "Data created until" do
              = f.date_field :data_until
              = render "input_hint" do
                Only expose data created before. Empty for open end.

        -# COMMENTED OUT BECAUSE WE DONT HAVE LICENSES LIST NOR RESHARING UI - License just for demo purposes
        - unless Rails.application.config.full_prod_mode
          .flex.flex-row.gap-x-8.grow.justify-between
            .grow{class: "basis-1/2"}
              = render "input_group", form: f, for: :license, label: "Choose License" do
                = f.select :license, Visibility::LICENCES
        -#   .grow{class: "basis-1/2"}
        -#     = render "input_group", form: f, for: :data_from, label: "Resharing with other organizations" do
        -#       .flex.flex-row.items-center.gap-x-2.mt-1
        -#         = f.check_box :resharing, { class: "accent-primary text-primary focus:ring-primary" }
        -#         = f.label :resharing, "Allow", { class: "mb-1 font-semibold text-dark/80" }

        = render "input_group", form: f, for: :data_from, label: "Select specific tables and columns to share" do
          = render "datatable_checkboxes"

    = f.submit local_assigns[:submit_label],
      **tw_submit_prominent_args("rounded-b-lg", color: :ok).merge(data: {disable_with: "Submitting..."})
