= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @visibility.project

= content_for :page_title do
  Edit Visibility for #{@visibility.project}

= render "form", url: visibility_path(@visibility), method: :put, submit_label: "Update"