= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @visibility.project

= content_for :page_title do
  New Visibility for #{@visibility.project}

= render "form", url: project_visibilities_path(@visibility.project), method: :post, submit_label: "Create"