= content_for :page_title do
  = @visibility.to_s

= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @visibility.project

= content_for :page_actions do
  .flex.flex-row
    - if policy(@visibility).update?
      %span.ml-4.cursor-pointer.text-primary
        = link_to edit_visibility_path(@visibility), title: "Edit" do
          = heroicon "pencil-square"
    - if policy(@visibility).destroy?
      %span.ml-4.cursor-pointer.text-primary
        = link_to visibility_path(@visibility), id: :delete_source, title: "Delete",
                                                data: {turbo_method: :delete, turbo_confirm: t(:confirm)} do
          = heroicon "trash"

%table.table-auto.border-spacing-y-5.border-separate
  - %i[organization data_from data_until creator created_at updated_at].each do |att|
    = render "attrib_tr", attr: att, model: @visibility

  -# LICENSE LIST MISSING AND RESHARING UI NOT YET IMPLEMENTED - JUST DISPLAY licence for demo purposes
  - unless Rails.application.config.full_prod_mode
    = render "attrib_tr", model: @visibility, attr: :license
  -# = render "attrib_tr", model: @visibility, attr: :resharing do
  -#   = booly @visibility.resharing

%div{class: "col-span-3 w-full font-bold text-xl"}
  Shared Columns

= render "datatable_checkboxes", disabled: true
