- rbf_manager = local_assigns[:rbf_manager]

.container.mx-auto.mt-4.px-1
  .py-5.grid.grid-cols-12.gap-5.w-100
    / ################### Agent Name #################
    .p-5.col-span-12.2xl:col-span-8.custom-shadow.block.md:rounded-lg.font-bold
      %h2.mb-3 Agents
      .agents.mt-2.flex.flex-col.sm:flex-row
        .search.mb-2.flex.flex-row
          %i.self-center.align-middle.h-5.w-5.mr-2
            = heroicon "magnifying-glass"
          %input.text-center.font-medium.bg-grey-2.rounded-xl.align-middle.inline-block.max-h-full{placeholder: 'Search Agent', onkeyup: "search(this)"}
        .add-agent.align-center.sm:ml-auto{"data-controller": "modal"}
          %dialog.p-8.rounded-lg{class: "backdrop:bg-black/80", "data-modal-target": "dialog"}
            = form_for :rbf_manager, method: :post, url: add_agent_rbf_dashboard_index_path do |f|
              .font-bold.mb-4
                Enter the name of the New Agent:
              = f.text_field "agent_name", required: true, class: "mb-4 w-full"
              = f.hidden_field "rbf_claim_template_id", value: rbf_manager.rbf_claim_template.id
              = f.submit "Add", **tw_submit_prominent_args
          - if policy(:source).new?
            %button.mx-auto.text-center.font-medium.bg-primary.hover:bg-black.hover:text-white.p-4.py-2.rounded-xl.align-middle.inline-block{class: "w-[100%]", data: {action: "modal#open"}}
              %i.inline-block.align-middle.h-6.w-5.mr-2>
                = heroicon "user-plus"
              Add Agent
      %ul#agentsList.p-2.col-span-12.bg-grey-1.mt-5.border-gray-300.block.h-96.overflow-y-scroll
        - if rbf_manager.agent_sources.empty?
          %li.agentItem.font-medium.text-sm.bg-white.p-3.mb-1
            Click
            %strong
              Add Agent
            to create a field agent who can enter sales with their individual form link.
        - rbf_manager.agent_sources.sort_by{ _1.name}.each do |as|
          %li.agentItem.grid.font-medium.text-sm.grid-cols-12.gap-2.bg-white.p-3.mb-1{"data-controller": "modal"}
            / ############ Agent Name ################
            .col-span-10.lg:col-span-4.flex.flex-grow.items-center.flex-row.vertical-align-middle
              .rounded-full.text-white.w-6.h-6.mr-3.align-middle.text-center{style: "background-color: ##{Digest::MD5.hexdigest(as.name)[0..5]}", class: "leading-[1.5rem]"}
                = rbf_manager.agent_name_from_sales_source(as).first
              = link_to as, class: "align-center text-dark" do
                = rbf_manager.agent_name_from_sales_source(as)
            / ############ Copy Link ################
            %dialog.p-8.rounded-lg{class: "backdrop:bg-black/80", "data-modal-target": "dialog"}
              .max-w-m{data: {controller: "clipboard", "clipboard-success-content-value": "Copied!"}}
                .strong.text-xl.mb-4
                  Send this link the agent to allow entering sales
                %input.text-sm.w-full.mb-4{type: :text, value: dynamic_form_sources_url(slug: as.details["slug"]), "data-clipboard-target": "source" }
                .flex.flex-row.gap-x-2
                  %button.grid.rounded-lg.hover:bg-grey-2.text-primary.py-2.px-4{data: {action: "clipboard#copy", "clipboard-target": "button"}}
                    = heroicon "document-duplicate", options: { class: "m-auto" }
                    Copy
                  -# Firefox seems unable - this i need to develop later with better browser and show this conditionally
                  -# %button.rounded-lg.hover:bg-grey-2.text-primary.py-2.px-4{onClick: "await navigator.share(shareData);"}
                  -#   = heroicon "share", options: { class: "m-auto" }
                    Share
                  %span.grow
                  %button.rounded-lg.hover:bg-grey-2.text-primary.py-2.px-4{"data-action": "click->modal#close" }
                    Close
            %button{ data: {action: "modal#open"}, class: "col-span-2 lg:col-span-1 text-gray-600 hover:text-black flex text-center block bg-gray-200 rounded-full px-1 py-1"}
              %i.inline-block.mx-auto.align-middle.h-6.w-6.p-1
                %svg.size-4{fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
                  %path{d: "M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
            / ############ Buttons Imports ################
            .col-span-12.sm:col-span-8.lg:col-span-5.grid.grid-cols-2.gap-1
              = link_to source_view_data_path(as), class: "text-gray-600 hover:text-black flex items-center bg-gray-200 rounded-full py-1 px-3" do
                %i.inline-block.align-middle.h-4.w-5.mr-2
                  %svg.size-4{fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
                    %path{d: "M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
                Show Data
              = link_to as.imports.last, class: "text-gray-600 hover:text-black flex items-center bg-gray-200 rounded-full py-1 px-3" do
                %i.inline-block.align-middle.h-4.w-5.mr-2
                  %svg.size-4{fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
                    %path{d: "m9 9 6-6m0 0 6 6m-6-6v12a6 6 0 0 1-12 0v-3", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
                Latest Import
            / ############ Button User Toggle ################
            - if as.active?
              %button.col-span-12.sm:col-span-4.lg:col-span-2.toggleUser.active.text-gray-600.hover:text-black.flex.items-center.bg-gray-200.rounded-full.relative.pl-3.pr-1.py-1
                = link_to toggle_agent_rbf_dashboard_index_path(source_id: as.id), data: {turbo_method: :post}, class: "toggleButton absolute right-0 mr-1 ml-2 w-10 h-5 block bg-grey-3 rounded-full" do
                  .button.w-5.h-5.bg-white.rounded-full.shadow-md
            - else
              %button.col-span-12.sm:col-span-4.lg:col-span-2.toggleUser.text-gray-600.hover:text-black.flex.items-center.bg-gray-200.rounded-full.relative.pl-3.pr-1.py-1
                = link_to toggle_agent_rbf_dashboard_index_path(source_id: as.id), data: {turbo_method: :post}, class: "toggleButton absolute right-0 mr-1 ml-2 w-10 h-5 block bg-grey-3 rounded-full" do
                  .button.w-5.h-5.bg-white.rounded-full.shadow-md

    .p-5.col-span-12.xl:col-span-4.md:rounded-lg.custom-shadow.block
      %h2.font-bold.mb-3 Back Office
      .p-4
        %h3.inline-block.align-middle.text-xl.mb-4
          %i.inline-block.align-top.h-6.w-6.mr-2>
            = heroicon "arrow-up-on-square-stack"
          Bulk Uploads
        %p.mb-5 Upload your sales and payments in bulk using CSV-files.
        .flex.text-center.gap-4.flex-col
          - base_classes = "w-100 text-center flex-grow button text-lg font-medium hover:bg-black hover:text-white p-4 py-2 rounded-xl align-middle inline-block"
          = link_to source_path(rbf_manager.backoffice_sales_source), class: "bg-primary #{base_classes}" do
            %i.inline-block.align-middle.h-5.w-4.mr-2>
              = heroicon "banknotes", variant: :outline, options: { disable_default_class: true }
            Sales
          = link_to dynamic_form_sources_url(slug: rbf_manager.backoffice_sales_source.details["slug"]), data: { turbo: "false" }, class: "text-sm opacity-50 hover:opacity-100" do
            %i.inline-block.align-middle.h-5.w-4.mr-2
              = heroicon "bars-3-center-left", variant: :outline, options: { disable_default_class: true }
            enter via sales form
          = link_to source_dynamic_form_template_path(rbf_manager.backoffice_sales_source), class: "text-sm opacity-50 hover:opacity-100" do
            %i.inline-block.align-middle.h-5.w-4.mr-2>
              = heroicon "arrow-down-tray", variant: :outline, options: { disable_default_class: true }
            sales template CSV

          = link_to source_path(rbf_manager.backoffice_payments_source), class: "bg-primary #{base_classes}" do
            %i.inline-block.align-middle.h-5.w-4.mr-2>
              = heroicon "credit-card", variant: :outline, options: { disable_default_class: true }
            Payments
          = link_to dynamic_form_sources_url(slug: rbf_manager.backoffice_payments_source.details["slug"]), data: { turbo: "false" }, class: "text-sm opacity-50 hover:opacity-100" do
            %i.inline-block.align-middle.h-5.w-4.mr-2
              = heroicon "bars-3-center-left", variant: :outline, options: { disable_default_class: true }
            enter via payments form
          = link_to source_dynamic_form_template_path(rbf_manager.backoffice_payments_source), class: "text-sm opacity-50 hover:opacity-100" do
            %i.inline-block.align-middle.h-5.w-4.mr-2>
              = heroicon "arrow-down-tray", variant: :outline, options: { disable_default_class: true }
            payments template CSV
          = link_to project_view_data_rbf_path(rbf_manager.project, rbf_claim_template_id: rbf_manager.rbf_claim_template.id), class: "bg-secondary #{base_classes}" do
            %i.inline-block.align-middle.h-5.w-4.mr-2>
              = heroicon "table-cells", variant: :outline, options: { disable_default_class: true }
            View Data
          = link_to rbf_products_rbf_dashboard_index_path, class: "text-sm opacity-50 hover:opacity-100" do
            %i.inline-block.align-middle.h-5.w-4.mr-2>
              = heroicon "swatch", variant: :outline, options: { disable_default_class: true }
            approved products & prices
    / ####################### RBF Claim List #########################
    .p-5.col-span-12.md:col-span-12.lg:col-span-12.xl:col-span-8.2xl:col-span-12.md:rounded-lg.custom-shadow.block
      %h2.font-bold.mb-3 Claims
      .py-4
        .tableFixHead.overflow-y-auto.h-100{class: "w-[100%]"}
          %table{class: "w-[100%]"}
            %thead.w-full.whitespace-nowrap.table-fixed.border-collapse
              %tr.border-b.text-sm.text-grey-4.gap-3
                %th.text-left.sticky.p-2.top-0.font-normal ID
                %th.text-left.sticky.p-2.top-0.font-normal Date Created
                %th.text-left.sticky.p-2.top-0.font-normal Status
                %th.text-left.sticky.p-2.top-0.font-normal Sales
                %th.text-left.sticky.p-2.top-0.font-normal Amount Claimed
                %th.text-left.sticky.p-2.top-0.font-normal Amount Approved
            %tbody
              - RbfClaim.for_index(Current.organization).where(rbf_claim_template: rbf_manager.rbf_claim_template).order(created_at: :desc).limit(10).each do |claim|
                %tr.pt-2
                  %td.text-left.sticky.p-2.top-0.font-normal.text-primary
                    = link_to "# #{claim.id}", claim
                  %td.text-left.sticky.p-2.whitespace-nowrap.top-0.font-normal
                    = claim.created_at.to_date
                  %td.text-left.sticky.p-2.whitespace-nowrap.top-0.font-normal
                    = claim.aasm_state.titleize
                  %td.text-left.sticky.p-2.whitespace-nowrap.top-0.font-normal
                    = claim.rbf_device_claims.count
                  %td.text-left.sticky.p-2.top-0.font-normal
                    = claim.claimed_immediate_payout_s
                  %td.text-left.sticky.p-2.top-0.font-normal
                    = claim.approved_immediate_payout_s
        - if policy(:rbf_claim).new?
          .block.text-center.mt-6.relative
            = link_to new_rbf_claim_path(rbf_claim_template_id: rbf_manager.rbf_claim_template.id), class: "button mx-auto text-lg font-medium bg-primary hover:bg-black hover:text-white p-4 py-2 rounded-xl align-middle inline-block" do
              %i.inline-block.align-middle.h-6.w-5.mr-2>
                = heroicon "squares-plus", variant: :outline, options: { disable_default_class: true }
              Create New Claim
    - box_klz = "w-full aspect-square relative shadow-lg hover:shadow-primary/30 pl-0 bg-gradient-to-br from-primary/30 to-grey-3/70"
    - {"claim": "Claims Overview", "easp-portfolio": "ESCO Sales Overview", "easp-ineligible-sales": "Eligibility Checks"}.each do |uid, title|
      .dashboard.p-5.col-span-4.custom-shadow.hover-shadow.block.rounded-lg.font-bold
        %h2.mb-3
          = title
        %div{class: box_klz, style: "aspect-ratio: 1 / 1;"}
          %turbo-frame#dashboard_tile{src: preview_analytics_path(uid)}

:javascript

  function search(element){
    for (const item of document.getElementsByClassName("agentItem")) {
      if (item.querySelector("a").innerText.match(new RegExp(element.value, "ig"))) {

        item.classList.remove("hidden")
      } else {
        item.classList.add("hidden")
      }
    }
  }

:css
  .toggleUser.active .toggleButton .button {
    transform: translateX(100%);
  }

  .toggleUser.active .toggleButton {
    background-color: var(--color-primary);
  }

  @tailwind utilities;

  .dashboard svg {
    width: 100%;
  }


  /* Custom Colors */
  :root {
      --color-custom-secondary: #FDE047; /* Example custom color */
      --color-custom-primary: #03B9B5; /* Example custom color */
  }

  .custom-shadow{
    box-shadow: 0px 0px 20px #cccccc, 0px 0px 20px #cccccc;
    transition: box-shadow 0.3s ease-in-out;
  }

  .hover-shadow:hover{
    box-shadow: 0px 0px 10px #aaaaaa, 0px 0px 20px #aaaaaa !important;

  }


  /* Custom utility classes */
  .bg-custom-secondary {
    background-color: var(--color-custom-secondary);
  }

  .bg-custom-primary {
    background-color: var(--color-custom-primary);
  }

  .text-custom-secondary {
    color: var(--color-custom-secondary);
  }

  .text-custom-primary {
    color: var(--color-custom-primary);
  }

  .focus-ring-primary:focus {
    box-shadow: 0 0 0 3px rgba(3, 185, 181, 0.45);
  }



  /* custom color palette */

  :root {
      --color-transparent: transparent;
      --color-current: currentColor;
      --color-white: #FFFFFF;
      --color-primary: #03B9B5;
      --color-secondary: #FFF601;
      --color-pink: #DB2777;
      --color-yellow: #FDE047;
      --color-dark: #1C322F;
      --color-black: #000000;
      --color-graph-1: #03B9B5;
      --color-graph-2: #6ECD66;
      --color-graph-3: #FFDE00;
      --color-graph-4: #F28147;
      --color-graph-5: #DB2777;
      --color-grey-1: #F4F4F4;
      --color-grey-2: #E6E6E6;
      --color-grey-3: #A0A0A2;
      --color-grey-4: #777579;
      --color-grey-6: #2C2C2C;
      --color-grey-7: #222222;
      --color-shade-1: #B2EC29;
      --color-shade-2: #53D96A;
      --color-shade-3: #218465;
      --color-shade-4: #136660;
  }

  .bg-primary { background-color: var(--color-primary); }
  .bg-secondary { background-color: var(--color-secondary); }
  .bg-pink { background-color: var(--color-pink); }
  .bg-yellow { background-color: var(--color-yellow); }
  .bg-dark { background-color: var(--color-dark); }
  .bg-black { background-color: var(--color-black); }
  .bg-graph-1 { background-color: var(--color-graph-1); }
  .bg-graph-2 { background-color: var(--color-graph-2); }
  .bg-graph-3 { background-color: var(--color-graph-3); }
  .bg-graph-4 { background-color: var(--color-graph-4); }
  .bg-graph-5 { background-color: var(--color-graph-5); }
  .bg-grey-1 { background-color: var(--color-grey-1); }
  .bg-grey-2 { background-color: var(--color-grey-2); }
  .bg-grey-3 { background-color: var(--color-grey-3); }
  .bg-grey-4 { background-color: var(--color-grey-4); }
  .bg-grey-6 { background-color: var(--color-grey-6); }
  .bg-grey-7 { background-color: var(--color-grey-7); }
  .bg-shade-1 { background-color: var(--color-shade-1); }
  .bg-shade-2 { background-color: var(--color-shade-2); }
  .bg-shade-3 { background-color: var(--color-shade-3); }
  .bg-shade-4 { background-color: var(--color-shade-4); }

  .text-primary { color: var(--color-primary); }
  .text-secondary { color: var(--color-secondary); }
  .text-pink { color: var(--color-pink); }
  .text-yellow { color: var(--color-yellow); }
  .text-dark { color: var(--color-dark); }
  .text-black { color: var(--color-black); }
  .text-graph-1 { color: var(--color-graph-1); }
  .text-graph-2 { color: var(--color-graph-2); }
  .text-graph-3 { color: var(--color-graph-3); }
  .text-graph-4 { color: var(--color-graph-4); }
  .text-graph-5 { color: var(--color-graph-5); }
  .text-grey-1 { color: var(--color-grey-1); }
  .text-grey-2 { color: var(--color-grey-2); }
  .text-grey-3 { color: var(--color-grey-3); }
  .text-grey-4 { color: var(--color-grey-4); }
  .text-grey-6 { color: var(--color-grey-6); }
  .text-grey-7 { color: var(--color-grey-7); }
  .text-shade-1 { color: var(--color-shade-1); }
  .text-shade-2 { color: var(--color-shade-2); }
  .text-shade-3 { color: var(--color-shade-3); }
  .text-shade-4 { color: var(--color-shade-4); }

