- rbf_manager = local_assigns[:rbf_manager]

.font-bold.mb-10
  Follow the steps below to setup your Organization to take part in the
  = rbf_manager.rbf_claim_template
  Program:

- rbf_manager.setups.each_with_index do |setup, i|
  - txt = "#{i+1}. #{setup.instruction}"
  - if setup.done?
    .mb-8
      %span{class: tw_link_prominent_args(color: :skip)[:class]}
        = txt
        %span.text-white.pl-2
          ✓
  - elsif setup.to_sym == rbf_manager.next_setup_sym
    .mb-8
      - case setup.to_sym
      - when :encryption_setup
        = link_to txt, edit_organization_path(rbf_manager.organization), **tw_link_prominent_args
      - when :share_key_setup
        = link_to txt, shared_keys_vault_edit_path, **tw_link_prominent_args
      - when :project_setup
        = link_to txt, setup_project_rbf_dashboard_index_path(rbf_claim_template_id: rbf_manager.rbf_claim_template.id), data: {turbo_method: :post}, **tw_link_prominent_args
      - else
        - raise "Uncovered Setup Step #{setup.to_sym}"
  - else
    .mb-8
      %span{class: tw_link_prominent_args(color: :skip)[:class]}
        = txt