= render "tabs", titles: @rbf_managers.map{ _1.rbf_claim_template.to_s } do
  - @rbf_managers.each do |man|
    = render "tab" do
      - if man.all_setup?
        = render "rbf_dashboard/dashboard", rbf_manager: man
      - else
        = render "rbf_dashboard/setup", rbf_manager: man
