= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "RBF Dashboard", rbf_dashboard_index_path

= content_for :page_title do
  Approved Products & Prices

.flex.flex-col.gap-y-4
  - @rbf_products.each do |claim_template, products|
    .rbf_claim_template
      .text-xl.font-bold
        = claim_template
      - products.sort_by{ "#{_1.manufacturer} #{_1.model}"}.each do |product|
        .flex.flex-row.gap-x-4.border.border-grey-2.px-4.my-2.text-sm
          %table.table-auto.border-spacing-y-5.border-separate
            = render "attrib_tr", attr: :manufacturer, model: product
            = render "attrib_tr", attr: :model, model: product
            = render "attrib_tr", attr: :rbf_category, model: product
            = render "attrib_tr", attr: :technology, model: product
            = render "attrib_tr", attr: :rated_power_w, model: product
          .grow
          %table.table-auto.border-spacing-y-5.border-separate{class: "basis-1/2"}
            %tr
              %th.text-left Valid from
              %th.text-left Category
              %th.text-left Subsidy
              %th.text-left Subsidized Price
              %th.text-left Original Price
            - product.rbf_product_prices.sort_by(&:valid_from).reverse.each do |price|
              %tr
                %td= price.valid_from
                %td= price.category
                %td= price.base_subsidy_amount_s
                %td= price.base_subsidized_sales_price_s
                %td= price.original_sales_price_s
