= form_with url: login_local_path, method: :post, local: true do |f|
  .field
    = f.text_field :email, placeholder: User.human_attribute_name("email"), **tw_text_input_args("w-full")

  .field.mt-4{ data: { controller: "password-visibility" }}
    = render "secret_visibility_wrapper" do
      = f.password_field :password, data: {"password-visibility-target": :input},
        placeholder: User.human_attribute_name("password"),
        spellcheck: false,
        **tw_password_input_args("w-full flex")
  .field.mt-4
    = f.check_box :remember, class: "accent-primary text-primary focus:ring-primary"
    %span.ml-1
      = f.label :remember, t(".keep_logged_in"), class: "mb-1 font-semibold text-dark/80"

  .actions
    %button.mt-5.rounded{tw_submit_prominent_args}
      = t(".login")