
%h1{:class=>"font-bold text-3xl"} Web Crypto: generate KeyPair and decrypt server-encrypted messages
%section.description 
  %p This page demonstrates how to generate a RSA keypair with OAEP padding through the webcrypto API in javascript, then transfer the public key and a text to encode to the rails backend which encrypts the text with the public key given. The result can then be decrypted with the private key which never hits the server at the javascriot side.
%section.examples
  %section{ :class => ".encrypt-decrypt .rsa-oaep" }
    %br
    %h2{:class=>"font-bold text-xl"} RSA-OAEP Encryption and Decryption
    %br
    %section.set_password
      %label{ :for=>"rsa-oaep-message", :class=>"mb-1 font-semibold uppercase text-dark/80"}Enter a password that will be used to encrypt your data:
      %input{ data: { target: 'message-list.password' }, :type=>"password", :id=>"password", :name=>"message", :size=>"100", :class=>"rounded focus:ring-primary focus:border-primary max-w-md", :autocomplete=>"new-password"}
      %br
      %br
      %input{ :id=>"create_key", :class=>"w-full py-2 px-4 font-bold uppercase text-grey-1 hover:text-white hover:bg-primary/70 bg-gradient-to-r hover:animate-pulse from-shade-3 to-shade-2 rounded-b-lg", :type=>"button", :value=>"Create Keypair" }

    %br
    %section{:style=>"display:none;", :id=>"encrypt_section" }
      %div.message-control
        =form_with url: "/demo/post_key",  data: { action: 'ajax:success->message-list#append' }  do |form|
          %div{:class=>"mb-8 flex flex-col"}
            %label{ :for=>"rsa-oaep-message", :class=>"mb-1 font-semibold uppercase text-dark/80"}Enter a message to encrypt:
            %input{ data: { target: 'message-list.input' }, :type=>"text", :id=>"rsa-oaep-message", :name=>"message", :size=>"100", :value=>"The owl howls at midnight", :class=>"rounded focus:ring-primary focus:border-primary max-w-md" }
            %input{ data: { target: 'message-list.key' },  :type=>"hidden", :id=>"public-key", :name=>"publickey", :size=>"100", :class=>"rounded focus:ring-primary focus:border-primary max-w-md", :value =>public_key}
            %input{ data: { target: 'message-list.wrapped_key' }, :type=>"hidden", :id=>"wrapped-key", :name=>"wrapped_key", :size=>"100", :class=>"rounded focus:ring-primary focus:border-primary max-w-md", :value =>wrapped_key}
            %input{ data: { target: 'message-list.salt' }, :type=>"hidden", :id=>"salt", :name=>"salt", :size=>"100", :class=>"rounded focus:ring-primary focus:border-primary max-w-md", :value =>salt}
            %input{ data: { target: 'message-list.iv' }, :type=>"hidden", :id=>"iv", :name=>"iv", :size=>"100", :class=>"rounded focus:ring-primary focus:border-primary max-w-md", :value =>iv}
          %div{ :class=>"mb-8 flex flex-col" }  
            %input{ :id=>"send-to-server", :class=>"w-full py-2 px-4 font-bold uppercase text-grey-1 hover:text-white hover:bg-primary/70 bg-gradient-to-r hover:animate-pulse from-shade-3 to-shade-2 rounded-b-lg", :type=>"submit", :value=>"Send message to server" }  
        %br
        %hr
        %br
        %div{id: "salt_target"}
        %br
        %div{id: "iv_target"}
        %br
        %div{id: "wrapped_key_target"}
      %section{:style=>"display:none;", :id=>"decrypt_section" }
        %div{:class=>"mb-8 flex flex-col"  }
          %label{:for=>"message-list", :class=>"mb-1 font-semibold uppercase text-dark/80"}Encrypted Messages:
        
          %ul{'data-target'=>"message-list.messages", :class=>"mb-8 flex flex-col", :id=>"message-list"}

          =@messages

        .decrypted 
          %input{ :id=>"decrypt_messages", :class=>"w-full py-2 px-4 font-bold uppercase text-grey-1 hover:text-white hover:bg-primary/70 bg-gradient-to-r hover:animate-pulse from-shade-3 to-shade-2 rounded-b-lg", :type=>"button", :value=>"Decrypt Messages" }

