<turbo-stream action="append" target="message-list">
  <template>
    <li><%= message %></li>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="salt">
  <template>
    <input type="hidden" id="salt" name="salt" value="<%= salt %>" size="100" class="rounded focus:ring-primary focus:border-primary max-w-md">
  </template>
</turbo-stream>

<turbo-stream action="replace" target="iv">
  <template>
    <input type="hidden" id="iv" name="iv" value="<%= iv %>" size="100" class="rounded focus:ring-primary focus:border-primary max-w-md">
  </template>
</turbo-stream>

<turbo-stream action="replace" target="wrapped-key">
  <template>
    <input type="hidden" id="wrapped-key" name="wrappedkey" value="<%= wrapped_key %>" size="100" class="rounded focus:ring-primary focus:border-primary max-w-md">
  </template>
</turbo-stream>


<turbo-stream action="append" target="decrypt_messages">
  <template>
    <script type="text/javascript"> 
       decryptArea = document.querySelector("#decrypt_section");
       decryptArea.style ="display: block;";
    </script>
  </template>
</turbo-stream>