%div
  -# maybe check if the version changed and modify the message accordingly
  %h2.font-bold.text-xl.mt-12.mb-8
    = I18n.t("users.terms_and_conditions.accept_before")
  = form_for :user, method: :post, action: "users/accept_terms" do |f|
    .field.mt-4
      %div.h-96.overflow-scroll
        = render "terms_of_use"
        = render "data_protection_policy"
        = render "code_of_conduct"
      %div.my-6.flex.items-center 
        = f.check_box :terms_of_use, class: "accent-primary text-primary focus:ring-primary"
        %span.ml-1.font-bold
          = f.label :terms_of_use, I18n.t("users.terms_and_conditions.accept_terms_of_use")
      %div
        %div.my-6.flex.items-center 
          = f.check_box :data_protection_policy, class: "accent-primary text-primary focus:ring-primary"
          %span.ml-1.font-bold
            = f.label :data_protection_policy, I18n.t("users.terms_and_conditions.accept_data_protection_policy")
      %div
        %div.mt-6.flex.items-center
          = f.check_box :code_of_conduct, class: "accent-primary text-primary focus:ring-primary"
          %span.ml-1.font-bold
            = f.label :code_of_conduct, I18n.t("users.terms_and_conditions.accept_code_of_conduct")
      %div.mt-5
        = f.submit :accept, **tw_submit_prominent_args("rounded-full shadow")
