= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to @user

= form_for @user, url: user_path, method: :patch do |f|

  .wrapper{class: "w-1/2"}

    - if @user.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @user.errors.to_a.each do |e|
          %li= e

    - if @user.invited?
      .field.mb-4
        = f.text_field :email, placeholder: :email, required: true, **tw_text_input_args("w-full")
    - else
      .field.mb-4
        = f.text_field :username, placeholder: :name, required: true, **tw_text_input_args("w-full")

    - if Current.user.admin?
      .field.mt-4
        = f.check_box :admin, **tw_select_input_args
        %span.ml-1
          = f.label :admin, "Admin", class: "mb-1 font-semibold uppercase text-dark/80"

    - if @user.authentications.empty? && @user.active?
      .field.mt-4
        = f.password_field :password, placeholder: "Password: min #{User::MIN_PW_LENGTH} characters", **tw_text_input_args("w-full")
      .field.mt-4
        = f.password_field :password_confirmation, placeholder: :password_confirmation, **tw_text_input_args("w-full")

    .field.mt-10
      = f.submit "Update", **tw_submit_prominent_args



