- content_for :page_title do
  = "Register #{@user.email}"

= form_for @user, url: register_users_path, method: :post do |f|

  .wrapper{class: "w-1/2"}

    - if @user.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @user.errors.to_a.each do |e|
          %li= e

    = f.hidden_field :invite_code # use this to prevent just submitting some user id.

    .field.hidden
      = f.email_field :email

    .field
      -# instead of username we take something different - password managers will pick then rather the hidden email input :)
      = f.text_field :emanresu_in_reverse, placeholder: :name, required: true, **tw_text_input_args("w-full")
    .field.mt-4
      = render "secret_visibility_wrapper" do
        = f.password_field :password, data: {"password-visibility-target": :input}, placeholder: "Password: min 12 characters", required: true, **tw_password_input_args("w-full flex"), autocomplete: "new-password", spellcheck: false
    .field.mt-4
      = render "secret_visibility_wrapper" do
        = f.password_field :password_confirmation, data: {"password-visibility-target": :input}, placeholder: :password_confirmation, required: true, **tw_password_input_args("w-full flex"), autocomplete: "new-password", spellcheck: false
    .field.mt-10
      = f.submit "Register", **tw_submit_prominent_args

  - if Rails.application.config.google_auth
    .wrapper{class: "w-1/2"}
      .mt-10.text-sm= "If your email #{@user.email} is hosted by google, you can also register via google"
      .field.mt-8
        = link_to auth_at_provider_path(provider: :google), class: "mt-5" do
          %button.rounded{tw_submit_prominent_args}
            = t('users.register.register_with_google')
  - if Rails.application.config.ms_auth
    .wrapper{class: "w-1/2"}
      .mt-10.text-sm= "If your email #{@user.email} is hosted by microsoft, you can also register via microsoft"
      .field.mt-8
        = link_to auth_at_provider_path(provider: :microsoft), class: "mt-5" do
          %button.rounded{tw_submit_prominent_args}
            = t('users.register.register_with_microsoft')