- content_for :page_title do
  Invitations

#invitations
- if Current.user.invitations.any?
  .w-full.grid.grid-cols-6.gap-3.py-3.px-2.text-l
    .user-name{class: "col-span-3 font-semibold"}
      Organization
- else
  %div{class: "px-2"}
    No open invitations

- Current.user.invitations.each do |u|
  .w-full.grid.grid-cols-6.gap-3.py-3.px-2.text-lg
    .organization-name{class: "col-span-3"}
      = u.organization.name
    %span.flex.ml-4.cursor-pointer.hover:text-primary.text-sm
      = link_to "Accept", accept_invitation_users_path(organization_id: u.organization_id), **tw_link_prominent_args("rounded-l-lg", without: %w[rounded-full])
      = link_to "Reject", reject_invitation_users_path(organization_id: u.organization_id), **tw_link_prominent_args("rounded-r-lg", without: %w[rounded-full], color: :bad)
