.font-bold.text-2xl.mb-8.flex.flex-row.items-center.text-pink
  %span.mr-2.text-baseline
    = heroicon "exclamation-triangle", variant: :outline
  %span
    Currently not assigned to any Organization
%p{class: "w-2/3"}
  You are currently not assigned to any organization.
  Unless you are an active member of an Organization within PROSPECT you won't be able to perform any action.

- if @user.organizations.any?
  .font-bold.text-xl.mt-8
    Click to switch to one of your organizations:
  .flex.flex-col.gap-y-4.mt-4
    - @user.organizations.each do |organization|
      = link_to switch_organization_users_path(organization_id: organization.id), method: :post do
        .ml-2.flex.flex-row.gap-x-2.hover:underline.text-primary
          = heroicon "arrow-right", variant: :solid
          = organization.to_s

- if @user.invitations.any?
  .font-bold.text-xl.mt-8
    You are invited into those organizations:
  - @user.invitations.each do |inv|
    .w-full.grid.grid-cols-6.gap-3.ml-2.mt-4.text-lg
      .organization-name{class: "col-span-3"}
        = inv.organization.name
      %span.flex.ml-4.cursor-pointer.hover:text-primary.text-sm
        = link_to "Accept", accept_invitation_users_path(organization_id: inv.organization_id), **tw_link_prominent_args("rounded-l-lg", without: %w[rounded-full])
        = link_to "Reject", reject_invitation_users_path(organization_id: inv.organization_id), **tw_link_prominent_args("rounded-r-lg", without: %w[rounded-full], color: :bad)




