- content_for :page_title do
  -  if Current.user.admin?
    = "Invite New User"
  - else
    = "Invite New User to #{Current.organization}"

= form_for @user, url: users_path, method: :post do |f|

  .wrapper{class: "w-1/2"}

    - if @user.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @user.errors.to_a.each do |e|
          %li= e
    .field
      = f.text_field :email, placeholder: :email, required: true, **tw_text_input_args("w-full")
    .field.mt-4
      = f.select :priv_template, Privilege::TEMPLATE_NAMES, {}, **tw_select_input_args("w-full")
    - if Current.user.admin?
      .field.mt-4
        = f.collection_select :organization_id, Organization.default_order, :id, :to_s, {}, **tw_select_input_args("w-full")
    - else
      = f.hidden_field :organization_id
    .field.mt-10
      = f.submit "Invite", **tw_submit_prominent_args
