= content_for :page_actions do
  .flex
    - if policy(@user).update?
      %span.ml-4.cursor-pointer.text-primary
        = link_to edit_user_path(@user), title: "Edit" do
          = heroicon "pencil-square"
    - if policy(@user).toggle_archive?
      %span.ml-4.cursor-pointer.text-primary
        - title = if @user.archived?
          - "Reactivate"
        - else
          - @user.invited? ? "Delete" : "Archive"

        = link_to toggle_archive_user_path(@user), data: {turbo_method: :post}, title: title do
          - if @user.archived?
            = heroicon "archive-box-x-mark"
          - else
            = heroicon "archive-box-arrow-down"

%table.table-auto.border-spacing-y-5.border-separate
  - %i[email admin state created_at active_at archived_at].each do |attr|
    %tr
      %th.text-left.pr-5
        = attr.to_s.humanize
      %td
        = @user.public_send attr
  %tr
    %th.text-left.pr-5
      Organization
    %td
      = @user.current_organization_user.to_s_org_role
  %tr
    %th.text-left.pr-5
      Memberships
    %td
      = @user.active_organization_users.where.not(organization_id: @user.organization_id).map(&:to_s_org_role).join(", ")
  %tr
    %th.text-left.pr-5
      Invitations
    %td
      = @user.invitations.map(&:to_s_org_role).join(", ")
  - if show_invitation_url?(@user)

    %tr
      %th.text-left.pr-5
        Invitation-URL
        %p.text-xs{class: "text-grey-3"}
          Only visible 5 minutes after invitation. Please only use, in case email did't go through.
      %td{class: "font-mono"}
        = invitation_users_url invite_code: @user.invite_code
  %tr
    %th.text-left.pr-5
      Assigned Privileges
    %td
      %ul
        - OrganizationUser.where(user: @user).each do |ou|
          %li
            %b= ou.organization.name
            %ul
              - ou.privileges.each do |p|
                %li{title: t("privileges.docu.#{p.name}")}= p.name
  %tr
      