.flex.flex-col.items-center
  = image_tag Rails.application.config.theme[:logo], class: "h-20"
  %p.mt-5
  %span.font-semibold.mb-10
    -# TODO: theme config translations?
    - t('.subtitle') # will not render, but I18n would complain if not used ;)
    = Rails.application.config.theme[:title]
  - unless current_user
    = render "session/form"

    #forgot_password.my-3
    = link_to "Forgot Password?", new_password_reset_path, {class: "text-primary hover:underline" }

    - if Rails.application.config.google_auth
      = link_to auth_at_provider_path(provider: :google), class: "mt-5" do
        = image_tag 'sign_in_with_google.svg', alt: t('users.welcome.login_with_google')
    - if Rails.application.config.ms_auth
      = link_to auth_at_provider_path(provider: :microsoft), class: "mt-5" do
        = image_tag 'ms_symbollockup_signin_light.svg', alt: t('users.welcome.login_with_microsoft')
