.pagy {
    display: flex;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    gap: 0.3rem;
    color: #6b7280;
    padding-top:20px;
  }
  .pagy > :not([hidden]) ~ :not([hidden]) {
    --space-reverse: 0;
    margin-right: calc(0.25rem * var(--space-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
  }
 
  .pagy a:not(.gap) {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    text-decoration: none;
    background-color: #fefefe;
    padding: 0.5rem;
    line-height: 1rem;
    min-width: 2rem;
    text-align: center;
    color: inherit;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
  }
  .pagy a:not(.gap):hover {
    background-color: var(--yellow-prospect);
    color: black;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
  }

  .pagy a:not(.gap):not([href]) { /* disabled links */
    cursor: default;
    background-color: #f3f4f6;
    color: #d1d5db;
    box-shadow: none;
  }
  .pagy a:not(.gap).current {
    background-color: var(--teal-medium);
    color: white;
  }

  .pagy a:not(.gap)[aria-label="Previous"]{
    margin-right: 20px;
  }

  .pagy a:not(.gap)[aria-label="Next"]{
    margin-left: 20px;
  }

  .pagy label {
    white-space: nowrap;
    display: inline-block;
    border-radius: 0.5rem;
    background-color: #e5e7eb;
    padding: 0.125rem 0.75rem;
  }
  .pagy label input {
    line-height: 1.5rem;
    border-radius: 0.375rem;
    border-style: none;
    background-color: #f3f4f6;
  }