Please upload new data for <%= @source.name %>

=====================================================

Please use the link below and follow the instructions onscreen.

The link will expire in <%= @code_expiry.inspect %>.

<%= public_recorded_upload_sources_url(code: params[:code]) %>

Have a great day!
