- if policy(:analytics).grafana_new?
  = render "dropdown_menu",
    icon: "plus",
    links: [[grafana_new_analytics_path(type: :dashboard), "New Dashboard"],
            [grafana_new_analytics_path(type: :folder), "New Folder"],
            [grafana_new_analytics_path(type: :import_dashboard), "Import Dashboard"]]