= content_for :page_actions do
  = render "grafana_new"

- bg_from_classes = %w[from-primary/30 from-shade-1/30 from-shade-2/30 from-shade-3/30 from-shade-4/30]
- i = 0
%div{class: "grid grid-cols-3 max-w-full gap-10"}
  - @dashboards.each do |folder, boards|
    %div{class: "col-span-3 w-full font-bold text-xl"}
      = folder

    - boards.each do |board|
      - i += 1
      - bg_from = bg_from_classes[i % bg_from_classes.count]
      - box_klz = "w-full aspect-square relative shadow-lg hover:shadow-primary/30 pl-0 bg-gradient-to-br #{bg_from} to-grey-3/70"
      %div{class: box_klz, style: "aspect-ratio: 1 / 1;"}
        %turbo-frame#dashboard_tile{src: preview_analytics_path(board[:uid])}
        %div{class: "absolute bottom-0 py-4 w-full bg-grey-2 text-center no-underline"}
          %span.font-semibold
            = board[:title].to_s