%turbo-frame#dashboard_tile
  - if @no_data
    = image_tag "no_data.png", class: "object-cover object-center mt-0 mb-0"
  - else
    = link_to analytic_path(@uid), target: "_top", class: "w-full block", style: "aspect-ratio: 1 / 1;" do
      - if (file = Grafana::DashboardPreview.get_preview(@uid, Current.organization.grafana_org_id))
        = image_tag asset_url(file), class: "h-full object-cover object-center mt-0 mb-0"
