= content_for :page_actions do
  = render "grafana_new"
  = render "dropdown_menu", links: @dashboards.map{|uid, title| [analytic_path(uid), title.to_s.titleize] }

%iframe#embedded-grafana.w-full.h-full{src: @grafana_url}
