= form_for @project, url: local_assigns[:url], method: local_assigns[:method] do |f|
  .wrapper.w-full

    - if @project.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @project.errors.to_a.each do |e|
          %li= e

    .field
      = f.text_field :name, placeholder: :name, required: true, **tw_text_input_args("w-1/2")
    .field.mt-4
      = f.text_field :description, placeholder: :description, **tw_text_input_args("w-full")
    .field.mt-10
      = f.submit local_assigns[:submit_label], **tw_submit_prominent_args