- content_for :page_title do
  Edit Project

= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @project

= render "form", url: project_path(@project), method: :put, submit_label: "Update"
