= content_for :page_title do
  Projects

= content_for :page_actions do
  - if policy(:project).new? && (@projects.any? || Current.organization.encryption_keys?)
    = link_to "New Project", new_project_path, **tw_link_prominent_args

.flex.flex-col.gap-y-8
  - if @projects.none?
    .no-projects.text-grey-4.py-4
      - if !Current.organization.encryption_keys?
        %p
          You need to
          - if policy(Current.organization).edit?
            = link_to "setup data encryption", edit_organization_path(Current.organization), class: "text-primary hover:underline"
          - else
            setup data encryption
          for your organization before you can add a new project and start importing your data.
          Find more information about our data encryption concept
          = link_to "in our wiki.",
                    "https://gitlab.com/prospect-energy/prospect-server/-/wikis/Discussion/Technical-Concept-for-PII-data-encryption",
                    class: "text-primary hover:underline"
      - else
        No projects configured yet.
        - if policy(:project).new?
          You can
          = link_to "create a project", new_project_path, class: "text-primary hover:underline"
          to start importing your data.
          Projects act as a folder of different datasources
          which can be shared with other organizations under common policies.

  - @projects.each do |project|
    .project.flex.flex-col.gap-y-4
      .font-bold.text-xl.text-primary.hover:underline
        = link_to project
      - if project.description.present?
        .text-lg
          = project.description
      .flex.flex-col.gap-y-2
        - if project.sources.present?
          - project.sources.sort_by{ _1.active? ? 0 : 1 }.each do |source|
            .project-source.flex.flex-row.gap-x-2
              = heroicon "arrow-up-on-square-stack", options: { class: "text-grey-3" }
              %span.flex.gap-x-2
                %span.hover:underline{class: (source.active? ? "text-primary" : "text-primary/60")}
                  = link_to source.to_s_adapter, source
                - if source.active? && source.kind == "manual_input/ueccc"
                  - form_url = dynamic_form_sources_url(slug: source.details["slug"])
                  - form_title = "Open Form: #{source.adapter.dynamic_form}"
                  %span.text-grey-4.hover:text-primary
                    = link_to form_url, data: { turbo: "false" }, title: form_title, target: "_blank" do
                      = heroicon "arrow-top-right-on-square"
        - else
          .no-project-sources.text-grey-4
            No datasources configured yet.
        - if project.visibilities_for_others.present?
          .flex.flex-row.gap-x-2.mt-2
            = heroicon "share", options: { class: "text-grey-3" }
            = project.visibilities_for_others.map{ _1.organization.to_s }.join(", ")

.shared-projects.mt-12
  %h1.font-bold.text-2xl.mb-8
    Shared Projects
  .flex.flex-col.gap-y-8
    - if @visibilities.none?
      .no-shared.text-grey-4
        No Project has been shared with you yet.
    - else
      - @visibilities.each do |visibility|
        - project = visibility.project
        .visible_project.flex.flex-col.gap-y-4
          .font-bold.text-xl
            = project.organization
            ⇢
            = project
          - if project.description.present?
            .text-lg
              = project.description
          .flex.flex-col.gap-y-2
            - if project.sources.present?
              - project.sources.sort_by{ _1.active? ? 0 : 1 }.each do |source|
                .project-source.flex.flex-row.gap-x-2
                  = heroicon "arrow-up-on-square-stack", options: { class: "text-grey-3" }
                  %span{class: (source.active? ? "" : "text-grey-3")}
                    = source.to_s_adapter
            - else
              .no-project-sources.text-grey-4
                No datasources configured yet.
            .flex.flex-row.gap-x-2.mt-2
              = heroicon "share", options: { class: "text-grey-3" }
              = visibility.to_s_columns
