- content_for :page_title do
  New Project

= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path

= render "form", url: projects_path, method: :post, submit_label: "Create"
