= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path

= content_for :page_actions do
  .flex.flex-row
    - if policy(@project).view_data?
      %span.ml-4.cursor-pointer.text-primary
        = link_to project_view_data_path(@project), title: "View Data" do
          = heroicon "table-cells"
    - if policy(@project).update?
      %span.ml-4.cursor-pointer.text-primary
        = link_to edit_project_path(@project), title: "Edit" do
          = heroicon "pencil-square"
    - if policy(@project).destroy?
      %span.ml-4.cursor-pointer.text-primary
        - if @project.sources.any?
          %a.text-grey-4.cursor-not-allowed{ title: t(:delete_project_blocked) }
            = heroicon "trash"
        - else
          = link_to project_path(@project), id: :delete_project, title: "Delete", data: {turbo_method: :delete, turbo_confirm: t(:confirm_project_destroy)} do
            = heroicon "trash"

- if @project.description.present?
  .font-semibold.pb-10
    = @project.description

.col-span-3.w-full.font-bold.text-xl.flex.flex-row
  %span
    Sources
  %span.ml-4.cursor-pointer.text-primary
    = link_to build_source_path(Source::BUILD_STEPS.first, project_id: @project.id), title: "Add new Datasource" do
      = heroicon "plus"
- if @project.sources.present?
  = render "sources/table", sources: @project.sources
- else
  .no-project-sources.text-grey-4.py-4
    No datasources configured yet. You need to
    = link_to build_source_path(Source::BUILD_STEPS.first, project_id: @project.id), title: "Add new Datasource", class: "text-primary hover:underline" do
      create a datasource
    to start importing data.

.col-span-3.w-full.font-bold.text-xl.flex.flex-row.mt-3
  .span
    Visibilities
  %span.ml-4.cursor-pointer.text-primary
    = link_to new_project_visibility_path(project_id: @project.id), title: "Add new Visibility" do
      = heroicon "plus"
- if @project.visibilities_for_others.present?
  .flex.flex-col.py-4.gap-y-2
    - @project.visibilities_for_others.each do |vis|
      %div
        %span.text-primary.hover:underline
          = link_to "-> #{vis.organization}", vis
        - if vis.data_from || vis.data_until
          (#{vis.data_from} .. #{vis.data_until})
        = ":"
        = vis.to_s_columns
- else
  .no-visibilities.text-grey-4.py-4
    No visibilities configured yet. The data is currently only visible to your own organization.
    If you want other organizations to have access to (parts of) your data you need to
    = link_to new_project_visibility_path(project_id: @project.id), title: "Add new Visibility", class: "text-primary hover:underline" do
      configure their access.
.col-span-3.w-full.font-bold.text-xl.flex.flex-row.mt-3
  .span
    Info
%table.table-auto.border-spacing-y-5.border-separate
  - %i[creator created_at updated_at].each do |att|
    = render "attrib_tr", attr: att, model: @project
