- if @source
  = content_for :breadcrumbs do
    = render "breadcrumb" do
      = link_to "Import", projects_path
    = render "breadcrumb" do
      = link_to @source.project
    = render "breadcrumb" do
      = link_to @source

.mb-4
  All the data available to you.
  The data can be downloaded as CSV or XLSX as well as through our API.
  Check the Docs to see more information about the meaning of each column.

%div{"data-controller": "modal", "data-action": "close-modal@window->modal#close open-modal@window->modal#open"}
  %dialog.p-8.rounded-lg{class: "backdrop:bg-black/80", "data-modal-target": "dialog"}
    %div{id: :progress} Downloading CSV

- if @source && @source.adapter.try(:dynamic_form)
  .font-bold.text-xl.mt-8.mb-4
    Dynamic Forms
  - count = Postgres::DataTable.ar(@source.data_category, @source.organization).where(source_id: @source_id).limit(Organization::COUNT_LIMIT).count
  .w-full.flex.flex-row.py-3
    - zero_class = count.zero? ? "text-grey-3" : nil
    %div{class: "basis-2/3 font-semibold #{zero_class}"}
      = @source.adapter.dynamic_form.to_s
    %div{class: "basis-1/3 flex flex-row"}
      %div{class: "basis-1/3 #{zero_class}"}
        - if count >= Organization::COUNT_LIMIT
          = "> #{Organization::COUNT_LIMIT}"
        - else
          = count
      %div{class: "basis-2/3 flex justify-end"}
        - if zero_class
          .ml-12{class: zero_class}
            csv
          .ml-3{class: zero_class}
            xlsx
          .ml-3.whitespace-nowrap{class: zero_class}
            decrypted csv
        - else
          %span.text-primary.cursor-pointer.ml-12.hover:underline
            = link_to "csv", exports_export_form_path(format: :csv, source_id: @source_id)
          %span.text-primary.cursor-pointer.ml-3.hover:underline
            = link_to "xlsx", exports_export_form_path(format: :xlsx, source_id: @source_id)
          - if Current.organization.encryption_keys?
            - dl_link = "downloadCSV('#{exports_export_form_path(format: :csv, source_id: @source_id)}')"
            %button.whitespace-nowrap.text-primary.cursor-pointer.ml-3.hover:underline{ onclick: "#{dl_link}" } decrypted csv

.font-bold.text-xl.mt-8.mb-4
  Generic Format

- @data_categories.each do |dc, count|
  .w-full.flex.flex-row.py-3
    - zero_class = count.zero? ? "text-grey-3" : nil
    %div{class: "basis-2/3 font-semibold #{zero_class}"}
      = dc
    %div{class: "basis-1/3 flex flex-row"}
      %div{class: "basis-1/3 #{zero_class}"}
        - if count >= Organization::COUNT_LIMIT
          = "> #{Organization::COUNT_LIMIT}"
        - else
          = count
      %div{class: "basis-1/3"}
        %span{class: "hover:underline text-primary/70"}= link_to "-> Docs", doc_path(dc), target: "_blank"
      %div{class: "basis-1/3 flex justify-end"}
        - if zero_class
          .ml-6{class: zero_class}
            csv
          .ml-3{class: zero_class}
            xlsx
          .ml-3.whitespace-nowrap{class: zero_class}
            decrypted csv
        - else
          %span.text-primary.cursor-pointer.ml-6.hover:underline
            = link_to "csv", exports_export_path(data_category: dc, format: :csv, source_id: @source_id)
          %span.text-primary.cursor-pointer.ml-3.hover:underline
            = link_to "xlsx", exports_export_path(data_category: dc, format: :xlsx,  source_id: @source_id)
          - if Current.organization.encryption_keys?
            - dl_link = "downloadCSV('#{exports_export_path(data_category: dc, format: :csv,  source_id: @source_id)}')"
            %button.whitespace-nowrap.text-primary.cursor-pointer.ml-3.hover:underline{ onclick: "#{dl_link}" } decrypted csv

- if @custom_views.present?
  .font-bold.text-xl.mt-8.mb-4
    Custom Format
  - @custom_views.each do |cv, count|
    .w-full.flex.flex-row.py-3
      - zero_class = "text-grey-3" if count.zero?
      %div{class: "basis-2/3 font-semibold #{zero_class}"}
        = cv
      %div{class: "basis-1/3 flex flex-row"}
        %div{class: "basis-1/3 #{zero_class}"}
          - if count >= Organization::COUNT_LIMIT
            = "> #{Organization::COUNT_LIMIT}"
          - else
            = count
        %div{class: "basis-2/3 flex justify-end"}
          - if zero_class
            .ml-12{class: zero_class}
              csv
            .ml-3{class: zero_class}
              xlsx
          - else
            %span.text-primary.cursor-pointer.ml-12.hover:underline
              = link_to "csv", exports_export_path(custom_view: cv, format: :csv, source_id: @source_id)
            %span.text-primary.cursor-pointer.ml-3.hover:underline
              = link_to "xlsx", exports_export_path(custom_view: cv, format: :xlsx, source_id: @source_id)

:javascript
  function downloadCSV(url) {
    if (!window.vault.is_open()) {
      window.vault.openModal(() => { downloadCSV(url) })
      return
    }
    const progress = window.document.getElementById("progress");
    progress.innerText = "Downloading CSV"
    window.dispatchEvent(new CustomEvent("open-modal"))
    fetch(url)
      .then(response => {
        // Ensure the request was successful
        if (!response.ok) {
          throw new Error(`Network response was not ok ${response.statusText}`);
        }
        return response.blob();
      })
      .then(blob => {
        parseCSVFromBlobAndDecrypt(blob);
      })
      .catch(error => {
        console.error('There was an error downloading the CSV file:', error);
      });
  }

  function downloadBlobasCSV(obj) {
    const csvData = new Blob([Papa.unparse(obj.data)], { type: 'text/csv;charset=utf-8;' });
    const url = window.URL.createObjectURL(csvData);
    const a = document.createElement('a');

    a.style.display = 'none';
    a.href = url;
    // Specify filename to download as
    a.download = 'data.csv';
    document.body.appendChild(a);
    a.click();
    window.URL.revokeObjectURL(url);
  }

  async function decryptCSVcolumns(csv) {
    // Assuming the first row contains column headers
    const progress = window.document.getElementById("progress");
    const count = csv.data[0].filter((h) => {return h.endsWith('_e')}).length * csv.data.length;
    let i = 1;
    if (csv.data.length > 0) {
      for (const [Yindex, header] of csv.data[0].entries()) {
        if (!header.endsWith("_e")) { continue; }

        csv.data[0][Yindex] = header.slice(0, -2)

        for (const row of csv.data.slice(1)) {
          progress.innerText = `Decrypting ${i}/${count}`
          i++;
          row[Yindex] = await window.vault.decryptMessage(row[Yindex])
        }
      }
      window.dispatchEvent(new CustomEvent("close-modal"))
      downloadBlobasCSV(csv);
    }
  }

  async function parseCSVFromBlobAndDecrypt(blob) {
    const reader = new FileReader();
    reader.onload = (event) => {
      const csvText = event.target.result;
      Papa.parse(csvText, {
        complete: decryptCSVcolumns,
        error: (error) => {
          console.error('Error parsing CSV:', error);
        }
      });
    };
    reader.onerror = (error) => {
      console.error('Error reading CSV blob:', error);
    };
    reader.readAsText(blob);
  }