- title = local_assigns[:title] || local_assigns[:attr].to_s.titleize
- value = local_assigns[:value]
- value ||= local_assigns[:model].public_send(local_assigns[:attr]) if local_assigns[:model] && local_assigns[:attr]
- key = local_assigns[:key]
- skip = local_assigns[:skip_blank] && value.blank?
- encrypted = local_assigns[:encrypted] || false

- unless skip
  %tr
    %th.text-left.pr-5
      = title
    - # only display '<encrypted>', not the whole giberish
    - # the auto decrypter fetches the encrypted data from
    - # the dataset and displays it correctly if the vault is open(ed)
    - if encrypted
      - data = value ? value : yield
      %td{data: {"field-key": key, "enc-data": data }}
        = "<encrypted>"
    - else
      %td{data: {"field-key": key }}
        - if value
          = value
        - else
          = yield
