// MAKE SURE TO UPDATE THE VERSION OF THIS DOCUMENT IN THE application.rb AS WELL IF YOU UPDATE IT HERE
.flex.flex-col.gap-4
    .text-xs.italic
        PROSPECT: Legal Instruments <br />
        Design March 2023
    %h1.text-center.mb-12
        PROSPECT: CODE OF CONDUCT
    %ol.list-decimal.list-inside
        %li.font-bold.my-12
            OVERVIEW
        %ol.list-inside.pl-5
            %li
                1.1 PROSPECT intends to play a critical role in supporting renewable energy solutions worldwide with a product-agnostic,
                real-time, free-of-charge data and transaction platform that automatically collects, aggregates, analyses and displays
                data to constantly improve the renewable energy solutions covered and better serve both energy suppliers and users.
            %li
                1.2 PROSPECT offers its pre-set functionalities to its users and data providers. PROSPECT does not opine on, test the
                veracity, or rank the quality of any specific renewable energy solution. PROSPECT solution-specific analytical role is
                confined to data completeness checks.
            %li
                1.3 Central to PROSPECT's independence and integrity is its commitment to never invest in the projects or programs that
                are registered in the platform.
            %li
                1.4 In order to enhance confidence in PROSPECT information, PROSPECT has adopted this Code of Conduct as well as
                %strong
                    The PROSPECT: TERMS OF USE, THE PROSPECT: DATA PROTECTION POLICY,  and THE PROSPECT: METHODOLOGY AND GUIDELINES INSTRUMENT
                (together, PROSPECT POLICIES)
            %li
                1.5 This Code seeks to protect the quality and integrity of the PROSPECT data and scoring process as well as to the proper
                functioning of the platform so that all users are treated fairly.
        %li.font-bold.my-12
            INTEGRITY
        %ol.list-inside.pl-5
            %li
                2.1 All A2EI employees, contractors, and partners executing work under PROSPECT – will comply with all applicable laws and
                regulations governing their activities in the jurisdictions in which they operate.
            %li
                2.2 A2EI employees will deal fairly and honestly with all PROSPECT platform users.
            %li
                2.3 A2EI will hold the employees working for PROSPECT to high standards of integrity and will not knowingly employ any
                individuals with demonstrably compromised integrity.
            %li
                2.4 PROSPECT employees will not, either implicitly or explicitly, favour any particular PROSPECT user or give any assurance
                or guarantee of a particular scoring.  This does not preclude PROSPECT from getting in touch with registered users to obtain
                clarifications concerning provided data.
            %li
                2.5 A2EI employees will not make a promise or threat to registered users about specific data entries nor will they advise
                anyone to invest in a particular program or project that has been registered in PROSPECT.
            %li
                2.6 A2EI employees are obliged under their employment contracts to report internally activities of which they are aware that
                a reasonable person would question as a potential violation of applicable laws, regulations or this Code.
            %li
                2.7 Any A2EI employee will refrain from any discrimination and harassment act and will seek at all moments equal treatment
                regardless of an individual's characteristics including age, disability, sex, sexual orientation, race, nationality, ethnic
                or national origin, religion or belief, gender reassignment, marital or civil partner status. Any person associated to
                PROSPECT such as, but not limited to contractors, service providers, founders, mentors and  advisors to abide by the terms
                of this clause.
            %li
                2.8 A2EI and any person associated to PROSPECT commits to respect the legal rights of its labour force to health, safety,
                fair wages, benefits, working hours, freedom of association, collective bargaining, no discrimination or harsh treatment,
                no forced labour, and respect labour restrictions related to children pursuant to applicable local laws and/or ILO Labour
                Standards, whichever is the higher standard.
        %li.font-bold.my-12
            INDEPENDENCE
        %ol.list-inside.pl-5
            %li
                3.1 PROSPECT and A2EI employees will use care and professional judgement to maintain both the substance and appearance of
                independence and objectivity.
            %li
                3.2 A2EI will establish, maintain and enforce policies and controls to identify and eliminate, or manage and disclose, as
                appropriate, actual or potential conflicts of interest that may influence the work under PROSPECT.
            %li
                3.3 A2EI personnel will not participate promote or undertake marketing activities in favour of registered users.
        %li.font-bold.my-12
            CONFIDENTIALITY, PROTECTION OF DATA, AND DUE DILIGENCE
        %ol.list-inside.pl-5
            %li
                4.1 PROSPECT assigns the utmost importance to preserving confidentiality and to exercising due diligence in the work carried
                out PROSPECT, especially in our relationship with PROSPER registered users, employees, and partner entities.
            %li
                4.2 Confidential registered user's data belonging to the legal entities registered under PROSPECT is treated strictly as
                such and is not disclosed to third parties under any circumstances unless we have a legal obligation to do so or have
                obtained the prior consent of the respective legal entity.
            %li
                4.3 Any individual or organization executing work under PROSPECT shall abide by the
                %strong
                    PROSPECT DATA PROTECTION POLICY.
        %li.font-bold.my-12
            REPORTING OF COMPLAINTS
        %ol.list-inside.pl-5
            %li
                5.1 PROSPECT encourages users of the platform to report any violations of this Code of Conduct by in accordance with
                the following procedures:
                %ol.list-disc.list-inside
                    %li
                        Report the incident in writing or verbally to Stefan Zelazny by contacting:
                .pl-5
                    E-mail:  stefan.zelazny@a2ei.org.
            %li
                5.2 PROSPECT takes any incidents relating to this Code of Conduct very seriously and complaints will be dealt with in a
                discrete and confidential manner. Reported incidents will be investigated by PROSPECT in a fair, impartial, timely, and
                thorough manner. People involved will be given the opportunity to present relevant information which will be considered
                as part of the process so that PROSPECT can reach a reasonable conclusion.
        %li.font-bold.my-12
            MISCELLENOUS
        %ol.list-inside.pl-5
            %li
                6.1 This Code is not part of any contract with any third party, and no third party shall have any right to enforce any
                of its provisions against PROSPECT, A2EI or other entities participating in PROSPECT.
            %li
                6.2 This Code of Conduct was approved by Thomas Gottschalk and Stefan Zelazny as Managing Directors of A2EI.  All employees
                of A2EI and all individuals who act on behalf of PROSPECT are expected to comply with the spirit and letter of the rules of
                conduct defined in the Code of Conduct. This Code of Conduct forms an integral part of the employment contract of all
                employees. A lack of knowledge of the Code of Conduct shall not be accepted as grounds for non-compliance with these
                principles. Any infringements will result in disciplinary measures.
        %p.mt-12
            The Code of Conduct will be reviewed regularly to ensure that they are in line with A2EI principles and standards as well as
            legal and regulatory changes.
