// MAKE SURE TO UPDATE THE VERSION OF THIS DOCUMENT IN THE application.rb AS WELL IF YOU UPDATE IT HERE
.flex.flex-col.gap-4
    .text-xs.italic
        PROSPECT: Legal Instruments <br />
    %h1.text-center.mb-12
        PROSPECT DATA PROTECTION POLICY
    %p
        PROSPECT, a data platform operated by Access to Energy gGmbH (A2EI), a not-for-profit limited liability
        company registered in the commercial register of the District Court of Charlottenburg (Berlin) and whose
        registered offices are at Paul-Lincke-Ufer 8d, 10999 Berlin (Germany). PROSPECT provides its software on
        an open source, free of charge basis, to help its users collect, aggregate, analyze and display data from
        any modern renewable energy solution.
    %h2.my-6.font-bold
        Information in Accordance with Articles 13 and 14 of the General Data Protection Regulation (GDPR)
    %p
        A2EI takes the protection of your personal data very seriously. For this reason, we have taken measures to ensure
        that both we and our external service providers observe data protection regulations.
        The party responsible pursuant to
        %a.underline(href="https://dejure.org/gesetze/DSGVO/13.html")
            Article 13 Section 1 Letter a of the GDPR
        is A2EI.
    %p
        You can contact the team responsible for editing the Prospect website at: <br />
        Access To Energy gGmbH (A2EI) <br />
        Team Prospect <br />
        Paul-Lincke-Ufer 8D <br />
        10999 Berlin <br />
        Germany <br />
    %p
        E-Mail: prospect@a2ei.org
    %p
        For precise details about the party responsible for the website, see the https://a2ei.org/impressum
    %h2.my-6.font-bold
        Data Processing and Legal Basis
    %p
        The following statement provides you with an overview of how A2EI ensures the protection of your data when you use our
        website and explains what type of data are processed for what purpose and to what extent within our website and other
        linked websites, functions, and content. In addition, we want to inform you about your rights in this regard.
    %p
        The Prospect Data Protection Policy applies regardless of which domains, systems, platforms and devices (e.g. desktop or mobile)
        the website appears.
    %p
        We use terms such as “personal data” or their “processing” according to their definitions in data of the
        %a(href="https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=CELEX:02016R0679-20160504")
            General Data Protection Regulation (GDPR)
    %p
        Ongoing developments to our website and the technologies used to do so may require changes to the Prospect Data Protection
        Policy may become necessary. We therefore recommend that you re-read the Prospect Data Protection Policy from time to time.
    %p
        We reserve the right to make changes to this Data Protection Policy to adapt it to comply with altered legal bases, or in the
        case of changes made to the service or the data processing. To the extent that user consent is required, or components of the
        Data Protection Policy contain regulations of the contractual relationship with the user, such changes will only be implemented
        with the consent of the user.
    %h2.my-6.font-bold
        Data Processing
    %p
        A2EI processes data in the context of Prospect and/or this website
        %ul.list-disc.list-inside
            %li
                so that you can access its pages
            %li
                for sending notifications concerning your data
            %li
                in the use of contact forms
            %li
                when requests are transmitted for data-sharing and
            %li
                for statistical analysis
    %p
        The personal data processed within the framework of Prospect and/or this website includes master data
        (such as your name and e-mail addresses), usage data (such as the pages you have visited on our website) and content data
        (such as information entered on the contact form).
    %p
        We collect these data in this respect on the basis of
        %a.underline(href="https://dejure.org/gesetze/DSGVO/6.html")
            Article 6 Section 1 Letter a and/or b GDPR
        in combination with Section
        %a.underline(href="https://www.gesetze-im-internet.de/bdsg_2018/BJNR209710017.html#BJNR209710017BJNG000300000")
            51 of the BDSG
        in order to be able to make Prospect and/or this website available to you.
    %p
        e only process personal data within the framework of the relevant data protection provisions. This means that we only process
        your data when we have legal permission, particularly if the data processing is required for the performance of our duties
        (such as notifying you on the completion of data entries, data queries, and other) and online services, or if such permission is
        legally prescribed or authorized or if we have the user’s consent for such. Likewise, the storing of personal data is done only
        for as long as is necessary for the purposes for which they are processed and in accordance with
        %a(href="https://dejure.org/gesetze/DSGVO/5.html")
            Article 5 Section 1 Letter e of the GDPR
        and
        %a(href="https://www.gesetze-im-internet.de/bdsg_2018/BJNR209710017.html#BJNR209710017BJNG000300000")
            Section 47 Sub-section 5 of the BDSG
    %p
        Data is collected and exchanged between your browser and our server in response to your data entry requests as well as automatically
        during each of your visits to our website. A2EI automatically collects and stores data (Logfile information) that your browser
        transmits to our server. These data are:
        %ul.list-disc.list-inside
            %li
                the type and version of your Internet browser
            %li
                your operating system
            %li
                the accessed page
            %li
                the page you visited immediately before (Referrer URL)
            %li
                and the date and time of the server query
    %p
        A2EI analyses this automatically generated data specified above solely for statistical purposes to measure the level of demand for
        online services. A2EI has no possible means by which to attribute this data to a specific person. This data is not aggregated together
        with other data sources.
    %p
        The IP numbers are gathered for the duration of your visit so as to facilitate responding to the queries. These IP numbers are stored
        for one year. We collect these data in this respect on the basis of
        %a.underline(href="https://dejure.org/gesetze/DSGVO/5.html")
            Article 5 Section 1 Letter e of the GDPR.
        in combination with
        %a.underline(href="https://www.gesetze-im-internet.de/bdsg_2018/BJNR209710017.html#BJNR209710017BJNG000300000")
            Section 47, Sub-section 5 of the BDSG
        in order to be able to make this website available to you in the normal course of operations of Prospect.
    %p
        Data logged following your data entries and data logged automatically when you access the website are only transferred to third
        parties to the extent that you specifically agree or where we are obligated by law or legal ruling to do so, or such transfer is
        necessary for the prosecution or criminal proceedings in the event of attacks on the Internet infrastructure of A2EI. Such transfer
        does not occur under other circumstances.
    %h2.my-6.font-bold
        Voluntarily Personal Information
    %p
        In some places on the website, Prospect provides for the possibility to volunteer personal information: namely to identify and contact
        data providers. We only store and use such (personal) data solely for the purpose for which you provided it. This data is not provided
        to third parties if this is not expressly declared.
    %p
        All of the information that you receive at these places is also available to you at other sources without providing your data.
        For example, you can directly access https://app.prospect.energy. You can also use means other than electronic contact facilities
        (e. g. e-mail or contact form) to contact us. To this extent the voluntary nature of providing personal data is ensured at all times.
        There are no disadvantages for you if you do not provide your data; in such cases you must at most revert to other means of information
        acquisition.
    %h2.my-6.font-bold
        Cookies
    %p
        So-called session cookies are used for you to navigate our website. Session cookies are small units of information stored by an
        Internet service provider in the main memory of the computer of the individual accessing the website. A randomly generated unique
        identification number known as a session-ID is filed in a session cookie. In addition, a cookie also contains information regarding
        its origin and retention period. These cookies cannot store any other data. The session cookies are only stored for the duration of
        the current visit to our website. They are deleted when you finish using our website and you for example log out or close your browser.
        In this regard also we only process your personal data for the provision of the website on the basis
        %a.underline(href="https://dejure.org/gesetze/DSGVO/6.html")
            Article 6 Section 1 Letter a and/or b of the GDPR
        in combination with Section
        %a.underline(href="https://www.gesetze-im-internet.de/bdsg_2018/BJNR209710017.html#BJNR209710017BJNG000300000")
            51 of the BDSG
    %h2.my-6.font-bold
        Handling Cookies
    %p
        All Internet browsers can control cookies. Most browsers are set up so that all cookies are accepted without asking the user. If you
        want to use the full functional capacity of the website then you should set your browser settings to accept session cookies. If you
        don't want cookies to be stored on your computer then you should deactivate the corresponding option in your browser's system settings.
    %p
        If you do not accept all cookies:
        %ul.list-disc.list-inside
            %li
                no messages can be sent using the contact form; and
            %li
                you can not log-in into Prospect and use the service provided
    %p
        We do not use cookies for pseudonymous range measurement. You can generally reject the use of cookies that are used for range
        measurement and advertising purposes via the deactivation page of the Network Advertising Initiative and additionally this
        %a(href="https://optout.aboutads.info/?c=2&lang=EN")
            US website
        or this
        %a(href="https://www.youronlinechoices.com/uk/your-ad-choices")
            European website
    %h2.my-6.font-bold
        Newsletter
    %p
        The newsletter provides information regarding the latest news from A2EI. The newsletter will only be sent to you if you register
        for it.
    %p
        To register for the newsletter all you need to do is provide your e-mail address. This e-mail address and the newsletter list you
        have selected are stored on a server. We only use these data for sending the newsletter. The data sets for statistical evaluations
        are used for analyzing the system performance. We do not pass your data on to third parties or use it for other purposes of our own.
    %p
        Registration for our newsletter is conducted in what is called a Double-Opt-In process. This means that after registering you are
        sent an e-mail in which you are requested to confirm your registration. This confirmation is necessary so that no one can register
        with e-mail addresses that are not their own. The registrations for the newsletter are logged so as to verify that the registration
        process complies with the legal requirements. This includes the storage of the time of registration and of the corresponding
        confirmation.
    %p
        By subscribing to our newsletter you agree to receive the newsletter and to the registration process described above.
    %p
        You can withdraw this consent at any time. You can also delete your address at any time by using a corresponding link at the end of
        each newsletter. Your data will then be automatically deleted without delay.
    %p
        For statistical purposes we analyze the visitor numbers to the newsletter. This process can include the transmission of data on
        clicking and reading conduct (access time, newsletter opening, duration of access, clicks on articles…). Allocation to the specific
        recipients of the newsletter is not possible. We only receive aggregated analyses (x people read Article y). Profiling also does not
        take place. The information is used for the technical and editorial improvement of our services.
    %p
        The statistical collection and analyses as well as the logging of the registration procedure are conducted on the basis of
        %a.underline(href="https://dejure.org/gesetze/DSGVO/6.html")
            Article 6 Section 1 Letter a and/or b of the GDPR
        in combination with Section
        %a.underline(href="https://www.gesetze-im-internet.de/bdsg_2018/BJNR209710017.html#BJNR209710017BJNG000300000")
            51 of the BDSG
        for as long as necessary for the purposes for which (personal) data is processed, as well as for verification of the received consent
        in accordance with
        %a.underline(href="https://dejure.org/gesetze/DSGVO/7.html")
            Article 7 Section 1
        in combination with
        %a(href="https://dejure.org/gesetze/DSGVO/5.html")
            Article 5 Section 1 Letter b
        of the GDPR.
    %h2.my-6.font-bold
        Contact A2EI
    %p
        When you contact us (per contact form or e-mail) the user information is used for processing and handling the contact query, and as
        necessary for the purpose for which (personal) data is being processed in accordance with
        %a(href="https://dejure.org/gesetze/DSGVO/6.html")
            Article 6 Section 1 Letter a and/or b of the GDPR
        in combination with Section
        %a(href="https://www.gesetze-im-internet.de/bdsg_2018/BJNR209710017.html#BJNR209710017BJNG000300000")
            51 of the BDSG
    %p
        If you send us an e-mail it and your e-mail address are used only for the correspondence with you. In the case of API integrations
        for automated data exchange the personal data (credentials) you provide is only transferred to third parties for the transaction of
        the provision of requested data. Following the fulfilment of or response to the query your information is deleted or, as needed in
        file-related procedures, stored in accordance with the applicable data protection regulations for records management.
    %h2.my-6.font-bold
        Your Rights
    %ul.list-decimal.list-inside
        %li
            Right to information: You have the right at any time to receive information on the stored data related to your person without the
            necessity of providing any forms or reasons. This also applies for the origin and recipients of such information, and for the
            purpose of data storage. You will receive this information free of charge
            %a.underline(href="https://dejure.org/gesetze/DSGVO/15.html")
                Article 15 GDPR.
            Information on this stored data is provided to you by the A2EI at: https://a2ei.org/impressum
        %li
            Right of rectification, right of revocation and additional rights: You additionally have the right of rectification regarding
            incorrect data, the restriction of processing and the deletion of your personal data (
            %a.underline(href="https://dejure.org/gesetze/DSGVO/16.html")
                Article 16 GDPR,
            %a.underline(href="https://dejure.org/gesetze/DSGVO/17.html")
                Article 17 GDPR,
            %a.underline(href="https://dejure.org/gesetze/DSGVO/18.html")
                Article 18 GDPR
            ). In the event of the acceptance of unlawful data processing, you can submit a complaint at any time to Stefan Zelazny,
            stefan.zelazny@a2ei.org. If you have provided us with consent, you are fundamentally entitled to revoke this consent for
            the future (
            %a.underline(href="https://dejure.org/gesetze/DSGVO/7.html")
                Article 7 GDPR
            ).
        %li
            Right of objection: To the extent that we process your personal data not on the basis of your consent, but instead on the basis
            of legal circumstances as described in
            %a.underline(href="https://dejure.org/gesetze/DSGVO/6.html")
                Article 6 Section 1 Letter c GDPR
            , you are entitled at any time to object to the future processing of your personal data for reasons related to your particular
            situation (
            %a.underline(href="https://dejure.org/gesetze/DSGVO/21.html")
                Article 21 GDPR
            ).
        %li
            Deletion of data: The data that we store are deleted as soon as they are no longer necessary for their intended purpose and their
            deletion is not impeded by any legal storage requirement obligations. To the extent that the user data are not deleted because
            they are required for other and for legally permissible purposes, the processing of such data is restricted. This means that the
            data are blocked and not processed for other purposes.
    %h2.my-6.font-bold
        Check Your Data
    %p
        You can use any Internet browser to show you if cookies have been stored and what information they contain. Detailed information on
        this is provided by the
        %a.underline(href="https://www.datenschutz.de/")
            virtual data protection office of the national and state Data Protection Officers in Germany
        (in German only).
    %h2.my-6.font-bold
        Social Media
    %p
        This website uses various social media services and other third party services. Some of these are designed so that data is only
        transferred following your consent or in the event of certain activities (sharing links).
    %p
        If you activate the Social Media services, you must observe their data protection regulations.
    %p
        A2EI does not publish any relevant content exclusively on its Facebook page or Twitter channel. All relevant information can be
        accessed on the website of Prospect.
        %sup
            1
    %h2.my-6.font-bold
        Contact
    %p
        For further information regarding the handling of personal data at A2EI, please contact Stefan Zelazny at: Stefan.zelazny@a2ei.org .
    %h2.my-6.font-bold
        Responsibility for the website
    %p
        %span.underline
            Alternative 1:
        For precise details about the party responsible for the website, see https://a2ei.org/impressum
    %h2.my-6.font-bold
        Responsible for the content
    %p
        Stefan Zelazny, stefan.zelazny@a2ei.org
    %h2.my-6.font-bold
        Online editorial
    %p
        Lisa Schwarz, lisa.schwarz@a2ei.org
    %h2.my-6.font-bold
        Legal notice
    %p
        We make every endeavour to update and ensure the correctness of all information provided on our website. Despite our best efforts, it
        is not possible to fully exclude the occurrence of errors. Consequently we are unable to offer any guarantee that the content is
        complete, correct or up to date. We accept no liability for any damage of a material or immaterial nature caused as a result of using
        this service, unless such damage may be proven to have been caused by premeditation or gross negligence.
    %p
        A distinction must be made between actual content provided by us and links embedded in the website to content from other providers.
        By providing these links, we are simply facilitating access to the use of third-party content in accordance with
        %a.underline(href="https://www.gesetze-im-internet.de/tmg/__8.html")
            Art. 8 of the German Telemedia Act.
        The operator is unable to assume any responsibility for the content and availability of third-party websites which can be accessed
        through external links from this site. The publisher wishes to distance itself expressly from any content which may be of potential
        relevance in terms of criminal or liability law, or which might offend against public decency.
    %p
        A2EI takes the protection of your personal data very seriously. All information relating to your personal data protection is provided
        on the data protection page.
    %p
        The layout of the website, the graphics used as well as pictures and articles are protected by copyright. The pages may only be
        reproduced exclusively for private use without amendment, and no copies may be distributed without our prior consent. Reproduction
        and evaluation of press releases and graphics or pictures offered for downloading is admissible.
    %h2.my-6.font-bold
        Information on obligations for eventual dispute resolution matters
    %p
        A2EI provides PROSPECT platform for users to input and store data. While A2EI takes measures to ensure the security of the platform,
        it does not assume responsibility for the accuracy or reliability of the data entered by users. Additionally, A2EI is not liable for
        any damages or losses resulting from the use of the platform or the data stored therein.
    %p
        By using the PROSPECT platform, users agree to hold A2EI harmless from any claims or liabilities arising from the use of the platform
        or the data stored therein.
    .text-xs
        %sup
            1
        Further guidance for specific social media channels, e.g., Facebook, Youtube, etc, can be provided in this Data Protection Policy
        if relevant to PROSPECT.
    %strong.text-center.mt-12
        Silvestrum Climate Associates
