- # this is now a hybrid between a burger menu and a "normal" dropdown
- # based on the amount of links and if there is a title or not
- rotate = local_assigns[:title] ? '' : '-rotate-90 text-primary'
- heroicon_options = local_assigns[:heroicon_options].presence || {}
- "focus:-rotate-90" # please add this class tailwind...
%div{data: {controller: :dropdown}, class: "relative"}
  - if local_assigns[:links].count > 1
    %button{type: :button, data: { action: "dropdown#toggle click@window->dropdown#hide"},
            class: "focus:#{rotate} transition-transform inline-block hover:bg-grey-2 text-sm rounded-lg px-1 py-1"}
      - icon = local_assigns[:icon] || "bars-3"
      = local_assigns[:title] ? local_assigns[:title] : heroicon(icon, options: heroicon_options)
      - if !local_assigns[:title].nil?
        %span{class: "text-black float-right"}
          = heroicon("chevron-down")

    %div{class: "hidden transition transform shadow origin-top-right absolute right-0 border border-grey-2 bg-grey-1 p-3 rounded-lg z-10",
        data: { "dropdown-target" => "menu", "transition-enter-from" => "opacity-0 scale-95",
                "transition-enter-to" => "opacity-100 scale-100",
                "transition-leave-from" => "opacity-100 scale-100",
                "transition-leave-to" => "opacity-0 scale-95" }}
      - local_assigns[:links].each_with_index do |l, i|
        - unless i == 0
          %div.w-full.border-b.border-dotted.h3.pt-1.mb-1{class: "border-dark/20"}
        - text = i == 0 && local_assigns[:attention] ? "font-semibold" : ""
        %a{href: l.first, data: {action: "dropdown#toggle"}, onClick: "vault.lockVault()", class: "whitespace-nowrap px-3 hover:text-primary #{text}"}
          = l.last
  - else
    - # if have only one item, no dropdown menu is generated
    %a{href: local_assigns[:links].first.first, data: {action: "dropdown#toggle"}, class: "whitespace-nowrap px-3 hover:text-primary"}
      = local_assigns[:links].first.last

- if local_assigns[:attention]
  %span{class: "relative flex h-4 w-4 -ml-3 pointer-events-none"}
    %span{class: "animate-ping absolute inline-flex h-full w-full rounded-full bg-primary opacity-90 -m-1" }
    %span{class: "relative inline-flex rounded-full h-2 w-2 bg-primary" }
