#flash
  - flash.select{|_, v|v.present?}.each do |flash_type, flash_msg|
    .mt-4.w-full.rounded-lg.shadow.text-dark.py-3.text-sm.text-center{class: flash_type == "alert" ? "bg-pink/30" : "bg-primary/30", id: "flash-#{flash_type}"}
      = flash_msg
