- @slim_header ||= false
- height_class = @slim_header ? "h-8" : "h-12"
- header_border = "border-solid border-b-2 border-grey-2" # unless @slim_header

%header.py-1.px-4{class: header_border}
  .mx-auto.max-w-5xl.w-full.flex.gap-x-3.items-center{class: height_class}
    #home.flex-none{class: @slim_header ? "" : "mr-4"}
      = link_to "/", title: "Home" do
        = image_tag Rails.application.config.theme[:logo], class: "h-7 mr-3"
    - if @slim_header
      .flex.justify-start.items-center{class: "grow-[3]"}
        .font-bold.text-xl.mr-3
          = render "page_title"
        .page-actions.flex.flex-row.gap-x-1.basis-auto.nowrap
          = yield :page_actions
    #site_menu.flex.justify-start.gap-x-1{class: @slim_header ? "" : "grow"}
      - if Rails.application.config.env_hint
        %strong.flex.items-center.text-sm.text-pink
          = Rails.application.config.env_hint
      - if Current.user
        - if policy(:analytics).index?
          = render "header_icon", link: analytics_path, icon: "chart-bar-square", title: "Analytics", show_title: !@slim_header
        - if policy(:exports).index?
          = render "header_icon", link: exports_path, icon: "folder-arrow-down", title: "Export", show_title: !@slim_header
        = render "header_icon", link: projects_path, icon: "bars-arrow-up", title: "Import", show_title: !@slim_header
        - if policy(:rbf_claim).index?
          = render "header_icon", link: rbf_claims_path, icon: "arrow-trending-up", title: "RBF", show_title: !@slim_header
      - if current_user&.admin?
        = render "header_icon",  link: prospect_admin_root_path, icon: "cog-6-tooth", title: "Admin", show_title: !@slim_header
      = render "header_icon",  link: docs_path, icon: "book-open", title: "Docs", show_title: !@slim_header
    #user_menu.flex.justify-end.gap-x-1
      - if Current.user
        = render "header_icon", link: me_users_path, icon: "user", section: "User", title: Current.user, show_title: !@slim_header
        = render "header_icon", link: organizations_mine_path, icon: "users", title: Current.organization, section: "Organization", show_title: !@slim_header

        - org_links = []
        - if Current.user.invitations.any?
          - org_links << [invitations_users_path, "Pending Invitations"]
          - attention = true
        - if Current.user.organizations.count > 1
          - org_links += Current.user.organizations.map{ |o| [switch_organization_users_path(organization_id: o.id), o.name] }
        - else
          - org_links += Current.user.organizations.map{ |o| [organizations_mine_path, o.name] }
        - if org_links.count > 1
          = render "dropdown_menu", links: org_links, icon: "chevron-up-down", attention: attention, heroicon_options: { disable_default_class: true, class: "h-5 w-5" }
        - if Current.organization&.encryption_keys?
          = render "vault"
        -# little spacer
        %span{class: @slim_header ? "" : "w-3"}
        = render "header_icon", link: logout_users_path, icon: "arrow-right-on-rectangle",
                                data: {turbo_method: :post}, title: "Logout",
                                show_title: false
