-# top menu bar icon links / menus...
-#
-# MUST get those local assigns
-#  - icon : heroicon name
-#  - link : path to link to
-#  - title : Show what the links is for
-#
-# CAN get those
-#  - data : a hash of data options for link, eg. turbo...
-#
-# TODO:
-#  - put in a submenu
-#  - give human readable thing (if not just render icon)
-#

- local_assigns[:data] ||= {}
- local_assigns[:link_to_args] ||= {}
- show_icon = local_assigns[:show_icon].nil? ? true : local_assigns[:show_icon]
- show_title = local_assigns[:show_title].nil? ? true : local_assigns[:show_title]

- icon_section = local_assigns[:section] || local_assigns[:title]
- is_active = icon_section == @header_section

= link_to local_assigns[:link], title: local_assigns[:title], data: local_assigns[:data], **local_assigns[:link_to_args] do
  .flex.flex-row.flex-nowrap.items-center.px-2.py-1.rounded-lg.text-sm.text-grey-6{class: is_active ? "bg-grey-2" : "hover:bg-grey-2"}
    - if show_icon
      = heroicon local_assigns[:icon], variant: :outline, options: { disable_default_class: true, class: "text-grey-4 h-5 w-5" }
    - if show_title
      - title_classes = %w[truncate max-w-24 hidden lg:block]
      - title_classes << "ml-1" if show_icon
      %span{class: title_classes.join(" ")}
        = local_assigns[:title]
