- prefix = Rails.application.config.theme[:prefix]
-# page title either defined from controller inst var @page title
-# or yielded from view with content_for :page_title
- page_title = if defined?(@page_title)
  - @page_title
- else
  - yield :page_title

- if local_assigns[:include_env]
  = [prefix, Rails.application.config.env_hint, page_title].compact.join " - "
- else
  = page_title