%div{class: "relative w-full", data: { controller: "password-visibility" }}
  = yield
  %button{class: "absolute inset-y-0 right-0 flex items-center pr-5 text-dark/30", tabindex: "-1", type: :button, data: {action: "password-visibility#toggle"}}
    %span.hidden{data: {"password-visibility-target": :icon}}
      = heroicon "eye-slash"
    %span{data: {"password-visibility-target": :icon}}
      = heroicon "eye"
