- nested = local_assigns[:nested]
- panel_class = nested ? "hidden py-4 px-4 border-l border-b border-r border-grey-2" : "hidden pt-8"

%div{ class: panel_class, data: { "tabs-target": "panel" }}
  = yield