- titles = local_assigns[:titles]
- nested = local_assigns[:nested]

- active_class = nested ? "border-l border-t border-r rounded-t border-grey-2 bg-white" : "bg-grey-2"
- title_text_class = nested ? "text-l" : "text-xl"
- bar_class = "border-b border-b-grey-2"

%div{ data: { controller: "tabs", "tabs-inactive-tab-class": "hover:bg-grey-1", "tabs-active-tab-class": active_class }}
  %ul{ class: "list-reset flex gap-x-1 #{bar_class}"}
    - titles.each do |t|
      %li{ id: t.parameterize, class: "cursor-pointer -mb-px", data: { "tabs-target": "tab", "action": "click->tabs#change:stop"}}
        - if nested
          %a{ class: "inline-block py-2 px-4 font-semibold no-underline #{title_text_class}" }
            = t
        - else
          %a{ class: "inline-block py-2 px-4 font-semibold no-underline #{title_text_class}", href: "##{t.parameterize}" }
            = t

  = yield