// MAKE SURE TO UPDATE THE VERSION OF THIS DOCUMENT IN THE application.rb AS WELL IF YOU UPDATE IT HERE
.flex.flex-col.gap-4
    .text-xs.italic
        PROSPECT: Legal Instruments
    .br
    %h1.text-center.mb-12
        PROSPECT: TERMS OF USE
    %p
        PROSPECT is a data platform operated by
        %strong
            Access to Energy to Energy gGmbH (A2EI)
        , a not-for-profit
        limited liability company registered in the commercial register of the District Court of Charlottenburg
        (Berlin) and whose registered offices are at Paul-Lincke-Ufer 8d, 10999 Berlin (Germany). PROSPECT
        provides its software on an open source, free of charge basis, to help its users collect, aggregate,
        analyze and display data from any modern renewable energy solution. PROSPECT grew out of a
        cooperation between
        %strong
            A2EI
        and
        %strong
            GET.invest
        , supported by of the European Union, Germany, Sweden, the Netherlands, and Austria.
    %p
        The Prospect: Terms of Use set out the terms on which A2EI makes PROSPECT available to its users,
        whether as a guest or as a registered user.
    %p
        Please read the Terms of Use carefully before you start to use PROSPECT and/or this website. When
        you continue from these Terms of Use to the PROSPECT data platform, you agree to these Terms of
        Use, and you accept the policies referred to below, including the
        %strong
            PROSPECT DATA PROTECTION POLICY,
        %strong
            the PROSPECT CODE OF CONDUCT
        and the
        %strong
            PROSPECT METHODOLOGY AND GUIDELINES
        (altogether the “PROSPECT POLICIES”).
    %ol.list-decimal.list-inside
        %li.my-12
            PRINCIPLES GOVERNING THE USE OF PROSPECT PLATFORM
        %p
            The use of the PROSPECT platform by users from any geographical area shall be guided by the following principles:
        %ol.list-inside.pl-5
            %li
                1.1 Access to the PROSPECT platform is open to any individual or organisation. In the case of an
                organization, legal personality is required.
            %li
                1.2 The use of PROSPECT and its functionalities and data is strictly voluntary and free-of-charge.
            %li
                1.3 Users may freely use PROSPECT, provided it is in conformity with these Terms of Use and any
                applicable law.
            %li
                1.4 PROSPECT does not collect your data other than at your instigation and your full control.
                PROSPECT provides the platform functionalities only https://prospect.energy/m_and_g.
            %li
                1.5 PROSPECT is not responsible for data content, data veracity or completeness.
            %li
                1.6 PROSPECT strives to collect datasets only that are devoid of PPIs (Personally Identifiable
                Information). Where there is a risk that PPI is collected and processed, PROSPECT commits to
                full and irreversible anonymization.
            %li
                1.7 That notwithstanding, it may not be possible in each and every case to avoid the collection of
                PPI or to fully anonymize. It is therefore the obligation of the user/data provider to seek all
                relevant consents and authorizations from the individuals concerned.
            %li
                1.8 A2EI and any entity or individual operating under PROSPECT shall be obliged to comply with
                PROSPECT: DATA PROTECTION POLICY.
            %li
                1.9 PROSPECT reserves the right at all times to request anonymization or the removal of any data
                at risk of PPI or of a violation of the PROSPECT: DATA PROTECTION POLIY.
            %li
                1.10 Users/data providers are the data owners, which excludes ownership of the
                functionalities provided by PROSPECT, including graphical dashboard and visualization
                functionalities.
            %li
                1.11 Data provider users shall have sole responsibility for the legality, reliability, accuracy,
                and quality of data provided to PROSPECT platform, as well as their use. Only user/data
                providers can upload, modify or update their data, and share it with other users.
            %li
                1.12 PROSPECT provides users/data providers with the functionality to share all their
                datasets or segments thereof, including dashboards and reports. PROSPECT will not provide
                access to any third party without the express consent of the user/data provider.
            %li
                1.13 A2EI strives to manage PROSPECT transparently and in accordance with the PROSPECT
                POLICIES and will present data provided by its users/data providers in a clear, consistent,
                structured and simply accessible format. Users/data providers can remove and transfer their
                data at any time.
            %li
                1.14 A2EI shall not be liable for the use of data, dashboards, schemes, or other types of
                information available in PROSPECT and shared by users/data providers with other registered
                users following the express consent of the use/data provider.
        %li.my-12
            ACCESS AND CONTINUOUS SERVICE
        %ol.list-inside.pl-5
            %li
                2.1 A2EI does not guarantee continuous access to PROSPECT for any users. PROSPECT may be
                unavailable at times for technical maintenance, redesign, or other operational tasks.
            %li
                2.2 A2EI reserves the right to suspend or cease operations. Where practical, any suspension of halt
                of operations will be communicated on the website to users, with the aim to make such
                communication within a reasonable time prior such suspension or halt of operations takes
                effect.
            %li
                2.3 A2EI is not responsible for any inadvertent data loss. Users/data providers must have adequate
                data back-up systems in place to mitigate any risks of inadvertent data loss.
            %li
                2.4 In case PROSPECT changes any system functionalities, it is the responsibility of users/data
                providers to update and, where needed, make relevant changes in their datasets to ensure
                continued data operations.
            %li
                2.5 While committing to the principles of non-discrimination and equal access in accordance with its
                %strong
                    CODE OF CONDUCT
                , A2EI reserves the right to withdraw access of specific users or groups
                of users from any of the PROSPECT functionalities and/or to make data content related specific
                users or groups of users unavailable, in case it reasonably concludes that the users concerned
                violate the
                %strong
                    PROSPECT: TERMS OF USE
                or any of the other
                %strong
                    PROSPECT POLICIES
                , provide and/or communicate fraudulent and/or knowingly false information, maintain information that is no
                longer accurate, or misuse PROSPECT in any way that is detrimental to other users or potential
                users or threatens the integrity of Prospect.
            %li
                2.6 A2EI may also suspend or terminate data access and/or make data unavailable in case a user
                ceases operations, becomes insolvent or is subject to a judgment, rule, order, statement of
                claim which might adversely affect the data integrity concerned.
        %li.my-12
            LIMITS OF USE
        %ol.list-inside.pl-5
            %p
                By providing data to the platform and/or by accessing data within the platform, you agree not to use
                PROSPECT or any data in PROSPECT:
            %li
                3.1 In any way that breaches any applicable local, national, or international law or regulation;
            %li
                3.2 in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;
            %li
                3.3 in any way that could promote acts of discrimination or harassment or that would exploit
                anyone on the grounds of disability, sex, sexual orientation, race, nationality, ethnic or national
                origin, religion or belief, gender reassignment, marital or civil partner status;
            %li
                3.4 to send, knowingly receive, upload, download, use, or re-use any material which does not
                comply with the Terms of Use or the PROSPECT Policies or as set out below;
            %li
                3.5 to transmit, or procure the sending of, any unsolicited or unauthorized advertising or
                promotional material or any other form of similar solicitation (spam); or
            %li
                3.6 to knowingly transmit any data, send or upload any material that contains viruses, Trojan
                horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful
                programs or similar computer code designed to adversely affect the operation of any computer
                software or hardware.
        %li.my-12
            OPENING A REGISTRY ACCOUNT IN PROSPECT
        %ol.list-inside.pl-5
            %li
                4.1 A user may request registration with Prospect. Registration is necessary for any user that
                wishes to provide any data related to modern renewable energy solutions (“Data Provider”) or
                to have access to the data uploaded (“Data Recipient”) in the PROSPECT platform in conformity
                with the
                %strong
                    PROSPECT METHODOLOGY AND GUIDELINES.
            %li
                4.2 When making the request for registration, the user guarantees
                %ol.list-inside.pl-10
                    %li
                        4.2.1 Being legally competent to register or having legal personality as recognized under German law;
                    %li
                        4.2.2 Having ownership of all data it will provide to Prospect or sufficient authorization
                        concerning such data provision;
                    %li
                        4.2.3 Legal compliance with all applicable laws when providing the data to PROSPECTT,
                        including relevant laws on data protection of individuals whose data are concerned,
                        taking into account Prospect's s principles of encryption and anonymization as laid out
                        below in https://prospect.energy/m_and_g#encryption.
                    %li
                        4.2.4 Legal compliance with the Terms of Use and the PROSPECT Policies.
            %li
                4.3 The user shall provide to PROSPECT sufficient identification information or other background
                check requirements in accordance with the
                %strong
                    PROSPECT METHODOLOGY AND GUIDELINES
                (https://prospect.energy/m_and_g#encryption).
            %li
                4.4 PROSPECT may, at its absolute discretion, refuse to register a user if any of the above conditions are not met.
            %li
                4.5 A registered user must treat identification codes, passwords and/or any other piece of
                information related to the user’s access to Prospect as confidential and take appropriate steps
                of protection to avoid disclosure to any unauthorized third party. PROSPECT shall have the right
                to disable any registered user identification code or password, if in our opinion registered users
                have failed to comply with any of the provisions of these Terms of Use.
            %li
                4.6 Registered users are responsible for ensuring that all persons who they authorize to access
                PROSPECT through their registry account be aware of the Terms and Conditions and the
                Prospect Policies, and that they always comply with them.
        %li.my-12
            PROVISION AND MAINTENANCE OF DATA
        %ol.list-inside.pl-5
            %li
                5.1 Whenever a registered data provider user upload material to PROSPECT, make contact with
                other registered users or agrees to share material or information with other registered users,
                it shall comply with all these terms and
                %strong
                    PROSPECT METHODOLOGY AND GUIDELINES
                (https://prospect.energy/m_and_g). The registered data provider user warrants that any such
                contribution complies with all PROSPECT Policies
            %li
                5.2 At any moment when using PROSPECT, registered data provider users shall procure that:
                %ol.list-inside.pl-10
                    %li
                        5.2.1 the data and information uploaded to the PROSPECT database are – to the best of the
                        data provider's knowledge – accurate;
                    %li
                        5.2.2 it will keep information updated;
                    %li
                        5.2.3 the information and data provided – including any links included – have been legally
                        obtained and is shared made without incurring in breach of any legal duty owed to a
                        third party, such as a contractual duty or a duty of confidence;
                    %li
                        5.2.3 the information and data provided – including any links included – have been legally
                        obtained and is shared made without incurring in breach of any legal duty owed to a
                        third party, such as a contractual duty or a duty of confidence;
                    %li
                        5.2.5 any contribution of information or data, including of any links included by the provider,
                        respects the national applicable laws of the country from which the information is
                        provided, including consumer and data protection laws.
            %li
                5.3 PROSPECT keeps the right to request the registered data provider user the correction of data
                or request further clarifications.
            %li
                5.4 In the event that PROSPECT rejects or marks data as inconclusive following a data completeness
                check, a registered user / data provider user will be given the opportunity to comment and
                improve its datasets, in accordance with the
                %strong
                    PROSPECT METHODOLOGY
                (https://prospect.energy/m_and_g).
            %li
                5.5 PROSPECT keeps the right to remove any material or information provided by users if, in
                PROSPECT´s opinion, such material does not comply with
                %strong
                    PROSPECT POLICIES
                (https://prospect.energy/m_and_g#policies).
        %li.my-12
            DATA OWNERSHIP AND INTELLECTUAL PROPERTY RIGHTS
        %ol.list-inside.pl-5
            %li
                6.1 All data provided to PROSPECT by registered data provider users is the property of the
                registered data provider user. The sharing of information or data to other registered users shall
                be subject to the express consent of the registered data provider user.
            %li
                6.2 The text, images, methodologies, the code and arrangement of the contents PROSPECT
                contains is the property of PROSPECT and shall not be reproduced without the express
                permission of PROSPECT.
        %li.my-12
            LIMITATIONS OF LIABILITIES
        %ol.list-inside.pl-5
            %li
                7.1 A2EI makes no representation or warranty of any kind with respect to this PROSPECT site or
                service accessible through this site by registered or non-registered users. While A2EI seeks to
                guarantee that the data and other information on PROSPECT e are correct and complete, it
                does not accept liability for any error made or omission from this site. For the avoidance of
                doubt, A2EI is under no obligation to verify or otherwise enquire into the validity of the
                information and data provided by registered users. A2EI expressly disclaims all express and
                implied warranties including, but not limited to, fitness for a particular purpose, title, and noninfringement. A2EI shall not be liable for loss of income, contracts, revenue, business, profits
                or goodwill.
            %li
                7.2 Information contained in PROSPECT must not be considered as financial, legal, or other
                professional advice. The PROSPECT materials are intended for general guidance and awareness.
            %li
                7.3 PROSPECT shall not be responsible, or liable to any third party, for the content or accuracy of
                any materials posted by registered users.
            %li
                7.4 PROSPECT does not warrant that the software programs used in the PROSPECT platform will
                be error or bug-free, secure, or free from service disruption.
            %li
                7.5 The user acknowledges that service or maintenance disruptions may occur from time to time,
                including delays, omissions or interruptions.
        %li.my-12
            PROTECTION OF PRIVATE INFORMATION
        %p
            PROSPECT will ensure the protection of user's personal data in accordance with the
            %strong
                PROSPECT DATA PROTECTION POLICY
            (https://prospect.energy/data_protection_policy) based on the EU General Data
            Protection Regulation (GDPR regulation), Privacy Policy (Cookies directive) and German data protection
            laws. The users/data providers are responsible fgor the compliance with any relevant data protection
            provisions concerning their suppliers, clients, and users.
        %li.my-12
            THIRD PARTY LINKS
        %p
            In the case PROSPECT platform includes links to other websites or to resources provided by third
            parties, these links are provided for PROSPECT user'sinformation only. PROSPECT does not have control
            over the contents of those sites or resources, and accepts no responsibility for them or for any loss or
            damage that may arise from their use.
        %li.my-12
            LINK TO THE PROSPECT WEBSITE
        %p
            Users may link to the PROSPECT home page, provided that the linking is legal and that does not affect
            PROSPECT reputation. Users will refrain from including a link in its webpage that might suggest, explicit
            or implicitly, a form of association, partnership, approval or endorsement by PROSPECT.
        %li.my-12
            PREVENTING PLATFORM MISFUNCTIONS
        %ol.list-inside.pl-5
            %li
                11.1 PROSPECT users must refrain from actions that damage, interfere or disrupt access to
                PROSPECT platform, in particular, but not limited to:
            %ol.list-inside.pl-10
                %li
                    11.1.1 Users should not misuse PROSPECT's site by knowingly introducing viruses, trojans,
                    worms, logic bombs or other material which is malicious or technologically harmful.
                %li
                    11.1.2 Users should not attempt to gain unauthorized access to PROSPECT site.
            %li
                11.2 In case of breaching this provision, PROSPECT will report any such potential breach to
                the relevant law enforcement authorities, and we will co-operate with those authorities by
                disclosing the user identify and user right's will cease immediately.
            %li
                11.3 PROSPECT will not be liable for any loss or damage caused by a distributed denial-ofservice attack,
                viruses or other technologically harmful material that may infect your computer
                equipment, computer programs, data or other proprietary material due to your use of our site
                or to your downloading of any material posted on it, or on any website linked to it.
        %li.my-12
            APPLICABLE LAW AND JURISDICTION
        %ol.list-inside.pl-5
            %li
                12.1 These Terms of Use and any dispute or claim arising from it shall be governed by and
                construed in accordance with the laws of Germany.
            %li
                12.2 You may bring any suit or proceedings related to these Terms of Use and their
                application exclusively in the courts of Berlin, Germany, except in all instances in which German
                law demands that a suit or proceedings may be brought in another jurisdiction or specifically
                allows that another jurisdiction shall (also) have jurisdiction, in which case the jurisdiction of
                the courts of Berlin, Germany, shall be optional only (if German law so permits).
            %li
                12.3 A2EI retains the right to bring a suit or proceedings against users for breach of these
                Terms and Conditions in the courts of Berlin, Germany, or in your country of residence or any
                country of your operations.
        %li.my-12
            UPDATE OF TERMS OF USE
        %p
            These Terms of Use may be revised at any time by amending this page. Users are responsible for
            regularly reviewing these Terms and Conditions and/or the
            %strong
                PROSPECT DATA PROTECTION POLICY.
            (https://prospect.energy/data_protection_policy)
            The continued use of PROSPECT website constitutes the user agreement to all such amended terms and conditions and/or
            %strong
                PROSPECT DATA PROTECTION POLICY.
            (https://prospect.energy/data_protection_policy).
        %li.my-12
            EXCLUSION
        %p
            Nothing in these Terms of Use creates a relationship of principal/agent, employer/employee, joint
            venture or partnership between PROSPECT and users.
        %li.my-12
            CONCERNS AND CLARIFICATIONS
        %p
            Users can contact prospect@a2ei.org in case of questions concerning the material displayed in
            PROSPECT or should they have any questions concerning the functioning of the PROSPECT platform.
    %p
        By continuing to access and use PROSPECT, you are confirming that you have read and accept the
        contents of these terms.

