%div{"data-controller": "modal vault", "data-crypto-options": Current.organization.crypto_options.to_json}
  %dialog.p-8.rounded-lg{class: "backdrop:bg-black/80", "data-modal-target": "dialog"}
    %div{"data-vault-target": "unlockDialog", "data-controller": "password-visibility"}
      %label.text-black.px-2 Password
      = render "secret_visibility_wrapper" do
        %input{type: :password, data: {"password-visibility-target": :input, "vault-target": "decryptPassword"}, value: "", id: :decrypt_password, **tw_password_input_args("w-full flex")}
      %button.rounded-lg.hover:bg-grey-2.text-primary.ml-4.py-2.px-4{"data-action": "click->modal#close", "data-vault-target": "cancel" } Cancel
      %button.rounded-lg.hover:bg-grey-2.text-primary.py-2.px-4{"data-action": "click->modal#close", "data-vault-target": "openVault"} Open Vault
    %div{"data-vault-target": "lockDialog", class: "hidden"}
      %button.rounded-lg.hover:bg-grey-2.text-primary.py-2.px-4{"data-action": "click->modal#close", "data-vault-target": "lockVault"} Lock Vault
  = render "header_icon", link: "javascript:;", icon: "lock-closed", title: "Vault", show_title: false, data: { action: "modal#open", "vault-target": "lock" }
  // unlock icon that is used by the vault to signal the opened vault
  = heroicon "lock-open", variant: :outline, options: { disable_default_class: true, class: "text-grey-4 h-5 w-5 hidden", "data-vault-target": "unlock"}