- claims = local_assigns[:claims]
- table_id = local_assigns[:table_id]

- if claims.none?
  .no-projects.text-grey-4
    None available
- else
  - are_organization_claims = Current.organization == claims.first.organization
  %div{data: {controller: "tabulator-local" }}
    %table{id: table_id, data: {"tabulator-local-target": "table"}}
      %thead
        %tr
          %th{"tabulator-formatter": :html, "tabulator-headerFilter": :input}
            Code
          -# %th{"tabulator-headerFilter": :list, "tabulator-headerFilterParams": '{valuesLookup: "active"}'}
          -# headerFilter:"input", headerFilterParams:{initial:"Steve Bobberson"}
          %th{"tabulator-headerFilter": :input}
            State
          %th{"tabulator-headerFilter": :input}
            Submitted
          %th{"tabulator-headerFilter": :input}
            Program
          - unless are_organization_claims
            %th{"tabulator-headerFilter": :input}
              Organization
      %tbody
        - claims.each do |claim|
          %tr
            %td
              .text-primary.hover:underlin
                = link_to claim.code, claim
            %td= claim.aasm_state.humanize
            %td= claim.submitted_at&.to_date
            %td= claim.rbf_claim_template
            - unless are_organization_claims
              %td= claim.organization

:javascript
  // workaround to get the page reloading and tabulator working when coming "Back" in browser
  if (window.history.state && window.history.state.turbo) {
    window.addEventListener("popstate", function () { location.reload(true); });
  }
