= form_for @claim, url: do_data_collection_rbf_claim_path(mode: :add), method: :post do |f|
  .grid.grid-cols-2.mt-8.mb-8
    .font-bold.text-xl
      Collect Devices to include in claim
    .w-full
      = f.submit "Update Claimed Devices", data: { turbo_disable_with: "Updating ...",  turbo_frame: "_top" }, **tw_submit_prominent_args

  - data = @claim.query_batch.reject{ _1[:previous_device_claim] }

  %div{data: {controller: "tabulator-local checkbox-select-group" }}
    .w-full.flex.flex-row.justify-between
      %div
        %input#toggle_all_add{ type: :checkbox,
                    data: { checkbox_select_group_target: "checkboxGroup",
                    action: "change->checkbox-select-group#toggleGroup",
                    checkbox_group: "add" }}
        %label.text-grey-3{for: :toggle_all_add, class: "hover:text-grey-4"}
          Toggle All (only this page)
      %div
        = link_to "Add all", do_data_collection_add_all_rbf_claim_path,
                  data: {turbo_method: :post, turbo_disable_with: "Submitting ...", turbo_frame: "_top", controller: "disable-link", "disable-link-msg-value": "Submitting... Please be patient"},
                  **tw_link_prominent_args
    %table#collect_autogenerated_table{ data: {"tabulator-local-target": "table"}}
      %thead
        %tr
          %th{"tabulator-formatter": :html, "tabulator-headerFilter": :input}
            Device
          %th{"tabulator-formatter": :html, "tabulator-titleFormatter": :html}
            Submit
          %th{"tabulator-formatter": :html, "tabulator-headerFilter": :input}
            Comment
      %tbody
        - data.each_with_index do |d, i|
          - uid = d.dig(:trust_trace, :uid)
          %tr
            %td
              %span{class: "hover:underline text-primary/70"}
                - s = d.dig(:device).slice(:manufacturer, :model, :serial_number).values.join(" / ")
                = link_to s, device_details_rbf_claim_path(uid: uid, mode: :add), target: "_blank"
            %td
              = check_box_tag "claim[#{uid}]add", "add", d[:existing_device_claim].present?,
                              data: { checkbox_select_group_target: "checkbox",
                                      action: "change->checkbox-select-group#refresh",
                                      checkbox_group: "add" }
            %td
              = text_field_tag "claim[#{uid}]submission_comment", d[:existing_device_claim]&.submission_comment, class: "w-full"
