= form_for @claim, url: do_data_collection_rbf_claim_path(mode: :resubmission), method: :post do |f|
  .grid.grid-cols-2.mt-8.mb-8
    .font-bold.text-xl
      Collect Previously rejected claims
    .w-full
      = f.submit "Update Resubmitted Devices", data: { turbo_disable_with: "Updating ...",  turbo_frame: "_top" }, **tw_submit_prominent_args

  - data = @claim.device_claims_for_resubmission
  %div{data: {controller: "tabulator-local checkbox-select-group" }}
    %div
      %input#toggle_all_resubmission{ type: :checkbox,
                  data: { checkbox_select_group_target: "checkboxGroup",
                  action: "change->checkbox-select-group#toggleGroup",
                  checkbox_group: "resubmission" }}
      %label.text-grey-3{for: :toggle_all_resubmission, class: "hover:text-grey-4"}
        Toggle All
    %table#collect_rejected_table{ data: {"tabulator-local-target": "table" }}
      %thead
        %tr
          %th{"tabulator-formatter": :html, "tabulator-headerFilter": :input}
            Device
          %th{"tabulator-headerFilter": :input}
            Reason
          %th{"tabulator-formatter": :html}
            Submit
          %th{"tabulator-formatter": :html, "tabulator-headerFilter": :input}
            Repair Date / Comment
      %tbody
        - data.each_with_index do |d, i|
          - uid = d.trust_trace_uid
          - existing_dc = @claim.rbf_device_claims.find_by(parent_rbf_device_claim: d)
          %tr
            %td
              %span{class: "hover:underline text-primary/70"}
                = link_to d.device_s, device_details_rbf_claim_path(uid: uid, mode: :resubmission), target: "_blank"
            %td
              = d.rejection_category
              - if d.reviewer_comment
                = ": #{d.reviewer_comment}"
            %td
              = hidden_field_tag "claim[#{uid}]parent_device_claim_id", d.id
              = check_box_tag "claim[#{uid}]resubmission", "resubmission", existing_dc.present?,
                              data: { checkbox_select_group_target: "checkbox",
                                      action: "change->checkbox-select-group#refresh",
                                      checkbox_group: "resubmission" }
            %td
              - if d.rejected_broken?
                = date_field_tag "claim[#{uid}]submission_comment", existing_dc&.submission_comment, class: "w-full"
              - else
                = text_field_tag "claim[#{uid}]submission_comment", existing_dc&.submission_comment, class: "w-full"
