= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "RBF", rbf_claims_path
  = render "breadcrumb" do
    = link_to @claim

- dc = @device_data[:existing_device_claim]
.border.p-4.mb-8
  .flex.flex-row.gap-x-4.mb-4.items-center
    %div
      .font-bold.inline-block
        Verification Method
      = dc.verification_category.humanize
    - warning = @claim.secondary_verification_amounts.dig(dc.verification_category, :warning)
    - if warning
      .font-bold.text-pink.flex.flex-row.items-center
        = heroicon "exclamation-triangle", options: { disable_default_class: true, class: "h-4 w-4" }
        %span.ml-1
          = "Sample #{warning.to_s.humanize}".upcase
    .grow
    %div
      .font-bold.inline-block
        = "Remaining (#{dc.verification_category.humanize})"
      = @claim.rbf_device_claims.submitted.where(verification_category: dc.verification_category).count
      = "/"
      = @claim.rbf_device_claims.where(verification_category: dc.verification_category).count
    %div
      .font-bold.inline-block
        Remaining (Total)
      = "#{@claim.rbf_device_claims.submitted.count} / #{@claim.rbf_device_claims.count}"
  %hr.mb-4
  = form_for dc, url: do_device_verification_rbf_claim_path(@claim, uid: @device_data[:uid]), method: :post do |f|
    - next_claims = @claim.rbf_device_claims.submitted.where(verification_category: dc.verification_category).where.not(trust_trace_uid: dc.trust_trace_uid)
    - next_claim_options = options_for_select(next_claims.map { [_1.claimed_devices_data["serial_number"], _1.trust_trace_uid] })

    .w-full.flex.flex-col.gap-y-2
      .w-full.flex.flex-row.gap-x-2
        = f.select :state_rejection_combined, dc.possible_state_rejection_combinations.to_h { [ _1.humanize, _1] }, class: "w-1/4"
        = f.text_field :reviewer_comment, placeholder: "Comment", class: "grow"
        = select_tag "next_device", next_claim_options, data: { controller: :tomselect}, disabled: next_claims.empty?, class: "w-1/4"
      .w-full.flex.flex-row.gap-x-2
        .grow{class: "w-1/2"}
          = f.submit "submit and reload", **tw_submit_prominent_args
        .grow{class: "w-1/2"}
          - if next_claims.present?
            = f.submit "submit and next", **tw_submit_prominent_args
          - else
            = f.submit "submit and back", **tw_submit_prominent_args