= content_for :page_title do
  - if @verification_mode
    Verify via
    = @device_data[:existing_device_claim].verification_category.humanize
    = ":"
  - else
    Details for
  = @device_data.dig(:device).slice(:manufacturer, :model, :serial_number).values.join(" / ")

- if @verification_mode
  = render "device_verification"

%div{"data-controller": "modal", "data-action": "click->modal#close open-modal@window->modal#open"}
  %dialog.p-8.rounded-lg{class: "backdrop:bg-black/80", "data-modal-target": "dialog", style: "transform: rotate(0deg);"}
    / %span{class: "text-black float-right px-2", onclick: 'this.parentElement.rotation += 90; this.parentElement.style.transform = `rotate(${this.parentElement.rotation}deg)`; self.event.preventDefault(); self.event.stopPropagation(); return false'}
    /   = heroicon("arrow-path")
    %div{id: :image_view}

%div{ data: { controller: "tabs", "tabs-active-tab-class": "-mb-px border-l border-t border-r rounded-t" }}
  %ul{ class: "list-reset flex border-b"}
    %li{ class: "-mb-px mr-1 cursor-pointer", data: { "tabs-target": "tab", "action": "click->tabs#change"}}
      %span{ class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline", href: "#"}
        Calculated Claim Data
    - if @device_data[:existing_device_claim]
      %li{ class: "-mb-px mr-1 cursor-pointer", data: { "tabs-target": "tab", "action": "click->tabs#change"}}
        %span{ class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline", href: "#"}
          Submission Data
    - if @device_data[:previous_device_claim]
      %li{ class: "-mb-px mr-1 cursor-pointer", data: { "tabs-target": "tab", "action": "click->tabs#change"}}
        %span{ class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline", href: "#"}
          Previously Submitted Claim
    %li{ class: "-mb-px mr-1 cursor-pointer", data: { "tabs-target": "tab", "action": "click->tabs#change"}}
      %span{ class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline", href: "#"}
        Device Data
    %li{ class: "-mb-px mr-1 cursor-pointer", data: { "tabs-target": "tab", "action": "click->tabs#change"}}
      %span{ class: "bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline", href: "#"}
        Payments Data

  %div{ class:"hidden py-4 px-4 border-l border-b border-r", data: { "tabs-target": "panel" }}
    .grid.grid-cols-2.gap-x-4
      .claim-data
        %table.table-auto.border-spacing-y-5.border-separate
          %tr
            %th.font-bold.text-xl.mt-8.mb-4.text-left
              Incentive and Subsidy
            - @device_data[:trust_trace]["custom"].sort.reject{|k,_| k.to_s.start_with? "subcheck"}.each do |k,v|
              - if v.is_a?(Numeric) && !k.to_s.ends_with?("_id")
                - begin
                  = render "attrib_tr", title: k.humanize, value: number_to_currency(v, unit: @claim.currency, strip_insignificant_zeros: true)
                - rescue
                  = render "attrib_tr", title: k.humanize, value: v
              - else
                = render "attrib_tr", title: k.humanize, value: v
          %tr
            %th.font-bold.text-xl.mt-8.mb-4.text-left.pt-4
              Subchecks
          - @device_data[:trust_trace]["custom"].sort.select{|k,_| k.to_s.start_with? "subcheck"}.each do |k,v|
            - subcheck_s = v.titleize if v.is_a?(String)
            - subcheck_s ||= v.in?(["True", true]) || v["result"].in?(["true", true]) ? "✓" : v["details"].to_s.capitalize
            = render "attrib_tr", title: k.gsub(/^subcheck_+/, '').humanize, value: subcheck_s
  - if @device_data[:existing_device_claim]
    .existing_device_claim{ class:"hidden py-4 px-4 border-l border-b border-r", data: { "tabs-target": "panel" }}
      - edc = @device_data[:existing_device_claim]
      %table.table-auto.border-spacing-y-5.border-separate
        = render "attrib_tr", title: "Immediate Payout", value: edc.claimed_immediate_payout_s
        = render "attrib_tr", title: "Delayed Payout", value: edc.claimed_delayed_payout_s
        = render "attrib_tr", title: "Submitted by", value: edc.user.to_s
        = render "attrib_tr", title: "State", value: edc.state
        - if edc.rejected?
          = render "attrib_tr", title: "Rejection Category", value: edc.rejection_category
        = render "attrib_tr", title: "Submission Category", value: edc.submission_category
        = render "attrib_tr", title: "Submission Comment", value: edc.submission_comment
        = render "attrib_tr", title: "Reviewer Comment", value: edc.reviewer_comment
        = render "attrib_tr", title: "Verification Category", value: edc.verification_category
        = render "attrib_tr", title: "Reviewed by", value: edc.reviewer unless edc.organization == Current.organization
  - if @device_data[:previous_device_claim]
    .previous_device_claim{ class:"hidden py-4 px-4 border-l border-b border-r", data: { "tabs-target": "panel" }}
      - edc = @device_data[:previous_device_claim]
      %table.table-auto.border-spacing-y-5.border-separate
        = render "attrib_tr", title: "Submitted by", value: edc.user.to_s
        = render "attrib_tr", title: "State", value: edc.state
        - if edc.rejected?
          = render "attrib_tr", title: "Rejection Category", value: edc.rejection_category
        = render "attrib_tr", title: "Submission Category", value: edc.submission_category
        = render "attrib_tr", title: "Submission Comment", value: edc.submission_comment
        = render "attrib_tr", title: "Reviewer Comment", value: edc.reviewer_comment
        = render "attrib_tr", title: "Verification Category", value: edc.verification_category
        = render "attrib_tr", title: "Reviewed by", value: edc.reviewer unless edc.organization == Current.organization
  .device_data{ class:"hidden py-4 px-4 border-l border-b border-r", data: { "tabs-target": "panel" }}
    %table.table-auto.border-spacing-y-5.border-separate{data: { controller: "autodecrypt", action: "vault:vault-opened@window->autodecrypt#decrypt" } }
      - @device_data[:device].select{ |_k, v| v.present? }.each do |k,v|
        - if k == "custom"
          - v.each do |ck, cv|
            = render "attrib_tr", title: ck.humanize, value: cv, key: ck, encrypted: ck.ends_with?("_e")
        - else
          = render "attrib_tr", title: k.humanize, value: v, key: k, encrypted: k.ends_with?("_e") if v.present?
  .payments_data{ class:"hidden py-4 px-4 border-l border-b border-r", data: { "tabs-target": "panel" }}
    - @device_data[:payments].reverse.each_with_index do |payment, idx|
      - if idx > 0
        %hr
      %table.table-auto.border-spacing-y-5.border-separate
        - payment.each do |k,v|
          - if k == "custom"
            - v.each do |ck, cv|
              = render "attrib_tr", title: ck.humanize, value: cv, key: ck
          - else
            = render "attrib_tr", title: k.humanize, value: v, key: k if v.present?
