= content_for :page_title do
  RBF

= content_for :page_actions do
  - if Current.organization&.rbf_submitting?
    = link_to "RBF Dashboard", rbf_dashboard_index_path, **tw_link_prominent_args
  - if policy(:rbf_claim).new?
    - data_collection_claim_templates = RbfClaim.data_collection.where(organization: Current.organization).map(&:rbf_claim_template).compact
    - Current.organization.submittable_rbf_claim_templates.reject{ _1.in? data_collection_claim_templates }.each do |rct|
      = link_to "New Claim for #{rct}", new_rbf_claim_path(rbf_claim_template_id: rct.id), **tw_link_prominent_args

- action_required = @claims.select{ _1.next_possible_event_org == Current.organization }.sort_by{ _1.submitted_at || _1.created_at }
- finished = @claims.select{ _1.aasm_state.in? %w[paid_out rejected]}.sort_by(&:updated_at).reverse
- non_open_others = action_required + finished
- open_others = @claims.reject{ _1.in? non_open_others }.sort_by(&:submitted_at)

= render "tabs", titles: ["Action Required", "Open", "Finalized"] do
  = render "tab" do
    = render "claims_list", claims: action_required, table_id: :action_required
  = render "tab" do
    = render "claims_list", claims: open_others, table_id: :open_others
  = render "tab" do
    = render "claims_list", claims: finished, table_id: :finished
