- content_for :page_title do
  = "New RBF Claim for #{@claim.rbf_claim_template.to_s}"

  -# TODO: make the form below a turboframe so we can slowly load the stats.

= form_for @claim, url: rbf_claims_path, method: :post do |f|

  .wrapper{class: "w-1/2"}

    - if @claim.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @claim.errors.to_a.each do |e|
          %li= e

    - stats = @claim.stats_from_query(initial: true)

    - unless @claim.allow_submission_by_schedule?
      .font-bold.text-pink.mb-4
        This claim can only be submitted next month. Because a claim has already been submitted this month.
    - unless @claim.allow_submission_by_count?(override_count: stats[:devices_amount])
      .font-bold.text-pink.mb-8
        This claim can only be submitted with a minimum of
        = @claim.rbf_claim_template.claim_submission_minimum
        sales.

    %table.table-auto.border-spacing-y-5.border-separate
      = render "attrib_tr", title: "Program", value: @claim.rbf_claim_template.to_s
      - RbfClaim::ORG_ROLES.each do |att|
        = render "attrib_tr", attr: att, model: @claim
      - stats.each do |k,v|
        = render "attrib_tr", title: k.humanize do
          - if v.is_a? Array
            %pre.text-sm.font-mono
              - if v.count > 100
                = (v.first(30) + ["And many more..."]).join("\n")
              - else
                = v.join("\n")
          - else
            = v
    .field
      = f.hidden_field :rbf_claim_template_id
    .field.mt-10
      = f.submit "Create RBF Claim", **tw_submit_prominent_args
