%body{onload: "window.print()"}
  %table{style: "margin-bottom: 20px;"}
    %tr
      %td{colspan: 2, style: "font-size: 150%;"}
        %strong
          Electricity Access Scale-Up Project(EASP)
          %br
          Results Based Financing Program(RBF)
          %br
          = @claim.rbf_claim_template
          %br
          Claim Submission
    %tr
      %td{colspan: 2}
        %table
          %tr
            %td
              Code
            %td
              = @claim.code
          %tr
            %td
              Prospect ID
            %td
              = @claim.id
          %tr
            %td
              ESCO
            %td
              = @claim.organization
          %tr
            %td
              Submitted by
            %td
              = "#{@claim.submitted_to_program_by} / #{@claim.submitted_to_program_by&.email}"
          %tr
            %td
              Date of Submission
            %td
              = @claim.submitted_to_program_at.to_date
    %tr
      %td
        %table
          %tr
            %td{colspan: 2}
              %strong.bigger Claimed Amounts
          %tr
            %td
              Number of Units
            %td
              = @claim.rbf_device_claims.count
          %tr
            %td
              Subsidy
            %td
              = @claim.claimed_subsidy_s
          %tr
            %td
              Incentive
            %td
              = @claim.claimed_incentive_s
          %tr
            %td
              Immediate Payout
            %td
              = @claim.claimed_immediate_payout_s
    %tr
      %td{colspan: 2}
        %table
          %tr
            %td{colspan: 6}
              %strong.bigger
                Details of Claimed Devices
          %tr
            %td
              %strong
                = "#"
            %td
              %strong
                Serial
            %td
              %strong
                Manufacturer
            %td
              %strong
                Model
            %td
              %strong
                Subsidy
            %td
              %strong
                Incentive
          - @claim.rbf_device_claims.each_with_index do |rdc, i|
            %tr
              %td
                = i + 1
              %td
                = rdc.claimed_devices_data.dig("serial_number")
              %td
                = rdc.claimed_devices_data.dig("manufacturer")
              %td
                = rdc.claimed_devices_data.dig("model")
              %td
                = rdc.claimed_subsidy_s
              %td
                = rdc.claimed_incentive_s
          %tr
            %td{colspan: 3}
              %strong
                Total Claim
            %td
              %strong
                = @claim.approved_subsidy_s
            %td
              %strong
                = @claim.approved_incentive_s
            %td
              %strong
                = @claim.approved_immediate_payout_s

:css
  table {
    font-size: small;
    width: 100%;
    border-collapse: collapse;
  }
  td {
    padding: 10px;
    border: 1px solid black;
  }
  td:has(> table)  {
    padding: 0;
  }
  .bigger {
    font-size: 120%;
  }

