= turbo_frame_tag :assign_verifiers do
  .font-bold.text-xl.mb-8
    Choose the User(s) who will verify the claim
  = form_for @claim, url: do_assign_verifiers_rbf_claim_path, method: :post do |f|
    .flex.flex-col.gap-y-8{class: "w-2/3"}
      .grow{class: "basis-4/6"}
        = select_tag "rbf_claim[verification_users_ids][]",
          options_from_collection_for_select(@candidates, 'id', 'to_s', @claim.verification_users_ids),
          multiple: true, data: { controller: "tomselect"}, class: "w-full"
      = f.submit "Submit", data: { turbo_disable_with: "Submitting ...",  turbo_frame: "_top" }, **tw_submit_prominent_args