= turbo_frame_tag :claim_action do
  %div{data: {controller: "tabulator-local"}}
    %table{id: "show_paid_out_table", data: {"tabulator-local-target": "table"}}
      %thead
        %tr
          %th{"tabulator-formatter": :plaintext, "tabulator-headerFilter": :input}
            = "#"
          %th{"tabulator-formatter": :html, "tabulator-headerFilter": :input}
            Device
          %th{"tabulator-formatter": :plaintext, "tabulator-headerFilter": :input}
            Category
          %th{"tabulator-formatter": :plaintext, "tabulator-headerFilter": :input}
            Method
          %th{"tabulator-formatter": :plaintext, "tabulator-headerFilter": :input}
            State
          %th{"tabulator-formatter": :plaintext, "tabulator-headerFilter": :input}
            Comment
      %tbody
        - @claim.rbf_device_claims.each_with_index do |d, i|
          - uid = d.trust_trace_uid
          %tr
            %td
              = i + 1
            %td
              %span{class: "hover:underline text-primary/70"}
                = link_to d.device_s, device_details_rbf_claim_path(uid: uid, mode: :existing), target: "_blank"
            %td
              = d.verification_category&.humanize
            %td
              = d.submission_category&.humanize
            %td
              = d.state.humanize
            %td
              = d.reviewer_comment
  -# %table.table-auto.border-spacing-y-5.border-separate.w-full
  -#   %tr
  -#     %th.text-left #
  -#     %th.text-left Device
  -#     %th.text-left Category
  -#     %th.text-left Result
  -#     %th.text-left Comment
  -#   - @claim.rbf_device_claims.each_with_index do |d, i|
  -#
  -#
  -#     %tr
  -#       %td
  -#         = i + 1
  -#       %td
  -#         %span{class: "hover:underline text-primary/70"}
  -#           = link_to d.device_s, device_details_rbf_claim_path(uid: d.trust_trace_uid, mode: :existing), target: "_blank"
  -#       %td
  -#         = d.submission_category.humanize
  -#       %td
  -#         = d.state
  -#       %td
  -#         = d.reviewer_comment
