= turbo_frame_tag :claim_action do
  .font-bold.text-xl.mt-8.mb-4
    Enter payment details
  = form_for @claim, url: do_payment_rbf_claim_path, method: :post do |f|
    - pd = @claim.verified_data
    %table.table-auto.border-spacing-y-5.border-separate
      = render "attrib_tr", title: "Amount" do
        = number_field_tag "claim[transaction_amount]", pd["transaction_amount"] || @claim.approved_immediate_payout, required: true
      = render "attrib_tr", title: "Transaction Data" do
        = date_field_tag "claim[transaction_date]", pd["transaction_date"], required: true
      = render "attrib_tr", title: "Transaction Method" do
        = text_field_tag "claim[transaction_method]", pd["transaction_method"] || "Bank", required: true
      = render "attrib_tr", title: "Transaction ID" do
        = text_field_tag "claim[transaction_id]", pd["transaction_id"], required: true

    .field.mt-10
      = f.submit "Submit Payment Information", data: { turbo_frame: "_top" }, **tw_submit_prominent_args
