= content_for :page_title do
  = @claim.to_s
  .text-2xl.font-bold.mt-2
    = @claim.waiting_for_s

= content_for :page_actions do
  .flex.flex-row.gap-x-1
    - n_evn = @claim.possible_negative_event_name
    - if n_evn && @claim.organization_can_now?(n_evn, Current.organization)
      = link_to n_evn.to_s.titleize,
        event_rbf_claim_path(@claim, event: n_evn),
        data: {turbo_method: :post, turbo_frame: "_top"}, **tw_link_prominent_args(color: :bad)
    - p_evn = @claim.possible_positive_event_name
    - if p_evn && @claim.organization_can_now?(p_evn, Current.organization)
      = link_to p_evn.to_s.titleize,
        event_rbf_claim_path(@claim, event: p_evn),
        data: {turbo_method: :post, turbo_frame: "_top"}, **tw_link_prominent_args
    - if policy(@claim).do_sample_secondary_verification?
      = link_to "Sample Secondary Verification",
        do_sample_secondary_verification_rbf_claim_path(@claim),
        data: {turbo_method: :post, turbo_frame: "_top"}, **tw_link_prominent_args
    - if policy(@claim).download_verification_csv?
      %button{data: {controller: "decrypt-csv", decrypt_csv_target: "button", action: "decrypt-csv#downloadCSV",
              decrypt_csv_url_value: download_verification_csv_rbf_claim_path(@claim),
              decrypt_csv_filename_value: [@claim.code.gsub(/\W/, '-'), "_verification.csv"].join },
              class: tw_link_prominent_args[:class] }
        Download Verification CSV
    - if policy(@claim).print_submitted?
      = link_to "Print Claim", print_submitted_rbf_claim_path(@claim), **tw_link_prominent_args


- more_tabs = []
- if @claim.data_collection? && policy(@claim).do_data_collection?
  - more_tabs << ["Build Claim", :claim_action, show_do_data_collection_rbf_claim_path(@claim)]
- elsif @claim.verification?
  - if policy(@claim).do_assign_verifiers?
    - more_tabs << ["Assign Verifiers", :assign_verifiers, show_do_assign_verifiers_rbf_claim_path(@claim)]
  - if policy(@claim).do_verification?
    - more_tabs << ["Verification", :claim_action, show_do_verification_rbf_claim_path(@claim)]
- elsif @claim.approved? && policy(@claim).do_payment?
  - more_tabs << ["Print Voucher", :print_voucher, show_print_voucher_rbf_claim_path(@claim)]
  - more_tabs << ["Enter Payment", :claim_action, show_do_payment_rbf_claim_path(@claim)]
- elsif @claim.submitted_to_program? && policy(@claim).show_paid_out?
  - more_tabs << ["Show Data", :claim_action, show_paid_out_rbf_claim_path(@claim)]
- elsif @claim.paid_out?
  - more_tabs << ["Show Result", :claim_action, show_paid_out_rbf_claim_path(@claim)]
- if !@claim.data_collection? && policy(@claim).show_verification_result?
  - more_tabs << ["Verification Result", :verification_result, show_verification_result_rbf_claim_path(@claim)]


= render "tabs", titles: ["Summary", more_tabs.map(&:first)].flatten.compact do
  = render "tab" do
    = turbo_frame_tag :claim_summary, src: summary_rbf_claim_path(@claim), loading: :lazy do
      .animate-pulse.p-4.bg-grey-2.rounded-md.text-white.text-center.text-sm
        = "Loading ..."
  - more_tabs.each do |t|
    = render "tab" do
      = turbo_frame_tag t.second, src: t.third, loading: :lazy do
        .animate-pulse.p-4.bg-grey-2.rounded-md.text-white.text-center.text-sm
          = "Loading ..."
