= turbo_frame_tag :claim_action do
  = render "tabs", titles: ["Claim New Devices", "Resubmit Rejected", "Add Repossessed"], nested: true do
    = render "tab", nested: true do
      = render "collect_autogenerated"
    = render "tab", nested: true do
      = render "collect_rejected"
    = render "tab", nested: true do
      = render "collect_repossessed"