= turbo_frame_tag :claim_action do
  = render "tabs", titles: %w[Desk Phone Field], nested: true do
    -  %i[desk phone field].each do |cat|
      = render "tab", nested: true do
        - dcs = @claim.rbf_device_claims.where(verification_category: cat).order(:submission_category, :subject_uid)
        - pending = dcs.submitted.count

        .flex.flex-row.gap-x-4.mb-4.text-sm.justify-end
          - warning = @claim.secondary_verification_amounts.dig(cat, :warning)
          - if warning
            %div
              .font-bold.inline-block.text-pink.flex.flex-row.items-center
                = heroicon "exclamation-triangle", options: { disable_default_class: true, class: "h-4 w-4" }
                %span.ml-1
                  = "Sample #{warning.to_s.humanize}".upcase
          %div
            .font-bold.inline-block
              Total
            = dcs.count
          %div
            .font-bold.inline-block
              Approved
            = dcs.approved.count
          %div
            .font-bold.inline-block
              Rejected
            = dcs.rejected.count
          %div
            .font-bold.inline-block
              Pending
            = pending
          %div
            - if pending.zero?
              %span{class: tw_link_prominent_args(color: :skip)[:class]}
                Start Verification
            - else
              = link_to "Start Verification", device_details_rbf_claim_path(@claim, uid: dcs.submitted.first.trust_trace_uid, mode: :existing), target: "_top", **tw_link_prominent_args
        %hr.mb-4
        %div{data: {controller: "tabulator-local"}}
          %table{id: "verify_#{cat}_table", data: {"tabulator-local-target": "table"}}
            %thead
              %tr
                %th{"tabulator-formatter": :html, "tabulator-headerFilter": :input}
                  Device
                %th{"tabulator-formatter": :plaintext, "tabulator-headerFilter": :input}
                  Category
                %th{"tabulator-formatter": :plaintext, "tabulator-headerFilter": :input}
                  State
                %th{"tabulator-formatter": :plaintext, "tabulator-headerFilter": :input}
                  Comment
            %tbody
              - dcs.each do |d|
                - uid = d.trust_trace_uid
                %tr
                  %td
                    %span{class: "hover:underline text-primary/70"}
                      = link_to d.device_s, device_details_rbf_claim_path(uid: uid, mode: :existing), target: "_blank"
                  %td
                    = d.submission_category.humanize
                  %td
                    = d.state_rejection_combined.humanize
                  %td
                    = d.reviewer_comment