= turbo_frame_tag :verification_result do
  - amount_total = @claim.rbf_device_claims.count.to_f

  .flex.flex-row.gap-x-2
    %div{class: "basis-1/4"}
      %table.table-auto.border-collapse
        %thead.border-b.border-grey-2
          %tr
            %th.p-2.border-r.border-grey-2.text-center All
            %td.p-2.border-r.border-grey-2.text-center #
            %td.p-2.text-center %
        %tbody
          %tr.border-b.border-grey-2
            %th.p-2.border-r.border-grey-2.text-right.text-grey-3
              Total
            %td.p-2.border-r.border-grey-2.text-right
              = amount_total.round
            %td.p-2.text-right
          %tr
            %th.p-2.border-r.border-grey-2.text-right.text-grey-3
              Approved
            %td.p-2.border-r.border-grey-2.text-right
              = @claim.rbf_device_claims.approved.count
            %td.p-2.text-right
              = percentage_s(@claim.rbf_device_claims.approved, amount_total)
          %tr
            %th.p-2.border-r.border-grey-2.text-right.text-grey-3
              Rejected
            %td.p-2.border-r.border-grey-2.text-right
              = @claim.rbf_device_claims.rejected.count
            %td.p-2.text-right
              = percentage_s(@claim.rbf_device_claims.rejected, amount_total)
          %tr
            %th.p-2.border-r.border-grey-2.text-right.text-grey-3
              Submitted
            %td.p-2.border-r.border-grey-2.text-right
              = @claim.rbf_device_claims.submitted.count
            %td.p-2.text-right
              = percentage_s(@claim.rbf_device_claims.submitted, amount_total)

    - secondary_verification_stats = @claim.secondary_verification_amounts
    - RbfDeviceClaim::VERIFICATION_CATEGORIES.each do |cat|
      - device_claims_cat = @claim.rbf_device_claims.where(verification_category: cat).without_unreachable
      - amount_cat = (cat == "desk" ? @claim.rbf_device_claims : device_claims_cat).count.to_f
      - warning = secondary_verification_stats.dig(cat, :warning)

      %div{class: "basis-1/4"}
        %table
          %thead.border-b.border-grey-2
            %tr
              %th.p-2.border-r.border-grey-2.text-center= cat.humanize
              %th.p-2.border-r.border-grey-2.text-center #
              %th.p-2.text-center %
          %tbody
            %tr.border-b.border-grey-2
              %th.p-2.border-r.border-grey-2.text-right.text-grey-3
                Total
              %td.p-2.border-r.border-grey-2.text-right
                = amount_cat.round
              %td.p-2.text-right
                = percentage_s(amount_cat, amount_total)
            %tr
              %th.p-2.border-r.border-grey-2.text-right.text-grey-3
                Approved
              %td.p-2.border-r.border-grey-2.text-right
                - approved_count = device_claims_cat.approved_not_unreachable.count
                - approved_count += @claim.rbf_device_claims.where.not(verification_category: cat).count if cat == "desk"
                = approved_count
              %td.p-2.text-right
                = percentage_s(approved_count, amount_cat)
            %tr
              %th.p-2.border-r.border-grey-2.text-right.text-grey-3
                Rejected
              %td.p-2.border-r.border-grey-2.text-right
                = device_claims_cat.rejected.count
              %td.p-2.text-right
                = percentage_s(device_claims_cat.rejected, amount_cat)
            %tr.border-b.border-grey-2
              %th.p-2.border-r.border-grey-2.text-right.text-grey-3
                Submitted
              %td.p-2.border-r.border-grey-2.text-right
                = device_claims_cat.submitted.count
              %td.p-2.text-right
                = percentage_s(device_claims_cat.submitted, amount_cat)
            - unless cat == "desk"
              -# Add back once their is a proper stats view in the printed voucher. Until then they dont wanna see it.
              - if current_user.admin?
                %tr.border-b.border-grey-2
                  %th.p-2.border-r.border-grey-2.text-right.text-grey-3
                    Unreachable
                  %td.p-2.border-r.border-grey-2.text-right
                    - approved_unreachable = @claim.rbf_device_claims.where(verification_category: cat).approved_unreachable.count
                    = approved_unreachable
                  %td.p-2.text-right
                    -# = percentage_s(device_claims_cat.approved_unreachable, amount_cat)
            - if warning
              %tr.border-b.border-grey-2
                %td.p-2.font-bold.text-pink.text-sm.text-center{colspan: 3}
                  = "Sample #{warning.to_s.humanize}".upcase

            - (device_claims_cat.pluck(:rejection_category).compact.uniq.without(RbfDeviceClaim::UNREACHABLE_CATEGORY)).sort.each do |rej|
              - rej_dcs = device_claims_cat.rejected.where(rejection_category: rej)
              %tr
                %th.p-2.border-r.border-grey-2.text-right.text-grey-3
                  = rej.humanize
                %td.p-2.border-r.border-grey-2.text-right
                  = rej_dcs.count
                %td.p-2.text-right
                  = percentage_s(rej_dcs, amount_cat)





