= turbo_frame_tag :claim_summary do
  - if @claim.data_collection?
    - unless @claim.allow_submission_by_schedule?
      .font-bold.text-pink.mb-8
        This claim can only be submitted next month. Because a claim has already been submitted this month.
    - unless @claim.allow_submission_by_count?
      .font-bold.text-pink.mb-8
        This claim can only be submitted with a minimum of
        = @claim.rbf_claim_template.claim_submission_minimum
        sales.


  .grid.grid-cols-2.gap-x-4
    .col1
      - if @claim.verified_data.present?
        .font-bold.text-xl
          Paid out Transaction
        %table.table-auto.border-spacing-y-5.border-separate.mb-4
          - @claim.verified_data.sort.each do |k,v|
            - if k == "transaction_amount"
              = render "attrib_tr", title: k.to_s.titleize, value: number_to_currency(v, unit: @claim.currency, strip_insignificant_zeros: true)
            - else
              = render "attrib_tr", title: k.to_s.titleize, value: v

      .font-bold.text-xl
        Subsidies & Incentives
      %table.table-auto.border-spacing-y-5.border-separate
        - if @claim.rbf_device_claims.any?(&:approved?)
          = render "attrib_tr", title: "Approved Immediate Payout" do
            %span.font-bold
              = @claim.approved_immediate_payout_s
          = render "attrib_tr", title: "Approved Delayed Payout", value: @claim.approved_delayed_payout_s
          = render "attrib_tr", title: "Approved Subsidy", value: @claim.approved_subsidy_s
          = render "attrib_tr", title: "Approved Incentive", value: @claim.approved_incentive_s

        = render "attrib_tr", title: "Claimed Subsidy", value: @claim.claimed_subsidy_s
        = render "attrib_tr", title: "Claimed Incentive", value: @claim.claimed_incentive_s

        - if @claim.data_collection?
          - summary = @claim.stats_from_query
          = render "attrib_tr", title: "Potential Subsidy", value: summary["total_subsidy"]
          = render "attrib_tr", title: "Potential Incentive", value: summary["total_incentive"]

    .col2
      .font-bold.text-xl
        = "Administrative Information"
      %table.table-auto.border-spacing-y-5.border-separate
        = render "attrib_tr", attr: :code, model: @claim
        - RbfClaim::ORG_ROLES.each do |att|
          = render "attrib_tr", attr: att, model: @claim
        = render "attrib_tr", title: "Program", value: @claim.rbf_claim_template
        = render "attrib_tr", attr: "creator", model: @claim
        = render "attrib_tr", attr: "submitted_to_program_by", model: @claim

        // only show other involved people if user does not belong to the claiming organization
        - if Current.organization != @claim.organization
          = render "attrib_tr", attr: "assigned_to_verifier", model: @claim
          = render "attrib_tr", attr: "approved_by", model: @claim
          = render "attrib_tr", attr: "rejected_by", model: @claim
          = render "attrib_tr", attr: "verification_by", model: @claim
          = render "attrib_tr", attr: "paid_out_by", model: @claim
        - %w[created_at submitted_to_program_at verification_at approved_at paid_out_at rejected_at].each do |att|
          = render "attrib_tr", attr: att, model: @claim, skip_blank: true

      .flex.flex-row
        %div{class: "w-1/2"}
          .font-bold.text-xl.mt-4
            = "# of Devices"
          %table.table-auto.border-spacing-y-5.border-separate
            = render "attrib_tr", title: "# Claimed", value: @claim.rbf_device_claims.initial_claim.count
            = render "attrib_tr", title: "# Resubmitted", value: @claim.rbf_device_claims.resubmission.count
            = render "attrib_tr", title: "# Repossessed", value: @claim.rbf_device_claims.repossessed.count
        %div{class: "w-1/2"}
          .font-bold.text-xl.mt-4
            = "Verification"
          %table.table-auto.border-spacing-y-5.border-separate
            = render "attrib_tr", title: "# Approved", value: @claim.rbf_device_claims.approved.count
            = render "attrib_tr", title: "# Rejected", value: @claim.rbf_device_claims.rejected.count
            = render "attrib_tr", title: "# Pending", value: @claim.rbf_device_claims.submitted.count
            = render "attrib_tr", title: "% Rejected", value: percentage_s(@claim.rbf_device_claims.rejected, @claim.rbf_device_claims)
