%p.mb-4
  AAM Parent connector will daily connect to bucket and download all files for all active AAM Child connectors.
%p.mb-10
  = @source.adapter.validation_hint
= f.fields :details, model: @source.details_struct do |df|
  .flex.space-x-4
    %div
      = render "input_group", form: df, for: :access_key, label: 'AWS Access Key' do
        = render "secret_visibility_wrapper" do
          = df.password_field :access_key, data: {"password-visibility-target": :input}, value: @source.details['access_key'], **tw_text_input_args("w-full flex")
        = render "input_hint" do
          you need to create an access key in the AWS Console

      = render "input_group", form: f, for: :secret, label: "AWS Secret Key" do
        = render "secret_visibility_wrapper" do
          = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
        = render "input_hint" do
          will be stored encrypted

      = f.fields :details, model: @source.details_struct do |df|
        = render "input_group", form: df, for: :region, label: 'AWS region' do
          = df.text_field :region, **tw_text_input_args
          = render "input_hint" do
            e.g. us-west-1

      = f.fields :details, model: @source.details_struct do |df|
        = render "input_group", form: df, for: :bucket_name, label: 'AWS bucket name' do
          = df.text_field :bucket_name, **tw_text_input_args
