= f.fields :details, model: @source.details_struct do |df|
  .flex.space-x-4
    %div{class: "basis-1/2"}
      = render "input_group", form: f, for: :data_category, label: "Data Category"  do
        - @source.data_categories.each do |cat|
          = render "radio_buttons" do
            = f.radio_button :data_category, cat, **tw_radio_args
            = f.label "data_category_#{cat}" do
              = cat.titleize
              %span{class: "hover:underline text-primary/70"}= link_to "-> Docs", doc_path(cat), target: "_blank"
              %span{class: "hover:underline text-primary/70"}= link_to "-> API", Source::ApiPush.swagger_doc_url(cat), target: "_blank"

    -# %div{class: "basis-1/2"}
    -#   = render "input_group", form: df, for: :frequency, label: "Frequency" do
    -#     = df.select :frequency, %w[monthly weekly daily hourly], {}, **tw_select_input_args
    -#     = render "input_hint" do
    -#       to create alerts if the API does not receive data regularly
