= render "input_group", form: f, for: :secret, label: "API Secret" do
  = render "secret_visibility_wrapper" do
    = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
  = render "input_hint" do
    will be stored encrypted

= f.fields :details, model: @source.details_struct do |df|
  = render "input_group", form: df, for: :url, label: 'API Key' do
    = render "secret_visibility_wrapper" do
      = df.password_field :api_key, data: {"password-visibility-target": :input}, value: @source.details['api_key'], **tw_text_input_args("w-full flex")
