= render "input_group", form: f, for: :secret, label: "Password" do
  = render "secret_visibility_wrapper" do
    = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
  = render "input_hint" do
    Same password you use for https://home.solarmanpv.com/

= f.fields :details, model: @source.details_struct do |df|
  = render "input_group", form: df, for: :url, label: 'E-Mail' do
    = df.text_field :email, **tw_text_input_args
    = render "input_hint" do
      Same E-Mail address you use for https://home.solarmanpv.com/
  = render "input_group", form: df, for: :url, label: 'App ID' do
    = df.text_field :app_id, **tw_text_input_args
    = render "input_hint" do
      AppId - you can get an AppId when contacting: customerservice@solarmanpv.com
  = render "input_group", form: df, for: :url, label: 'App Secret' do
    = render "secret_visibility_wrapper" do
      = df.password_field :secret, data: {"password-visibility-target": :input}, value: @source.details, **tw_text_input_args("w-full flex")
    = render "input_hint" do
      AppSecret - you can get an AppSecret when contacting: customerservice@solarmanpv.com
