= f.fields :details, model: @source.details_struct do |df|
  = render "input_group", form: df, for: :username, label: 'E-Mail' do
    = df.text_field :username, **tw_text_input_args
    = render "input_hint" do
      Same E-Mail address you use for https://developers.angaza.com/docs/dev-portal-connects/

= render "input_group", form: f, for: :secret, label: "Password" do
  = render "secret_visibility_wrapper" do
    = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
  = render "input_hint" do
    Same password you use for https://developers.angaza.com/docs/dev-portal-connects/

<p>Please be patient during the following setup of Angaza API connector. We need to gather information to configure the data source. This can take several minutes per step.</p>

<p>The first import takes several hours because it will backfill historic data.</p>