%p.mb-10
  = @source.adapter.validation_hint
= f.fields :details, model: @source.details_struct do |df|
  = render "input_group", form: df, for: :username, label: I18n.t("generic.username") do
    = df.text_field :username, **tw_text_input_args
    = render "input_hint" do
      = I18n.t("payg_ops.form.username")
  = render "input_group", form: f, for: :secret, label: I18n.t("generic.password") do
    = render "secret_visibility_wrapper" do
      = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
    = render "input_hint" do
      = I18n.t("payg_ops.form.password")
  = render "input_group", form: df, for: :url, label: I18n.t("generic.url") do
    = df.text_field :url, **tw_text_input_args
    = render "input_hint" do
      = I18n.t("payg_ops.form.url")