= render "input_group", form: f, for: :secret, label: "API_TOKEN" do
  = render "secret_visibility_wrapper" do
    = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
  = render "input_hint" do
    will be stored encrypted

= f.fields :details, model: @source.details_struct do |df|
  = render "input_group", form: df, for: :frequency, label: "Frequency" do
    = df.select :frequency, ['daily', 'hourly', '15 minutes', '5 minutes'], {}, **tw_select_input_args
Testing the connection can take a moment (~30s), please be patient.