.flex.space-x-4
  %div{class: "basis-1/4"}
    = render "input_group", form: f, for: :data_category, label: "Data Category"  do
      %p.small
        Which type of inverters will be returned by the Victron API.
        All inverters must be of the same type.
      - @source.data_categories.each do |cat|
        = render "radio_buttons" do
          = f.radio_button :data_category, cat, **tw_radio_args
          = f.label "data_category_#{cat}" do
            = cat.titleize
  .grow
    = f.fields :details, model: @source.details_struct do |df|
      = render "input_group", form: df, for: :username, label: 'Username' do
        = df.text_field :username, **tw_text_input_args
        = render "input_hint" do
          Probably an email address
    = render "input_group", form: f, for: :secret, label: "Password" do
      = render "secret_visibility_wrapper" do
        = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
      = render "input_hint" do
        will be stored encrypted
