- if Source::GoogleDrive.service_account_email.nil?
  %p.mb-4
    Can't find Google Drive service account configuration, please contact administrator to setup Google Drive correctly for this instance.
-else
  %p.mb-4
    Google Drive connector will regularly connect and download all new files.
    The 'modifiedTime' is used to find new files.
  %p.mb-10
    = @source.adapter.validation_hint
  = f.fields :details, model: @source.details_struct do |df|
    .flex.space-x-4
      %div{class: "basis-1/3"}
        = render "input_group", form: f, for: :data_category, label: "Data Category" do
          - @source.data_categories.each do |cat|
            = render "radio_buttons" do
              = f.radio_button :data_category, cat, **tw_radio_args
              = f.label "data_category_#{cat}" do
                = cat.titleize
                %span{class: "hover:underline text-primary/70"}= link_to "-> Docs", doc_path(cat), target: "_blank"
        = render "input_group", form: df, for: :file_format, label: "Data File Format" do
          = df.select :file_format, %w[json csv xlsx], {}, **tw_select_input_args("w-3/5")
        = render "input_group", form: df, for: :frequency, label: "Frequency" do
          = df.select :frequency, %w[monthly weekly daily hourly], {}, **tw_select_input_args("w-3/5")
          = render "input_hint" do
            how often we will look for new files in the Google Drive folder
      %div{class: "basis-2/3"}
        = render "input_group", form: df, for: :folder_id, label: 'Folder ID' do
          = df.text_field :folder_id, **tw_text_input_args
          = render "input_hint" do
            Please follow the step-by-step guide below to setup Google Drive Connector correctly.
        %div
          %p.font-semibold.text-lg
            Step-by-step Guide
          %ol{class: "list-decimal"}
            %li Navigate to the folder you want to share in Google Drive.
            %li Copy the folder ID from the address line of your browser and paste it into the folder ID field.
            %li Go to the drop-down menu next to the folder name. Click on 'Share'.
            %li
              Paste the Service Account
              %span{class: "font-mono whitespace-nowrap font-bold"} #{Source::GoogleDrive.service_account_email}
              into the input field in the share dialog and press 'Send'.
            %li Press 'Next' on this page.
          = video_tag "google_drive_connector_manual.webm", controls: true
