= f.fields :details, model: @source.details_struct do |df|
  = render "input_group", form: df, for: :url, label: 'URL of your google spreadsheet' do
    = df.text_field :url, **tw_text_input_args

= render "input_group", form: f, for: :secret, label: "Client Key" do
  = render "secret_visibility_wrapper" do
    = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
  = render "input_hint" do
    will be stored encrypted

