= render "input_group", form: f  do

  = f.fields :details, model: @source.details_struct do |df|
    = df.hidden_field :slug, value: @source.details["slug"] || Source::ManualInput::Ueccc.generate_random_slug
    = df.hidden_field :file_format, value: :json
    = render "input_group", form: df, for: :form, label: "Form Template" do
      = df.select :form, DynamicForm.available_for_organization(Current.organization).map{ [_1.name, _1.id] }, {}, **tw_select_input_args
    = render "input_group", form: df, for: :public_access, label: "Allow Data Entry without Prospect Account?" do
      = df.select :public_access, { Yes: true, No: false }, {}, **tw_select_input_args
    = render "input_group", form: df, for: :bulk_upload, label: "Allow bulk CSV upload" do
      = df.select :bulk_upload, { No: false, Yes: true }, {}, **tw_select_input_args
