- if !Current.user.can?('source.upload_data')
  %p.mb-4
    Missing privilege. For manual uploads you need the 'source.upload_data' privilege.
- else
  = f.fields :details, model: @source.details_struct do |df|
    .flex.space-x-4
      %div{class: "basis-1/2"}
        = render "input_group", form: f, for: :data_category, label: "Data Category"  do
          - @source.data_categories.each do |cat|
            = render "radio_buttons" do
              = f.radio_button :data_category, cat, **tw_radio_args
              = f.label "data_category_#{cat}" do
                = cat.titleize
                %span{class: "hover:underline text-primary/70"}= link_to "-> Docs", doc_path(cat), target: "_blank"
      %div{class: "basis-1/2"}
        = render "input_group", form: df, for: :file_format, label: "Data File Format" do
          = df.select :file_format, %w[csv xlsx], {}, **tw_select_input_args("w-3/5")
    -# %div{class: "basis-1/2"}
    -#   = render "input_group", form: df, for: :frequency, label: "Frequency" do
    -#     = df.select :frequency, %w[monthly weekly daily hourly], {}, **tw_select_input_args
    -#     = render "input_hint" do
    -#       to create reminders if data is not received regularly
