%p.mb-4
  S3 connector will regularly connect to bucket and download all new files.
  One bucket should be used for a single data source/data type. Set up one bucket per data source/data category.
%p
  Make sure that new files come after existing files either in lexicographical order (file name) or by last_modified timestamp.
%p.mb-5
  = @source.adapter.validation_hint
= f.fields :details, model: @source.details_struct do |df|
  .flex.space-x-4
    %div{class: "basis-1/3"}
      = render "input_group", form: df, for: :form, label: "Form Template" do
        = df.select :form, DynamicForm.available_for_organization(Current.organization).map{ [_1.name, _1.id] }, {}, **tw_select_input_args
      = render "input_group", form: df, for: :file_format, label: "Data File Format" do
        = df.select :file_format, %w[json csv xlsx], {}, **tw_select_input_args("w-3/5")
      = render "input_group", form: df, for: :frequency, label: "Frequency" do
        = df.select :frequency, %w[monthly weekly daily hourly], {}, **tw_select_input_args("w-3/5")
        = render "input_hint" do
          how often we will look for new files on S3
    %div{class: "basis-2/3"}
      = render "input_group", form: df, for: :access_key, label: 'AWS Access Key' do
        = render "secret_visibility_wrapper" do
          = df.password_field :access_key, data: {"password-visibility-target": :input}, value: @source.details['access_key'], **tw_text_input_args("w-full flex")
        = render "input_hint" do
          you need to create an access key in the AWS Console

      = render "input_group", form: f, for: :secret, label: "AWS Secret Key" do
        = render "secret_visibility_wrapper" do
          = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
        = render "input_hint" do
          will be stored encrypted

      = f.fields :details, model: @source.details_struct do |df|
        = render "input_group", form: df, for: :region, label: 'AWS region' do
          = df.text_field :region, **tw_text_input_args
          = render "input_hint" do
            e.g. us-west-1

      = f.fields :details, model: @source.details_struct do |df|
        = render "input_group", form: df, for: :bucket_name, label: 'AWS bucket name' do
          = df.text_field :bucket_name, **tw_text_input_args

      = f.fields :details, model: @source.details_struct do |df|
        = render "input_group", form: df, for: :order_by, label: 'Order Files By' do
          = render "radio_buttons" do
            = df.radio_button :order_by, 'lexicographical', **tw_radio_args
            = df.label "lexicographical" do
              lexicographical
            = df.radio_button :order_by, 'last_modified', **tw_radio_args
            = df.label "last_modified" do
              last_modified
          specifies how new files are detected
