= f.fields :details, model: @source.details_struct do |df|
  .flex.space-x-4
    %div{class: "basis-2/3"}
      = render "input_group", form: df, for: :email, label: 'Email' do
        = df.text_field :email, **tw_text_input_args
        = render "input_hint" do
          Will regularly receive a notification and a link for statement upload.
    .grow
      = render "input_group", form: df, for: :frequency, label: "Frequency" do
        = df.select :frequency, %w[weekly monthly], {}, **tw_select_input_args
        = render "input_hint" do
          How often notification will be send
