%p.mb-4
  Sunking connector will regularly connect to S3 bucket and download all new files.
%p
  Make sure that new CSV files come after existing files in lexicographical order (file name).
%p.mb-10
  = @source.adapter.validation_hint
= f.fields :details, model: @source.details_struct do |df|
  .flex.space-x-4
    %div{class: "basis-1/3"}
      = render "input_group", form: df, for: :frequency, label: "Frequency" do
        = df.select :frequency, %w[monthly weekly daily hourly], {}, **tw_select_input_args("w-3/5")
        = render "input_hint" do
          how often we will look for new files on S3
    %div{class: "basis-2/3"}
      = render "input_group", form: df, for: :access_key, label: 'AWS Access Key' do
        = render "secret_visibility_wrapper" do
          = df.password_field :access_key, data: {"password-visibility-target": :input}, value: @source.details['access_key'], **tw_text_input_args("w-full flex")
        = render "input_hint" do
          you need to create an access key in the AWS Console

      = render "input_group", form: f, for: :secret, label: "AWS Secret Key" do
        = render "secret_visibility_wrapper" do
          = f.password_field :secret, data: {"password-visibility-target": :input}, value: @source.secret, **tw_text_input_args("w-full flex")
        = render "input_hint" do
          will be stored encrypted

      = f.fields :details, model: @source.details_struct do |df|
        = render "input_group", form: df, for: :region, label: 'AWS region' do
          = df.text_field :region, **tw_text_input_args
          = render "input_hint" do
            e.g. us-west-1

      = f.fields :details, model: @source.details_struct do |df|
        = render "input_group", form: df, for: :bucket_name, label: 'AWS bucket name' do
          = df.text_field :bucket_name, **tw_text_input_args