- text = local_assigns.fetch :text, "Next"
- allow_skip = local_assigns.fetch :allow_skip, false
.flex.justify-center.mt-3
  - rounded, color = allow_skip ? ["rounded-bl-lg", :bad] : ["rounded-b-lg", :ok]
  = local_assigns[:form].submit text, **tw_submit_prominent_args(rounded, color: color).merge(data: {disable_with: "Submitting..."})
  - if allow_skip
    - classes = "rounded-br-lg text-center basis-2/3 border-l border-grey-2"
    = link_to "Skip", next_wizard_path, **tw_link_prominent_args(classes, color: :skip, without: %w[rounded-full]).merge(data: {disable_with: "Submitting..."})
