%p.font-semibold.text-lg
  Protocol
%pre.text-sm.font-mono.mt-4
  = @result.protocol

- if @result.ok? && @result.data.present?
  %p.mt-5.font-semibold.text-lg
    Received data (beginning...)
  -# TODO WORD_WRAP / prettify json
  %code
    - if @result.data.is_a?(Array) && @result.data.first.is_a?(Hash)
      - example = @result.data.first(3)
      - keys = example.map(&:keys).flatten.uniq
      %table.table-fixed.border-spacing-y-5.border-separate.mt-2.text-sm
        - keys.each do |k|
          %tr
            %th.text-left.pr-5
              = k
            - example.each do |ex|
              %td.p-3
                = ex[k].to_s.truncate(29)
    - else
      - str = @result.data.is_a?(String) ? @result.data : @result.data.to_s
      = str.truncate(2000)