= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @source.project
  - if @source.persisted?
    = render "breadcrumb" do
      = link_to @source

%turbo-frame#source_build{'data-turbo-action' => "advance"}
  .bg-grey-1.m-1.rounded-lg.shadow
    #wizard_steps.p-4
      %ol.w-full.flex.gap-x-2.mb-6.text-sm.pb-4.border-dotted.border-b-2.flex.justify-center{class: "border-dark/20"}
        - steps = @source.adapter&.configure_step? ? wizard_steps : wizard_steps.without("configure")
        - steps.each_with_index do |s, i|
          - klass = if past_step?(s)
            - "text-dark/50"
          - elsif s == step
            - "text-primary"
          - else
            - "text-dark"
          - unless i.zero?
            %span{class: "text-dark/30"} ›
          %li{class: klass}
            - if @source.wizard_step_links? && s != step
              = link_to s.humanize, wizard_path(s, source_id: @source.id), class: "hover:underline"
            - else
              = s.humanize
    %div.w-full
      = yield