= render "wizard_frame" do
  = form_for @source, url: wizard_path, method: :put do |f|
    = render "form_controls" do
      %p.mb-4
        = I18n.t("sources.build.activate.activate_data_source")
      - if @source.adapter.pull?
        %p.mb-4
          = I18n.t("sources.build.activate.activate_pull")

      .flex.pt-4.mb-8.items-center.pl-4.gap-x-2
        = f.check_box :active, class: "accent-primary text-primary focus:ring-primary"
        = f.label :active, I18n.t("sources.build.activate.activate_now"), class: "mb-1 font-semibold uppercase text-dark/80"

    = render "submit_next", text: "Finish", form: f
