= render "wizard_frame" do
  = form_for @source, url: wizard_path, method: :put do |f|
    = render "form_controls" do
      - case @source.kind
        - when 'api/payg_ops'
          - unless @source.details['tags'].nil? || @source.details['tags'].empty?
            = f.fields :details, model: @source.details_struct do |df|
              = render "input_group", form: df, for: :test_tags, label: I18n.t("paygops.test_tags") do
                = df.select :test_tags, options_for_select(@source.details['tags'], selected: @source.details['test_tags']), {}, { multiple: true , data: {controller: 'choices','choices-target': 'field'}}
              = render "input_hint" do
                = I18n.t("paygops.test_tags_hint")
          - else
            = I18n.t("paygops.no_tags")
        - when 'api/angaza'
          %p.mb-2 
            To import data from your organization, we need to match your API data fields to our tables. Sales data will be mapped and stored in the data_shs table on Prospect, making it visible in dashboards and available for monitoring or RBF programs.
          %p.mb-2 
            Your data fields are on the left, and the drop-down menus on the right let you choose the corresponding Prospect fields. If a field is personally identifiable, Prospect will encrypt and anonymize it to ensure GDPR compliance. The full list of corresponding fields is available at 
            %span{class: "hover:underline text-primary/70"}= link_to "SHS docs", doc_path('shs'), target: "_blank"
            
          %p For fields without a Prospect match, you can choose:
          %ul.list-disc.list-inside
            %li custom: Data is stored in a JSON file, accessible in custom dashboards.
            %li custom_anonymize: Data is stored in the same custom JSON file as above, but also encrypted.
            %li ignore: Data is not stored.
          .mb-8   
          -# = f.fields :details, model: @source.details_struct[:attribute_mapping] do |df|
          - @source.adapter.custom_attributes.each do |attr|
            .mb-12.flex.flex-row.items-center
              = label_tag "source[details][attribute_mapping][#{attr}]", attr, class: "basis-1/2 mb-1 font-semibold text-dark/80"
              - default_selected = @source.details.dig('attribute_mapping', attr) || 'custom' # makes 'custom' the default mapped attribute
              = select_tag "source[details][attribute_mapping][#{attr}]", options_for_select(Source::Api::Angaza.ui_attributes, selected: default_selected), { multiple: false, data: {controller: 'choices','choices-container-outer-class': "choices basis-1/2 mb-1 font-semibold text-dark/80"}}
    = render "submit_next", form: f