= render "wizard_frame" do
  -#%pre
  -#  = @source.attributes

  = form_for @source, url: wizard_path, method: :put do |f|
    = render "form_controls" do
      - if @source.data_categories&.size == 1
        = f.hidden_field :data_category, value: @source.data_categories.first
      = render "sources/build/connection/#{@source.kind.tr('/','_')}", f: f
    = render "submit_next", form: f
