= render "wizard_frame" do
  = form_for @source, url: wizard_path, method: :put do |f|
    = render "form_controls", form: f do

      = render "input_group", form: f,for: :name, label: "Name" do
        = f.text_field :name, required: true, **tw_text_input_args("max-w-md")

      .flex
        %div
          = render "input_group", form: f, for: :kind, label: "Kind of Import" do
            - Source.visible_kinds_grouped(Current.organization).each do |group, kinds|
              .font-bold.mt-4
                = group.titleize
              - kinds.each do |short, k|
                = render "radio_buttons" do
                  = f.radio_button :kind, k, **tw_radio_args
                  = f.label "kind_#{k}".delete("/") do
                    = short.titleize
                    %span{class: "text-grey-3" }
                      = t "build.kinds.#{k}"

    = render "submit_next", form: f
