= render "wizard_frame" do
  - if defined?(@result) && @result&.ok?
    = form_for @source, url: wizard_path, method: :put do |f|
      = hidden_field_tag :source_id, @source.id
      .px-8.mb-10
        = render "validation_result"
      = render "submit_next", form: f

  - elsif defined?(@result) && !@result&.ok?
    = form_for @source, url: wizard_path, method: :put do |f|
      = hidden_field_tag :source_id, @source.id
      .px-8.mb-10
        = render "validation_result"
      = render "submit_next", text: "Back", allow_skip: true, form: f

  - elsif @source.active?
    = form_for @source, url: wizard_path, method: :put do |f|
      = hidden_field_tag :source_id, @source.id
      .px-8.mb-10
        %p
          The source is already active. All data send will be persisted. To test the source please deactivate it first.
      = render "submit_next", form: f

  - elsif @source.kind == "api_push"
    = form_for @source, url: wizard_path, method: :put do |f|
      = hidden_field_tag :source_id, @source.id
      .px-8.mb-10
        %p
          = @source.adapter.validation_hint
        %pre.text-sm.mt-4
          = "Authorization: Bearer #{@source.secret}"
        %p.mt-4
          %span{class: "hover:underline text-primary"}= link_to "-> API Documentation", @source.adapter.swagger_doc_url, target: "_blank"
      = render "submit_next", form: f

  - elsif @source.adapter.try(:manual_upload?)
    = form_for @source, url: wizard_path, method: :put do |f|
      = hidden_field_tag :source_id, @source.id
      .px-8.mb-10
        .flex.space-x-4
          %div{class: "basis-1/2"}
            = @source.adapter.validation_hint
          %div{class: "basis-1/2"}
            = f.file_field :example, required: true
      = render "submit_next", text: "Test", form: f
  - else
    = form_for @source, url: wizard_path, method: :put do |f|
      = hidden_field_tag :source_id, @source.id
      .px-8.mb-10
        %p
          = @source.adapter.validation_hint
      = render "submit_next", form: f