- content_for :page_title do
  New Password for
  = @user.email

= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f|
  .wrapper{class: "w-1/2"}

    - if @user.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @user.errors.to_a.each do |e|
          %li= e

    .field.mt-4
      = f.password_field :password, placeholder: "Password: min 12 characters", required: true, **tw_text_input_args("w-full")
    .field.mt-4
      = f.password_field :password_confirmation, placeholder: :password_confirmation, required: true, **tw_text_input_args("w-full")

    .field.mt-10
      = f.submit "Update Password", **tw_submit_prominent_args