- content_for :page_title do
  Reset Password

= form_with url: password_resets_path, local: true, method: :post do |f|
  .wrapper{class: "w-1/2"}
    .field
      = f.email_field :email, required: true, placeholder: User.human_attribute_name("email"), **tw_text_input_args("w-full")
    .field.mt-10
      = f.submit "Request Reset", **tw_submit_prominent_args
