You have been invited to <%= Rails.application.config.theme[:prefix] %>, <%= @user.email %>

=====================================================

<%=
  if @inviting_user
    "#{@inviting_user} has added you to join the organization #{@user.organization}"
  else
    "You have been added to join the organization #{@user.organization}"
  end
%>

Please follow the link below to complete your registration.

<%= invitation_users_url invite_code: @user.invite_code %>

Have a great day!
