You have been invited to join the organization <%= @organization %> on <%= Rails.application.config.theme[:prefix] %>, <%= @user %>

=====================================================

Please follow the link below to accept your invitation.

<%= invitations_users_url %>

Have a great day!
