Hello, <%= @user %>
===============================================

You have requested to reset your password.

To choose a new password, just follow the link below within the next 24 hours.

<%= @url %>

Have a great day!