Welcome to <%= Rails.application.config.theme[:prefix] %>, <%= @user %>

=====================================================

Your Registration is complete.

Thanks for joining and have a great day!

<%= root_url %>
