- i = defined?(@import) ? @import : local_assigns[:import]
- raise "Either provide @import or local_assigns :import" unless i
-# - you have to spell tailwind classes, not just dynamically generate them otherwise they get minified and purged...
- border, bg = if i.failed? then %w[border-pink/50 bg-pink/50] elsif i.no_data? then %w[border-yellow/50 bg-yellow/50] else %w[border-primary/50 bg-primary/50] end

.w-60.bg-grey-1.border{class: border}
  .whitespace-nowrap.text-left.text-xs.font-medium.font-mono.px-1.py-1.leading-none{style: "width: #{i.state_percent}%", class: bg}
    = i.state.humanize
