- i = defined?(@import) ? @import : local_assigns[:import]
- raise "Either provide @import or local_assigns :import" unless i
- state_color = if i.failed? then "text-pink" elsif i.processing_finished? then "text-primary" else "" end

.flex.justify-start.gap-x-3.text-center.items-center
  = render "imports/progress", import: i
  = i.time_s