= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @source.project
  = render "breadcrumb" do
    = link_to @source

- if @source
  = content_for :page_title do
    Imports for Source #{@source}

  %table.table-auto.border-spacing-y-5.border-separate
    %tr
      %td.grid.grid-cols-1
        - @imports.each do |i|
          %span.text-sm.font-mono.mb-2
            = link_to i do
              = render "imports/summary", import: i
  = pagy_nav(@pagy).html_safe if @pagy.pages > 1