= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @import.project
  = render "breadcrumb" do
    = link_to @import.source

= content_for :page_actions do
  .flex.flex-row
    - if policy(@import).reprocess?
      %span.ml-4.cursor-pointer.text-primary
        = link_to import_reprocess_path(@import), title: "Reprocess", data: {turbo_method: :post, turbo_confirm: t(:confirm_delete_and_reprocess)} do
          = heroicon "arrow-path"
    - if policy(@import).destroy?
      %span.ml-4.cursor-pointer.text-primary
        = link_to import_path(@import), id: :delete_source, title: "Delete", data: {turbo_method: :delete, turbo_confirm: t(:confirm_import_destroy)} do
          = heroicon "trash"

= render "tabs", titles: %w[Details Protocol] do
  = render "tab" do
    = render "attrib_table" do
      = render "attrib_tr", attr: "progress" do
        = render "progress"
      - if @import.error
        = render "attrib_tr", title: "Error" do
          .text-sm.font-mono
            = @import.error
      - if policy(@import).download?
        - if @import.file.attached?
          = render "attrib_tr", attr: "file" do
            %span{class: "text-primary hover:underline"}
              = link_to "Download", import_download_path(@import)
        - if @import.recording.attached?
          = render "attrib_tr", attr: "recording" do
            %span{class: "text-primary hover:underline"}
              = link_to "Download", import_download_path(@import, recording: true)
      = render "attrib_tr", attr: :last_imported_hint, model: @import

      = render "attrib_section", section: "Timing"
      - %w[created_at ingestion_started_at ingestion_finished_at processing_started_at processing_finished_at].each do |attr|
        = render "attrib_tr", attr: attr, model: @import

      = render "attrib_section", section: "Counts"
      -  %w[rows_duplicated rows_failed rows_inserted rows_updated].each do |attr|
        = render "attrib_tr", attr: attr, model: @import

  = render "tab" do
    %pre.text-sm.font-mono
      = @import.protocol
