= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to @organization

- content_for :page_title do
  Edit Organization

- content_for :html_head do
  %meta{name: "turbo-visit-control", content: "reload"}

= form_for @organization, url: organization_path, html: { id:  "crypt-form"}, data: { turbo: false }  do |f|

  .wrapper{class: "w-1/2"}

    - if @organization.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @organization.errors.to_a.each do |e|
          %li= e

    - if Current.user.admin?
      .font-bold.mb-2
        Organization name
      .field
        = f.text_field :name, placeholder: :name, required: true, **tw_text_input_args("w-full")
    - if @organization.public_key.blank?
      %div.my-8.p-6.border.border-grey-4.rounded
        .font-bold.text-xl.mb-4
          Encryption Key Setup
        %div.message-control
          %h1{class: "font-bold text-l"}
            To protect your privacy-related information, you need to create an encryption key. This key will ensure that only your organization can decrypt the data.
          %br
          .font-bold.text-left.mb-2.text-pink
            Important:
          %ul.list-disc.list-outside.pl-5
            %li.text-pink Do NOT use your personal password, as this key may be shared with other users in your organization.
            %li.text-pink Store the key in a secure and accessible location. Changing it later can be difficult because all data must be re-encrypted with the new key.

          %br
          %div{class: "mb-8 flex flex-col display:inline-block"}
            %span
              For more details, refer to the
              %a{ class: "hover:underline text-primary/70", href: "https://gitlab.com/prospect-energy/prospect-server/-/wikis/Discussion/Technical-Concept-for-PII-data-encryption", target: "_blank"} -> Prospect Wiki
            %br
            %span
              %b Enter a password you can remember that will be used to encrypt your data
              \- using your browser’s password manager to store it is recommended.
        .field.mt-10
          %section.examples
          %section{ class: ".encrypt-decrypt .rsa-oaep" }
            %section.set_password{ data: { controller: "password-visibility" }}
              %label{ for: "rsa-oaep-message", class: "mb-1 font-semibold text-dark/80"}Create Password
              = render "secret_visibility_wrapper" do
                = f.password_field :message, id: "crypt-password", data: {"password-visibility-target": :input}, size: "100", **tw_text_input_args("w-full flex"), autocomplete: "new-password"

            %section.set_password{ data: { controller: "password-visibility" }}
              %label{ for: "rsa-oaep-message", class: "mb-1 font-semibold text-dark/80"}Confirm password
              = render "secret_visibility_wrapper" do
                = f.password_field "message-confirmation", id: "crypt-password-confirmation", data: {"password-visibility-target": :input}, size: "100", **tw_text_input_args("w-full flex"), autocomplete: false

            %br
            %input{ id: "crypt-create-key", class: "w-full py-2 px-4 font-bold uppercase text-grey-1 hover:text-white hover:bg-primary/70 bg-gradient-to-r hover:animate-pulse from-shade-3 to-shade-2 rounded-b-lg", type: "button", value: "Create Keypair" }
        %div
          = f.hidden_field :public_key, id: "crypt-public-key", class: "rounded focus:ring-primary focus:border-primary max-w-md", value: @organization.public_key
          = f.hidden_field :wrapped_key, id: "crypt-wrapped-key", class: "rounded focus:ring-primary focus:border-primary max-w-md", value: @organization.wrapped_key
          = f.hidden_field :salt, id: "crypt-salt", class: "rounded focus:ring-primary focus:border-primary max-w-md", value: @organization.salt
          = f.hidden_field :iv, id: "crypt-iv", class: "rounded focus:ring-primary focus:border-primary max-w-md", value: @organization.iv

    .field.mt-10
      = f.submit "Save", **tw_submit_prominent_args

:javascript
  window.addEventListener("load", function(){
    window.keygen = new KeyGen()
  });
