%turbo-frame#show_org_api_token
  - if @visible
    = link_to organization_show_token_path(@organization, visible: false), class: "mr-4 text-primary cursor-pointer" do
      = heroicon "eye-slash"
    %code
      = @organization.api_key
  - else
    = link_to organization_show_token_path(@organization, visible: true), class: "mr-4 text-primary cursor-pointer" do
      = heroicon "eye"
    %code
      *********************