= content_for :page_actions do
  - if policy(:user).new?
    = link_to 'Invite User', new_user_path, **tw_link_prominent_args
  - if policy(@organization).edit?
    = link_to 'Edit', edit_organization_path(Current.organization), data: { turbo: "false" }, **tw_link_prominent_args
  - if policy(@organization).edit? && Current.organization.encryption_keys?
    = link_to 'Share Decryption Key', shared_keys_vault_edit_path(), data: { turbo: "false" }, **tw_link_prominent_args

- content_for :page_title do
  = @organization

#organization_users
  - @organization.organization_users.each do |ou|
    - u = ou.user
    .w-full.grid.grid-cols-6.gap-3.py-3.px-2{class: (u.active? ? "" : "text-dark/50")}
      .user-name{class: "col-span-3 text-primary font-semibold hover:underline"}
        = link_to u.to_s, u
      .user-role
        = ou.privilege_summary
      .user-state
        = u.state
      .edit.flex.justify-end.items-center
        - if policy(u).update? && !u.admin?
          %span.ml-4.cursor-pointer.hover:text-primary
            = link_to organization_user_privileges_path(ou) do
              = heroicon "key"

        - if policy(u).update?
          %span.ml-4.cursor-pointer.hover:text-primary
            = link_to edit_user_path(u) do
              = heroicon "pencil-square"

        - if policy(u).resend_invitation?
          %span.ml-4.cursor-pointer.hover:text-primary
            = link_to resend_invitation_user_path(u.id), title: 'Resend invite' do
              = heroicon "envelope"

- if Current.user.admin? && @organization == Current.organization
  - Organization.where.not(id: Current.organization.id).order(:name).each do |org|
    .font-bold.text-xl.mt-6.pt-6.border-t.border-t.border-grey-2
      = org
    - org.active_users.order(:username).each do |u|
      .w-full.flex.flex-row.py-3.px-2.items-baseline
        %div{class: "text-primary font-semibold hover:underline al"}
          = link_to u.to_s, u
        %span.ml-4.text-sm.text-grey-3
          = u.organization_users.where(organization: org).first.privilege_summary
        - unless u.active?
          %span.ml-4.text-sm.text-grey-3
            = u.state


%h1.font-bold.text-2xl.mb-4.mt-10
  Outgoing API credentials
- if policy(@organization).show_token?
  %p.mb-4
    See
    %span{class: "hover:underline text-primary/70"}
      %a{ href: "/api-docs/index.html", target: "_blank"} -> API Docs

  %table.table-auto.border-spacing-y-5.border-separate

    %tr
      %th.text-left.pr-5
        API Access Token
      %td
        %turbo-frame#show_org_api_token.flex.flex-row.items-center{
          src: organization_show_token_path(@organization, visible: false), loading: :lazy
        }
    %tr
      %th.text-left.pr-5
        Odyssey API Integration
    %tr
      %th.text-left.pr-5
        Odyssey Meter API URL
      %td
        = root_url+"api/v1/out/odyssey/readings"
    %tr
      %th.text-left.pr-5
        Odyssey Payments API URL
      %td
        = root_url+"api/v1/out/odyssey/payments"
    %tr
      %th.text-left.pr-5
        Creator
      %td
        = link_to_if @organization.creator, @organization.creator
- else
  %p.mb-4
    Only Admin can see the API credentials

