#overlays
  #submittingBanner.hidden{ class: 'w-full h-full top-0 left-0 fixed text-center bg-black/70 z-40 flex items-center justify-center' }
    .flex.flex-col.gap-y-4.p-8.text-white.max-w-80
      %div.inline-block.flex.flex-row.gap-x-4.items-center.animate-pulse
        %div{class: "inline-block h-5 w-5 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface"}
        %span#submitMessage.font-semibold.text-xl
          Uploading
  #successBanner.hidden{ class: 'w-full h-full top-0 left-0 fixed text-center bg-primary/70 z-40 flex items-center justify-center' }
    .flex.flex-col.gap-y-8.p-8.rounded-lg.bg-white.text-black.max-w-80.shadow-lg
      %span#successMessage.font-semibold.text-xl
        Upload successful!
      %span#successHint.text-sm.text-grey-3
        The data was received and all required datapoints are found. Additional eligibility checks will be performed in the background.
      %span.button.rounded-lg.p-4.bg-primary.font-bold.text-xl.text-white.shadow{class: "hover:bg-primary/70", onclick: "event.preventDefault(); hideOverlay();"}
        OK
  #errorBanner.hidden{ class: 'w-full h-full top-0 left-0 fixed text-center bg-pink/70 z-40 flex items-center justify-center' }
    .flex.flex-col.gap-y-8.p-8.rounded-lg.bg-white.text-black.max-w-80.min-w-64.shadow-lg
      %span#errorMessage.font-semibold.text-xl
        Upload failed: Error while validating the data
      %pre#errorLog.text-sm.text-left.overflow-auto.max-h-80
        Error Log
      %span.button.rounded-lg.p-4.bg-pink.font-bold.text-xl.text-white.shadow{class: "hover:bg-pink/70", onclick: "event.preventDefault(); hideOverlay();"}
        OK

:javascript
  function showOverlay(overlayId) {
    document.querySelectorAll('#overlays > *').forEach((overlayElement) => {
      if (overlayElement.id === overlayId) {
        overlayElement.classList.remove("hidden")
      } else {
        overlayElement.classList.add("hidden")
      }
    });
  }

  function hideOverlay() {
    showOverlay(null);
  }

  function submittingBanner(text = "Uploading") {
    document.getElementById("submitMessage").textContent = text;
    showOverlay("submittingBanner");
  }

  function successBanner(text = "Upload successful!") {
    document.getElementById("successMessage").textContent = text;
    showOverlay("successBanner");
  }

  function errorBanner(message, log) {
    document.getElementById("errorMessage").textContent = message;
    document.getElementById("errorLog").textContent = log;
    showOverlay("errorBanner");
  }
