- first = true
- local_assigns[:sources].order(:name).partition(&:active).each do |group|
  - group.each do |s|
    - border_class = first ? "" : " border-t border-grey-2 "
    - first = false
    - active_class = s.active? ? "" : "text-dark/50 "
    - show_manual_upload = s.active? && s.kind == "manual_upload"
    - rows_class = show_manual_upload ? " grid-rows-3 " : " grid-rows-2 "
    .w-full.grid.grid-cols-6.grid-rows-3.gap-3.py-4{class: border_class + active_class + rows_class}
      .import-name{class: "col-span-3 text-primary font-semibold hover:underline"}
        = link_to s.name, s
      .import-data-category
        = s.data_category.titleize
      .import-kind
        = s.kind.titleize
      .import-active-edit{class: "flex justify-end items-center"}
        %span
          = s.active? ? "active" : "inactive"
        - if policy(s).update?
          %span.ml-4.cursor-pointer.text-primary
            = link_to build_source_path(Source::BUILD_STEPS.first, source_id: s.id), title: "Edit" do
              = heroicon "pencil-square"
      - if show_manual_upload
        .upload-file.text-sm.col-span-6
          = form_for s, url: source_manual_upload_path(s), method: :post do |f|
            = f.file_field :file
            = f.submit "Upload", class: "bg-primary/50 py-1 px-2 font-white text-sm shadow text-white hover:bg-primary"
      - if s.active? && s.kind == "manual_input/ueccc" && s.adapter.bulk_upload?
        .upload-file.text-sm.col-span-6
          = form_for s, url: dynamic_form_submit_sources_path, method: :post do |f|
            = f.hidden_field :slug, value: s.details["slug"], id: :slug, name: :slug
            = f.file_field :file, id: :file, name: :file
            = f.submit "Upload", class: "bg-primary/50 py-1 px-2 font-white text-sm shadow text-white hover:bg-primary"
      .last-import.text-sm.col-span-6.font-mono
        - i = s.imports.last
        - if i
          %span.text-xs.font-mono
            = link_to i do
              = render "imports/summary", import: i
        - else
          No imports yet!