= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @source.project
  = render "breadcrumb" do
    = link_to @source

= content_for :page_title do
  Backfill Data for 
  = @source

Backfill will import historic data.

- if @source.adapter.capability? :backfill_from_date
  %p.mb-2 
    Please select a date from which you want to import data:

  = form_with url: source_backfill_from_date_path, method: :post do |f|
    .wrapper.w-full
      .fields.flex.flex-row.gap-x-2
        .field.grow
          = f.date_field :from_date, value: 1.month.ago, max: Date.today, min: 10.years.ago, required: true, **tw_select_input_args("w-full")
        .field.grow
          = f.submit "Start Backfill", **tw_submit_prominent_args(without: "w-full")
- else
  %p.mb-2 
    This connector supports complete backfill and will load all the historic data available. This can include a lot of data, use with care. Please confirm.
  = link_to 'Start Backfill', source_backfill_completely_path, **tw_link_prominent_args
