= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @source.project
  = render "breadcrumb" do
    = link_to @source

= content_for :page_title do
  Update Data for
  = @source

= form_for @source, url: source_csv_update_submit_path, method: :post do |f|
  .wrapper.w-full
    - if @source.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @source.errors.to_a.each do |e|
          %li= e
    .fields.flex.flex-row.gap-x-2
      .field.grow
        = f.select :data_category, Postgres::DataTable.all.select(&:updatable?).map(&:data_category), required: true, **tw_select_input_args("w-full")
      .field.grow
        = f.file_field :file, required: true
      .field.grow
        = f.submit "Upload CSV", **tw_submit_prominent_args