#tabulator-table{data: {controller: "tabulator", tabulator_options: @options.to_json.html_safe}}

:javascript
  document.addEventListener("DOMContentLoaded", function() {
    const nameCells = document.querySelectorAll('.tabulator-cell[tabulator-field="name"]');

    console.log();

    nameCells.forEach(cell => {
      cell.addEventListener('click', function() {
        alert("You clicked on: " + this.textContent);
      });
    });
  });
