- if current_user
  = content_for :breadcrumbs do
    = render "breadcrumb" do
      = link_to "Import", projects_path
    = render "breadcrumb" do
      = link_to @source.project
    = render "breadcrumb" do
      = link_to @source

%meta{name: "csrf-token", content: form_authenticity_token}

-# Placeholder for pending submissions count, initially hidden
#submissionCount.submission-count-class.hidden.text-sm.font-medium.bg-pink.text-white.p-4.mb-4.sticky.top-0.left-0.right-0.shadow.z-50
  %p.flex.items-center.text-center
    %span.mr-2.text-white.text-center
      = heroicon "exclamation-triangle", variant: :outline
    %span#submissionCountText Pending submissions: 0

= render "dynamic_form_overlays"

.image-over-form.flex.justify-center.mb-6
  = image_tag(@logo_image, alt: 'Partner logo', class: 'block')

#formContainer.mx-4.lg:mx-0
  %form#myForm{ class: '', "data-dependent-selects": "", "data-turbo": "false", "enctype": 'multipart/form-data'}
    - field_class = 'block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50'
    = hidden_field_tag :slug, @slug
    - @form_data.each do |group_key, group|
      - next unless group_key
      %fieldset{class: 'border border-grey-4 p-4 rounded-lg mb-4 text-dark/80 lg:grid lg:grid-cols-2 lg:gap-4 bg-grey-1 shadow rounded-lg', data: { show_only_if: group[:show_only_if] }}
        %legend.text-lg.font-semibold= group[:legend]
        - group[:fields].each do |key, field|
          - field_style = field[:show_only_if] ? "display: none;" : ""
          - validation_rules_data = field[:validation_rules] ? { data: { validation_rules: field[:validation_rules].join(',') } } : {}
          - label = field[:label] ? field[:label] : key.to_s.humanize.titleize
          - disabled = field[:disabled] ? true : false
          - readonly = field[:readonly] ? true : false
          - error_message = field[:error_message] ? field[:error_message] : ''
          - if field[:validation_rules]&.any? { |rule| rule.include?('required') }
            - label += ' *'
          - if !field[:type].to_sym.in?([:camera, :hidden_field])
            .mb-4{style: field_style, id: "#{key}-field", data: { show_only_if: field[:show_only_if] }}
              - # hide the arrows on number fields via a class
              - # https://stackoverflow.com/a/75872055
              - hide_arrows = "[appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
              = label_tag key, label, class: 'mb-1 font-semibold uppercase text-dark/80'
              - if field[:prefix] && (field[:type].to_sym.in?(%i[text_field number_field]))
                .input-group.relative
                  %span.absolute.inset-y-0.left-0.flex.items-center.pl-2.input-prefix
                    %span.text-gray-500.sm:text-sm
                      = field[:prefix]
                  - if field[:type].to_sym == :text_field
                    = text_field_tag key , field[:value], { placeholder: field[:placeholder], id: key, class: "#{field_class} pl-12", disabled: disabled, readonly: readonly, errormessage: error_message }.merge(validation_rules_data)
                  - elsif field[:type].to_sym == :number_field
                    = number_field_tag key, field[:value], { id: key, class: "#{field_class} pl-12 #{hide_arrows}", disabled: disabled, errormessage: error_message }.merge(validation_rules_data)
              - else
                - case field[:type]
                - when :location_query, "location_query"
                  = select_tag field[:type], nil, { required: true, onChange: "populate(this, #{field[:populate]})", class: field_class + ' z-20', errormessage: error_message }.merge(validation_rules_data)
                  - key = "location_query" # change the key to match the error div id
                - when :text_field, "text_field"
                  - if key.to_sym == :gps_location
                    .flex.flex-row
                      = text_field_tag key, field["value"], { placeholder: field[:placeholder], id: key, class: "#{field_class} -mr-10 float-left", disabled: disabled, readonly: readonly, errormessage: error_message }.merge(validation_rules_data)
                      %span.btn.cursor-pointer.text-primary.float-right.input-suffix.m-2{ onclick: "checkGpsLocation()" }
                        = heroicon "arrow-path"
                  - else
                    = text_field_tag key, field["value"], { placeholder: field[:placeholder], id: key, class: field_class, disabled: disabled, errormessage: error_message }.merge(validation_rules_data)
                - when :number_field, "number_field"
                  = number_field_tag key, field["value"], { id: key, class: "#{field_class} #{hide_arrows}", disabled: disabled, errormessage: error_message }.merge(validation_rules_data)
                - when :date_field, "date_field"
                  - data_attributes = {}
                  - if field[:copy_from].present?
                    - data_attributes["data-copy-from"] = field[:copy_from].to_s
                  = date_field_tag key, field["value"], { id: key, class: field_class, disabled: disabled, errormessage: error_message }.merge(data_attributes).merge(validation_rules_data)
                - when :time_field, "time_field"
                  = time_field_tag key, field["value"], { id: key, class: field_class, disabled: disabled, errormessage: error_message }.merge(validation_rules_data)
                - when :select, "select"
                  -# Inside each select field definition
                  - disabled = field[:dependent_on].present?
                  - data_attributes = {}
                  - options = []
                  - if disabled
                    - data_attributes["data-dependent-on"] = field[:dependent_on].to_s
                    - data_attributes["data-dependent-on-message"] = field[:dependent_on_message]
                    - # Set the options to include only the placeholder with the dependent_on_message
                    - options = [[field["dependent_on_message"], ""]]
                  - else
                    -# - puts "Options: ******* #{field} ********"
                    - options = field[:options].map { |opt| [opt[:display_text], opt[:value]] }
                  = select_tag key, options_for_select(options), { id: key, class: field_class, disabled: disabled, errormessage: error_message }.merge(data_attributes).merge(validation_rules_data)

              .error-message.mt-1.text-sm.font-bold.text-pink.hidden{ id: "#{key}_error" }

          - elsif field[:type].to_sym == :hidden_field
            = hidden_field_tag key, field[:value], { id: key, class: field_class, value: field[:value] }
          - elsif field[:type].to_sym == :camera
            .camera-field.w-full.col-span-2.mb-4
              %div{ class: 'mb-1 font-semibold uppercase text-dark/80' }
                = label
              - file_field_attributes = { type: "file", id: key, name: key, accept: "image/*", disabled: disabled, errormessage: error_message }
              - file_field_attributes.merge!(validation_rules_data)
              %input{file_field_attributes.merge(class: "opacity-0 h-1 w-1 absolute")}
              .dropzone.flex.flex-row.gap-x-2.items-center.justify-center.border-dashed.border-2.rounded-md.cursor-pointer.p-2
                %label{for: key, onclick: "photoViaBrowse();",class: "basis-1/2 bg-grey-2 hover:bg-grey-3/40 h-full font-semibold text-primary flex flex-col items-center justify-center py-4 rounded-l-md"}
                  %span
                    = heroicon "cloud-arrow-up", options: { disable_default_class: true, class: "h-8" }
                  %span
                    Browse
                %label{for: key, onclick: "photoViaCamera();",  class: "basis-1/2 bg-grey-2 hover:bg-grey-3/40 h-full font-semibold text-primary flex flex-col items-center justify-center py-4 rounded-r-md"}
                  %span
                    = heroicon "camera", options: { disable_default_class: true, class: "h-8" }
                  %span
                    Camera
              .error-message.text-sm.font-bold.text-pink.hidden{ id: "#{key}_error" }
              .image-preview-container.flex.flex-wrap.mt-2

    %input{ type: "submit", id: "submit", value: "Submit", onclick: "event.preventDefault(); showSummaryOverlay();", class: "w-full py-2 px-4 font-bold uppercase text-grey-1 hover:text-white hover:bg-primary/70 bg-gradient-to-r hover:animate-pulse whitespace-nowrap from-shade-3 to-shade-2 rounded-lg" }

:javascript
  window.railsEnv = "#{Rails.env}";

  document.addEventListener("DOMContentLoaded", () => {
    (async() => {

      class Finder {
        items
        current_query
        last_iteration

        constructor(items) {
          this.items = Object.entries(items).map(([k, v], _i) => this.reduce(k, v)).flat(Number.POSITIVE_INFINITY)
          this.current_query = ""
          this.last_iteration = 0
        }

        // reduces a nested hash into single elements
        // {a: {b: {c: [:d]}}} => ("a", {b: {c: [:d]}}) => [[[["a, b, c, d"]]]]
        // and each element is converted into a select object:
        // { value: "a␞b␞c␞d", label: d, c, b, a" }
        // label order gets reversed to search from bottom to top
        // the value is later written into a select field,
        // therefore the special `␞` record seperator char
        reduce(key, obj){
          if (obj.constructor.name === "Object") {
            return Object.entries(obj).map(([k, v], _i) => this.reduce([key, k].flat(Number.POSITIVE_INFINITY), v))
          }

          if(obj.constructor.name === "Array") {
            return Object.entries(obj).map(([_i, value]) => {
                const v = key.concat(value).join("␞")
                const key_copy = structuredClone(key).reverse();
                return {value: v, label: `${value}, ${key_copy.join(", ")}`}
              })
          }

          throw `What is this?: ${obj}`
        }

        // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_expressions
        escapeRegExp(string) {
          return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        }

        // searches through the items until max items are found or none found
        // can be called multiple times with the same query to continue the search
        // spaces in the query string are replaces by wildcards to enable fuzzy search
        query(string, max) {
          if (string.length === 0) {
            return []
          }

          const found = []
          // reset position if we have a new string
          if (this.current_query !== string){
            this.current_query = string
            this.last_iteration = 0
          }

          // reverse the search order from low to high
          const pattern = RegExp(this.escapeRegExp(string).replaceAll(" ", ".*"), "i")

          for(const item of this.items.slice(this.last_iteration)) {
            this.last_iteration++

            if (item.label.match(pattern)){
              found.push(item)
            }

            if (found.length >= max){
              return found
            }
          }
          return found
        }
      }

      const locations = JSON.parse(await(await(await fetch("#{asset_url 'UECC_locations.json'}")).blob()).text());
      const finder = new Finder(locations);
      select = document.getElementById("location_query")
      if(select){
        const tom_select = new TomSelect(select, {
          maxItems: 1,
          maxOptions: Number.POSITIVE_INFINITY,
          preload: true,
          valueField: 'value',
          labelField: 'label',
          searchField: 'label',
          sortField: 'label',
          highlight: true,
          create: false,
          plugins:['virtual_scroll'],
          firstUrl: (query) => {
            return query
          },
          load: async function(query, callback) {
            if (this.finder === undefined){
              this.finder = finder
            }

            // fix the scroll to top bug after loading more data
            const _scrollToOption = this.scrollToOption
            this.scrollToOption = () => {}

            const search = this.getUrl(query)
            const data = this.finder.query(search, 20)

            if (data.length < 20) {
              // empty parameter to indicate no more data
              this.setNextUrl(search, "");
            } else {
              // needs to be set to query more data
              this.setNextUrl(search, `${this.finder.last_iteration}`);
            }

            callback(data)
            this.scrollToOption = _scrollToOption
          },
          render: {
            loading_more: (data) => `<div class="loading-more-results d-flex align-items-center"><div class="spinner"></div> Loading more results </div>`,
            no_more_results: (data) => `<div class="no-more-results"> No more results </div>`
          }
        });
        // set the wrapper field on the original select
        // to add error styling later
        select.wrapper_field = tom_select.wrapper
      }
    })()

    const form = document.getElementById("myForm");
    const dependentSelectsData = #{@dependent_selects.to_json.html_safe};
    const dependentFields = Array.from(
      form.querySelectorAll("select[data-dependent-on]"),
    );

    const copiedFields = Array.from(
      form.querySelectorAll("input[data-copy-from]")
    );

    const autoDisplay = #{@auto_display.to_json.html_safe};
    const autoDisplayWatchFieldNames = [...new Set(Object.entries(autoDisplay).map(([k,v]) => v.watch).flat())];

    for (const field of Array.from(form.elements)) {
      // set special rules for fields
      setExtraFieldAttributes(field);

      // check rules for fields
      if (field.type !== "submit") {
        field.addEventListener("input", () => validateSingleField(field));
      }

      if (autoDisplayWatchFieldNames.includes(field.name)) {
        field.addEventListener("input", () => autoDisplayChanged(field));
      }
    }

    window.addEventListener("online", trySubmitStoredData);

    updatePendingSubmissionsCount();

    checkGpsLocation();

    if (document.getElementById("photo_upload")) {
      const cameraInput = document.getElementById("photo_upload");
      cameraInput.addEventListener("change", handleImageSelect);
    }

    for (const select of dependentFields) {
      const parentField = form.querySelector(
        `select[id="${select.dataset.dependentOn}"]`,
      );
      parentField.addEventListener("change", () =>
        updateDependentSelect(select, parentField.value),
      );
    }

    for (const input of copiedFields) {
      const parentField = form.querySelector(
        `input[id="${input.dataset.copyFrom}"]`
      );
      parentField.addEventListener("change", () =>
        updateCopiedField(input, parentField.value),
      );
    }

    function updateCopiedField(field, value) {
      if(field.value == null || field.value === "") {
        field.value = value;
      }
    }

    function autoDisplayChanged(field) {
      formData = new FormData(form);

      Object.entries(autoDisplay).forEach(([target, config]) => {
        targetElement = document.getElementById(target);

        someFieldsEmpty = config.watch.some((entry) => { formData.get(entry)
          fieldVal = formData.get(entry);
          return (fieldVal === null) || (fieldVal === "");
        });
        if (someFieldsEmpty) {
          targetElement.value = null;
          return;
        }

        if (config.watch.includes(field.name) || field == null) {
          existingCombination = config.combinations.find((combi) => {
            return Object.entries(combi.required).every(([fieldName, fieldValue]) => {
              existingVal = formData.get(fieldName);
              return existingVal && existingVal === fieldValue
            })
          })

          if (existingCombination) {
            targetElement.value = existingCombination.result
          } else {
             targetElement.value = null;
          }
          validateSingleField(targetElement);
        }
      });
    }

    function updateDependentSelect(dependentSelect, parentValue) {
      const fieldName = dependentSelect.id;
      // Fetch the defaultMessage from the field's data attribute
      const defaultMessage =
        dependentSelect.getAttribute("data-dependent-on-message") ||
        "Please select";
      if (!parentValue) {
        dependentSelect.innerHTML = `<option value="">${defaultMessage}</option>`;
        dependentSelect.disabled = true;
        return;
      }

      const newOptions = getNewOptionsForDependentField(fieldName, parentValue);
      dependentSelect.innerHTML = newOptions
        .map(
          (option) =>
            `<option value="${option.display_text.value}">${option.display_text.display_text}</option>`,
        )
        .join("");
      dependentSelect.disabled = false;
      dependentSelect.dispatchEvent(new InputEvent("input")); // trigger combination checker...
    }

    function getNewOptionsForDependentField(fieldName, parentValue) {
      const optionsMap = dependentSelectsData[fieldName];

      if (optionsMap?.[parentValue]) {
        // Since optionsMap[parentValue] is an array of arrays, we can use array destructuring.
        return optionsMap[parentValue].map((display_text, value) => {
          return {
            value: value || "", // Ensure value is never undefined
            display_text: display_text || "Invalid option", // Provide a fallback for display_text
          };
        });
      }
      // Return a default option if there's no matching parentValue
      return [{ value: "", display_text: "Please select" }];
    }


    const allFields = document.querySelectorAll("[data-show-only-if]");

    allFields.forEach(field => {
      const condition = field.dataset.showOnlyIf.split("=");
      const expected = condition[1].split("|");
      const conditionField = document.querySelector(`[name="${condition[0]}"]`);

      const updateVisibility = () => {

        if (conditionField && expected.includes(conditionField.value)) {
          field.style.display = '';
        } else {
          field.style.display = 'none';
        }
      };
      if (conditionField) {
        conditionField.addEventListener('change', updateVisibility);
      }
      updateVisibility(); // Initial check to set visibility based on current form data
    });
  });

  function populate(select, fields) {
    const values = select.value.split("␞")
    for(const i in fields) {
      document.getElementById(fields[i]).value = values[i]
    }
  }

  function getStoredFormData() {
    const submissions = localStorage.getItem("formSubmissions");
    return submissions ? JSON.parse(submissions) : [];
  }

  function storeFormData() {
    const form = document.getElementById("myForm");
    const formData = new FormData(form);
    const data = {};
    const imagesToProcess = []; // Array to keep track of images


    // Gather non-image form data
    for (const [key, value] of formData.entries()) {
      if (value instanceof File && value.size > 0) {
        imagesToProcess.push({ key, file: value }); // Store image for later processing
      } else {
        data[key] = value;
      }
    }

    // Function to process the next image, if any
    function processNextImage() {
      if (imagesToProcess.length > 0) {
        const { key, file } = imagesToProcess.shift();
        readImageAsBase64(file, (base64String) => {
          data[key] = base64String;
          processNextImage(); // Process the next image
        });
      } else {
        finalizeFormData(); // No more images, finalize form data
      }
    }

    // Convert image file to Base64 and continue
    function readImageAsBase64(file, callback) {
      const reader = new FileReader();
      reader.onloadend = () => {
        callback(reader.result);
      };
      reader.readAsDataURL(file);
    }

    // Finalize and store the form data
    function finalizeFormData() {
      // Validate form data
      if (!validateFormData(data)) {
        return; // Stop submission if validation fails
      }

      submittingBanner();

      // Add timestamp and store data
      data.timestamp = new Date().toISOString();
      const submissions = getStoredFormData();

      submissions.push(data);

      localStorage.setItem("formSubmissions", JSON.stringify(submissions));

      // Try to submit the stored data
      trySubmitStoredData();

      // Update the counter of the not submitted data and display the message
      updatePendingSubmissionsCount();
    }

    processNextImage(); // Start processing images
  }

  async function trySubmitStoredData() {
    if (!navigator.onLine) {
      //return;
    }

    const submissions = getStoredFormData();
    if (submissions.length === 0) return;

    const submission = submissions[0];

    const response = await fetch("/sources/dynamic_form_submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": getCsrfToken(),
      },
      body: JSON.stringify(submission),
    });

    if (response.ok) {
      removeSubmittedData(submission);
      onSuccessfulSubmission();
      trySubmitStoredData();
    } else {
      failed = true;
      let json = await response.json();
      removeSubmittedData(submission);
      onFailedSubmission(json["message"], json["errorLog"]);
    }
  }

  function removeSubmittedData(submittedData) {
    const submissions = getStoredFormData();
    const index = submissions.findIndex(
      (data) => JSON.stringify(data) === JSON.stringify(submittedData),
    );
    if (index > -1) {
      submissions.splice(index, 1);
      localStorage.setItem("formSubmissions", JSON.stringify(submissions));
      updatePendingSubmissionsCount();
    }
  }

  function updatePendingSubmissionsCount() {
    const submissions = getStoredFormData();
    const count = submissions.length;
    const submissionCountDiv = document.getElementById("submissionCount");
    const submissionCountText = document.getElementById("submissionCountText");

    if (count > 0) {
      submissionCountText.textContent = `You have ${count} pending submissions. Please make sure your device is online, so the data can be transmitted.`;
      if (!navigator.onLine) submissionCountDiv.classList.remove("hidden");
    } else {
      submissionCountDiv.classList.add("hidden");
    }
  }

  function getCsrfToken() {
    return document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content");
  }

  function setExtraFieldAttributes(field) {
    const rulesAttribute = field.getAttribute("data-validation-rules");
    value = field.value; // Get the value of the field

    if (!rulesAttribute) return true;

    const rules = rulesAttribute.split(",");
    const today = new Date();
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, "0"); // Month is 0-based, adding 1 and padding
    const day = String(today.getDate()).padStart(2, "0");

    for (const rule of rules) {
      if (rule.startsWith("max_date:")) {
        let max = rule.split(":")[1];

        if (max === "today") {
          max = `${year}-${month}-${day}`;
        }

        document.getElementById(field.id).setAttribute("max", max);
      } else if (rule.startsWith("currency")) {
        const inputField = document.getElementById(field.id);

        field.addEventListener("input", () => formatAsCurrency(field));
      } else if (rule.startsWith("min_date:")) {
        let min = rule.split(":")[1];

        if (min === "today") {
          min = `${year}-${month}-${day}`;
        }

        document.getElementById(field.id).setAttribute("min", min);
      }
    }
  }

  function validateSingleField(field) {
    value = field.value; // Get the value of the field
    const rulesAttribute = field.getAttribute("data-validation-rules");
    const errorMessageDataAttribute = field.getAttribute("errormessage");

    if (!rulesAttribute) return true;

    const rules = rulesAttribute.split(",");
    let fieldIsValid = true;
    let errorMessage = "";

    for (const rule of rules) {
      // Check if error_message is present
      if (errorMessageDataAttribute !== "") {
        errorMessage = errorMessageDataAttribute;
      }

      if (rule === "required" && !value) {
        fieldIsValid = false;
        if (errorMessage === "") errorMessage = "This field is required";
      } else if (rule === "string" && typeof value !== "string") {
        fieldIsValid = false;
        if (errorMessage === "") errorMessage = "This field must be a string";
      } else if (rule.startsWith("min:")) {
        const min = Number.parseInt(rule.split(":")[1], 10);
        if (value.length < min) {
          fieldIsValid = false;
          if (errorMessage === "") errorMessage = `Minimum length is ${min}`;
        } else {
          fieldIsValid = true;
        }
      } else if (rule.startsWith("max:")) {
        const max = Number.parseInt(rule.split(":")[1], 10);
        if (value.length > max) {
          fieldIsValid = false;
          if (errorMessage === "") errorMessage = `Maximum length is ${max}`;

          // reduce the length of the field value to max
          value = value.substring(0, max);
          field.value = value;
        }
      } else if (rule === "numeric" && Number.isNaN(value)) {
        field.value = field.value.replace(/[^0-9]/g, "");

        fieldIsValid = false;
        if (errorMessage === "") errorMessage = "This field must be numeric";
      } else if (rule.startsWith("max_date:")) {
        const max = rule.split(":")[1];
        document.getElementById(field.id).setAttribute("max", max);
      } else if (rule.startsWith("min_date:")) {
        const min = rule.split(":")[1];
        document.getElementById(field.id).setAttribute("min", min);
      } else if (rule.startsWith("regex:")) {
        const formatRule = rule.split(":")[1];

        const regex = new RegExp(formatRule);

        if (!regex.test(value)) {
          fieldIsValid = false;
          if (errorMessage === "") errorMessage = "Please enter valid format.";
        }
      } else if (rule.startsWith("format:")) {
        const min = rule.split(":")[1];
        field.value = value.toUpperCase();
      } else if (rule.startsWith("required_if:") && (!value || value === "")) {
        const spec = rule.split(":")[1];
        const check_field_name = spec.split("=")[0];
        const check_values = spec.split("=")[1].split("|");
        const check_field_value = document.getElementById(check_field_name).value;
        if (check_values.includes(check_field_value)) {
          fieldIsValid = false;
          if (errorMessage === "") errorMessage = `Please enter value if ${check_field_name.toUpperCase().replace(/_/g, ' ')} is filled with ${check_values.join(", ")}`;
          }
      } else if (rule.startsWith("lesser_than")) {
        const maxFieldName = rule.split(":")[1];

        maxField = document.getElementById(maxFieldName);
        max = maxField.value;
        lesser = field.value;

        if (parseInt(lesser.replace(/,/g, '')) > parseInt(max.replace(/,/g, ''))) {
          fieldIsValid = false;
          if (errorMessage === "") errorMessage = "Should not be higher than " + maxFieldName;
        }
      }
    }

    if (fieldIsValid) {
      clearError(field);
    } else {
      showError(field, errorMessage);
    }

    return fieldIsValid;
  }

  function validateFormData(formData) {
    let isFormValid = true;
    let firstInvalidField = null; // Variable to keep track of the first invalid field

    for (const fieldName of Object.keys(formData)) {
      const field = document.getElementById(fieldName);
      if (!validateSingleField(field)) {
        isFormValid = false;
        if (!firstInvalidField) {
          firstInvalidField = field; // Set the first invalid field
        }
      }
    }

    if (firstInvalidField) {
      firstInvalidField.focus(); // Set focus on the first invalid field
    }

    return isFormValid;
  }

  // Function to show error message and style the field
  function showError(field, message) {
    const errorDivId = `${field.id}_error`;
    const errorDiv = document.getElementById(errorDivId);
    if (errorDiv) {
      errorDiv.textContent = message;
      errorDiv.classList.remove("hidden");
    }
    (field.wrapper_field || field).classList.add("border-pink", "ring", "ring-pink", "ring-opacity-50"); // Add error styles to the field
  }

  // Function to clear the error message and reset field style
  function clearError(field) {
    const errorDivId = `${field.id}_error`;
    const errorDiv = document.getElementById(errorDivId);
    if (errorDiv) {
      errorDiv.classList.add("hidden");
    }
    (field.wrapper_field || field).classList.remove("border-pink", "ring", "ring-pink", "ring-opacity-50"); // Remove error styles from the field
  }

  function onSuccessfulSubmission() {
    successBanner();
    clearImagePreviews();
    document.getElementById("myForm").reset();
    hideConfirmation();
  }

  function onFailedSubmission(error, errorLog) {
    errorBanner("Upload failed: " + error, errorLog)
    hideConfirmation();
  }

  function checkGpsLocation() {
    // Check if the gps_location field exists
    if (document.getElementById("gps_location")) {
      const gpsLocationField = document.getElementById("gps_location");
      gpsLocationField.value = ""
      // Check geolocation permission status

      navigator.permissions
        .query({ name: "geolocation" })
        .then((permissionStatus) => {
          if (permissionStatus.state === "prompt" && window.railsEnv !== "test") {
            // If the alert was dispayed we always got a Ferrum::PendingConnection Error, I tried a lot!
            alert(
              "We are going to request your location to fill in the GPS location field. Please allow access to your location via the browser, oherwise the form can not be submitted.",
            );
          }
          gpsLocationField.placeholder = "Calculating position...";
          // Request geolocation after the alert
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
              (position) => {
                gpsLocationField.placeholder = ""
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                gpsLocationField.value = `${latitude},${longitude}`;
              },
              (error) => {
                gpsLocationField.placeholder = "Could not calculate position."
                console.warn(`ERROR(${error.code}): ${error.message}`);
              },
            );
          } else {
            gpsLocationField.placeholder = "Geolocation is not supported by this browser."
            console.error("Geolocation is not supported by this browser.");
          }
        });
    }
  }

  function handleImageSelect(event) {
    const files = event.target.files;

    if (files.length < 1) { return; }

    const previewContainer = document.querySelector(".image-preview-container");

    const file = files[0];

    if (!file.type.startsWith("image/")) {
     return;
    }

    previewContainer.innerHTML = '';

    // Create a container for each image and its remove button
    const imageContainer = document.createElement("div");
    imageContainer.classList.add(
      "image-preview-container",
      "flex",
      "flex-col",
      "items-center",
      "mr-2",
      "mb-2",
    );

    const img = document.createElement("img");
    img.classList.add("w-24", "h-24", "object-cover", "mt-2"); // Tailwind classes
    img.file = file;
    imageContainer.appendChild(img);

    const reader = new FileReader();
    reader.onload = ((aImg) => (e) => {
      aImg.src = e.target.result;
    })(img);
    reader.readAsDataURL(file);

    // Add a remove button
    const removeButton = document.createElement("button");
    removeButton.innerText = "Remove";
    removeButton.classList.add(
      "bg-pink",
      "text-white",
      "p-1",
      "rounded",
      "text-xs",
      "mt-2",
    );
    removeButton.addEventListener("click", () => {
      removeImage(imageContainer, file, event.target);
    });
    imageContainer.appendChild(removeButton);

    previewContainer.appendChild(imageContainer);
  }

  function removeImage(imageContainer, file, inputElement) {
    const dt = new DataTransfer();
    const { files } = inputElement;
    for (let i = 0; i < files.length; i++) {
      if (files[i] !== file) {
        dt.items.add(files[i]);
      }
    }
    inputElement.files = dt.files;
    imageContainer.remove();
  }

  function clearImagePreviews() {
    if (!document.getElementById("photo_upload")) return;

    const previewContainer = document.querySelector(".image-preview-container");
    previewContainer.innerHTML = ""; // Clear all image previews
  }

  function formatAsCurrency(field) {
    // Remove non-numeric characters except the comma and dot
    const number = field.value.replace(/[^0-9]/g, "");

    const formattedValue = new Intl.NumberFormat("en-US", { style: "decimal" }).format(
      number,
    );

    if (Number.isNaN(formattedValue)) {
      console.error("Invalid number format");
      field.value = "";
    } else {
      field.value = formattedValue;
    }
  }

  // Function to show the summary overlay
  function showSummaryOverlay() {

      const form = document.getElementById("myForm");
      const formData = new FormData(form);
      const data = {};
      const imagesToProcess = []; // Array to keep track of images

      // Gather non-image form data
      for (const [key, value] of formData.entries()) {
        if (value instanceof File && value.size > 0) {
          imagesToProcess.push({ key, file: value }); // Add image files to the array
        } else {
          data[key] = value;
        }
      }

      // Validate form data
      if (!validateFormData(data)) {
        return; // Stop submission if validation fails
      }

      // Get the form container
      const formContainer = document.getElementById('formContainer');
      if (!formContainer) {
          console.error('Form container not found');
          return;
      }

      // Create a copy of the form
      const formCopy = document.getElementById('myForm').cloneNode(true);

      // Add title to the confirmation page
      const title = document.createElement('h2');
      title.textContent = 'Please review and submit your entries!';
      title.className = 'text-2xl font-bold mb-4 text-left mt-2';
      formCopy.insertBefore(title, formCopy.firstChild);

      // Remove prefix and suffix elements
      formCopy.querySelectorAll('.input-prefix, .input-suffix').forEach(el => el.remove());

      // Replace input fields with their values
      const inputs = formCopy.querySelectorAll('input:not([type="hidden"]):not([type="submit"]), select');

      inputs.forEach(input => {
          let value = input.value;
          let labelText = '';

          // Find the associated label
          const label = input.id ? formCopy.querySelector(`label[for="${input.id}"]`) : null;
          if (label) {
              labelText = label.textContent;
              label.remove();
          } else {
              return;
          }

          // For select elements, get the selected option's text
          if (input.tagName.toLowerCase() === 'select') {
              const originalSelect = document.getElementById(input.id);
              const selectedOption = originalSelect.options[originalSelect.selectedIndex];
              value = selectedOption ? selectedOption.text : 'Not selected';
          }
          const wrapper = document.createElement('div');

          wrapper.innerHTML = `<strong>${labelText}</strong>: ${value}`;
          input.parentNode.replaceChild(wrapper, input);
      });

      // Remove any remaining hidden inputs, submit button and dropzone
      formCopy.querySelectorAll('input[type="hidden"],input[type="submit"],.dropzone').forEach(input => input.remove());

      // Create confirmation buttons
      const buttonWrapper = document.createElement('div');
      buttonWrapper.className = 'mt-4 flex justify-between';

      const submitButton = document.createElement('button');
      submitButton.textContent = 'Submit';
      submitButton.className = 'py-2 px-4 font-bold uppercase text-grey-1 hover:text-white hover:bg-primary/70 bg-gradient-to-r hover:animate-pulse whitespace-nowrap from-shade-3 to-shade-2 rounded-lg';
      submitButton.id = 'confirmSubmitButton';

      const cancelButton = document.createElement('button');
      cancelButton.textContent = 'Cancel';
      cancelButton.className = 'py-2 px-4 font-bold uppercase text-grey-100 hover:text-gray bg-gray-200 hover:bg-gray-300 rounded-lg';
      cancelButton.id = 'confirmCancelButton';

      buttonWrapper.appendChild(cancelButton);
      buttonWrapper.appendChild(submitButton);
      formCopy.appendChild(buttonWrapper);

      // Convert the form copy to a div
      const confirmationView = document.createElement('div');
      confirmationView.id = 'confirmationView';
      confirmationView.className = formCopy.className;
      confirmationView.innerHTML = formCopy.innerHTML;

      // Hide the original form
      document.getElementById('myForm').style.display = 'none';

      // Show the confirmation form
      formContainer.appendChild(confirmationView);

      // Add event listeners to the buttons after they are in the DOM
      document.getElementById('confirmSubmitButton').addEventListener('click', storeFormData);
      document.getElementById('confirmCancelButton').addEventListener('click', hideConfirmation);
  }

  function photoViaBrowse() {
    document.getElementById('photo_upload').removeAttribute("capture");
  }

  function photoViaCamera() {
    document.getElementById('photo_upload').setAttribute("capture", "camera");
  }

  // Function to hide the confirmation and show the original form
  function hideConfirmation() {
      const formContainer = document.getElementById('formContainer');
      const confirmationView = document.getElementById('confirmationView');
      if (confirmationView) {
          formContainer.removeChild(confirmationView);
      }
      document.getElementById('myForm').style.display = 'block';
  }
