= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @source.project
  = render "breadcrumb" do
    = link_to @source

= content_for :page_title do
  Move
  = @source
  to another project
= form_for @source, url: source_update_project_path, method: :post do |f|
  .wrapper.w-full
    - if @source.errors.any?
      %ul.text-sm.mb-6.text-pink
        - @source.errors.to_a.each do |e|
          %li= e
    .fields.flex.flex-row.gap-x-2
      .field.grow
        = f.collection_select :project_id, @projects, :id, :to_s, {}, **tw_select_input_args("w-full")
      .field.grow
        = f.submit "Move to Project", **tw_submit_prominent_args(without: "w-full")