- if current_user
  = content_for :breadcrumbs do
    = render "breadcrumb" do
      = link_to "Import", projects_path
    = render "breadcrumb" do
      = link_to @source.project
    = render "breadcrumb" do
      = link_to @source

.wrapper{ data: { controller: "steps recorded-upload",
                  "recorded-upload-url-value": public_recorded_upload_sources_path(code: @code),
                  action: "recorded-upload:start->steps#next recorded-upload:success->steps#next",
                  "recorded-upload-uploading-class": "animate-pulse" }}
  #intro.relative
    .overlay.absolute.z-40.bg-white.h-full.w-full.opacity-75{ data: { "steps-target" => "stepOverlay" } }
    .font-bold.text-xl.mt-8.mb-4
      1. Prepare Your Desktop
    %p
      We need to record your screen and and will review the records retroactively.
    %p
      Please arrange your windows in a way that we can see both your browser as well as your downloads folder.
    %p
      Make sure windows containing other private or personal data are not visible.
    %p
      When you click start you will be asked to share your screen.
      Select the whole screen, not just a single window.
    %p.mt-4{class: "w-1/3"}
      %button#start{tw_submit_prominent_args, data: { action: "recorded-upload#start",
                                                      "recorded-upload-target": "start"}}
        Start Recording
  #download.relative
    .overlay.absolute.z-40.bg-white.h-full.w-full.opacity-75{  data: { "steps-target" => "stepOverlay"  } }
    .font-bold.text-xl.mt-8.mb-4
      2. Download Payment Statement
    %p
      Please open the page at
      %span{class: "hover:underline text-primary/70"}
        = link_to @source.adapter.download_url, @source.adapter.download_url, target: "_blank"
    %p
      Then Download the
      %span.font-bold
        = @source.adapter.download_hint
      from
      %span.font-bold
        = @source.adapter.from_hint
      until
      %span.font-bold
        = @source.adapter.until_hint
      = "."
    %p
      Download the file into the folder visible on your desktop.
    %p
      Afterwards please select the just downloaded file here:
    %p.mt-4
      %input#file{type: "file", data: { action: "steps#next", "recorded-upload-target": "file"}}
  #download.relative
    .overlay.absolute.z-40.bg-white.h-full.w-full.opacity-75{  data: { "steps-target" => "stepOverlay"  } }
    .font-bold.text-xl.mt-8.mb-4
      3. Submit Data
    %p
      Please click the button below to stop the recording and submit all data.
    %p.mt-4{class: "w-1/3"}
      %button{tw_submit_prominent_args, data: { action: "recorded-upload#stop",
                                                "recorded-upload-target": "stop"  }}
        Submit
