-# We need to explicitly say that this page when redirected to should not be inside a turbo frame.
-# This change broke a lot of stuff. Monitor https://github.com/hotwired/turbo-rails/pull/367 for final fix.
= turbo_page_requires_reload

= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @source.project

= content_for :page_actions do
  .flex.flex-row
    - if policy(@source).view_data?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_view_data_path(@source), title: "View Data" do
          = heroicon "table-cells"
    - if policy(@source).update?
      %span.ml-4.cursor-pointer.text-primary
        = link_to build_source_path(Source::BUILD_STEPS.first, source_id: @source.id), title: "Edit" do
          = heroicon "pencil-square"
    - if policy(@source).destroy? && !@source.imports.any?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_path(@source), id: :delete_source, title: "Delete", data: {turbo_method: :delete, turbo_confirm: t(:confirm_source_destroy)} do
          = heroicon "trash"
    - if policy(@source).trigger_now?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_trigger_now_path(@source), title: "Trigger", data: {turbo_method: :post} do
          = heroicon "bolt"
    - if policy(@source).backfill_completely? && !policy(@source).backfill_from_date?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_backfill_path(source_id: @source.id), title: "Backfill Completely" do
          = image_tag("backfill_icons/replace_all.svg", class: "w-6 h-6 cursor-pointer text-primary", alt: "Backfill Completely Icon", title: "Backfill Completely")
    - if policy(@source).backfill_from_date?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_backfill_path(source_id: @source.id), title: "Backfill From Date" do
          = image_tag("backfill_icons/startdate_replace.svg", class: "w-6 h-6 cursor-pointer text-primary", alt: "Backfill From Date Icon", title: "Backfill From Date")
    - if policy(@source).delete_data_and_imports?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_delete_data_and_imports_path(@source), title: "Delete all data and imports", data: {turbo_method: :post, turbo_confirm: t(:confirm_delete_data_and_imports)} do
          = heroicon "fire"
    - if policy(@source).reprocess?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_reprocess_path(@source), title: "Reprocess", data: {turbo_method: :post, turbo_confirm: t(:confirm_delete_and_reprocess)} do
          = heroicon "arrow-path"
    - if policy(@source).edit_project?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_edit_project_path(@source), title: "Change Project" do
          = heroicon "arrow-right-circle"
    - if policy(:exports).index?
      %span.ml-4.cursor-pointer.text-primary
        = link_to exports_path(source_id: @source.id), title: "Download Data" do
          = heroicon "document-arrow-down"
    - if policy(@source).csv_update?
      %span.ml-4.cursor-pointer.text-primary
        = link_to source_csv_update_path(source_id: @source.id), title: "Update via CSV" do
          = heroicon "document-arrow-up"


%table.table-auto.border-spacing-y-5.border-separate
  - if @source.active? && @source.kind == "manual_upload"
    %th.text-left.pr-5
      Upload
    %td.flex
      .upload-file.text-sm.col-span-6.border.border-grey-2.p-2
        = form_for @source, url: source_manual_upload_path(@source), method: :post do |f|
          = f.file_field :file, required: true
          = f.submit "Upload", class: "rounded-lg bg-primary/70 py-1 px-2 font-white text-sm shadow text-white hover:bg-primary"
  - if @source.active? && @source.kind == "manual_input/ueccc"
    %th.text-left.pr-5
      URL to enter Input Data Form
    %td
      %span{class: "text-primary hover:underline"}
        - form_url = dynamic_form_sources_url(slug: @source.details["slug"])
        = link_to form_url, form_url, data: { turbo: "false" }
    - if @source.adapter.bulk_upload?
      %tr
        %th.text-left.pr-5
          Upload File
        %td.flex
          .upload-file.text-sm.col-span-6.border.border-grey-2.p-2
            = form_for @source, url: dynamic_form_submit_sources_path, method: :post do |f|
              - if policy(@source).dynamic_form_submit?
                = f.hidden_field :slug, value: @source.details["slug"], id: :slug, name: :slug
                = f.file_field :file, id: :file, name: :file, required: true
                = f.submit "Upload", class: "bg-primary/50 py-1 px-2 font-white text-sm shadow text-white hover:bg-primary"
              - else
                %span.bg-grey-3.py-1.px-2.font-white.text-sm.shadow.text-white
                  You are not allowed to upload source data.
              = link_to "Download CSV Template", source_dynamic_form_template_path(@source.id), class: "ml-4 hover:underline hover:text-primary text-primary/70", style: "padding: 5.5px"

  - if @source.active? && @source.kind.start_with?("recorded_upload/")
    = render "attrib_tr", title: "Upload Link" do
      %span{class: "hover:underline text-primary/70"}
        = link_to "New Recorded Upload", public_recorded_sources_path(code: @source.adapter.next_import_code)

  - %i[state data_category kind organization created_at creator].each do |attr|
    = render "attrib_tr", attr: attr, model: @source
  - if @source.custom_data?
    = render "attrib_tr", attr: :custom_view, model: @source
    = render "attrib_tr", title: "Custom Structure", attr: :custom_structure_s, model: @source
  - if @source.kind != "manual_input/ueccc"
    = render "attrib_tr", title: "Frequency", value: @source.details["frequency"], model: @source
  - if @source.kind != "manual_input/ueccc"
    %tr
      %th.text-left.pr-5
        Secret
      %td
        - if policy(@source).show_secret?
          %turbo-frame#show_source_secret.flex.flex-row.items-center{
            src: source_show_secret_path(@source, visible: false), loading: :lazy
          }
        - else
          %code
            ************

  - @source.adapter_class::REQUIRED_DETAILS_KEYS.each do |k|
    - if k.to_s == "form"
      - df = DynamicForm.find_by(id: @source.details[k.to_s])
      - if df
        = render "attrib_tr", attr: k, value: df.to_s
    - else
      = render "attrib_tr", attr: k, value: @source.details[k.to_s]

  %tr
    %th.text-left.pr-5.align-top
      Imports
      = "(#{@source.imports.count})"
    %td.grid.grid-cols-1
      - @source.imports.order(id: :desc).limit(10).each do |i|
        %span.text-sm.font-mono.mb-2
          = link_to i do
            = render "imports/summary", import: i
      - if @source.imports.count > 10
        %span.text-primary.cursor-pointer.ml-12.hover:underline
          = link_to "Show More", source_imports_path(@source) 