%turbo-frame#show_source_secret
  - if @visible
    = link_to source_show_secret_path(@source, visible: false), title: "Hide secret", class: "mr-4 text-primary cursor-pointer" do
      = heroicon "eye-slash"
    %code
      = @source.secret
  - else
    = link_to source_show_secret_path(@source, visible: true), title: "Show secret", class: "mr-4 text-primary cursor-pointer" do
      = heroicon "eye"
    %code
      *********************