= content_for :breadcrumbs do
  = render "breadcrumb" do
    = link_to "Import", projects_path
  = render "breadcrumb" do
    = link_to @source.project
  = render "breadcrumb" do
    = link_to @source

= content_for :page_title do
  = "Data for Source ##{@source.id}: #{@source.name}"

- if @options.blank?
  .strong.grey-4
    The is no data for this project yet. After you upload data it will be visible here.
- else
  = render "tabs", titles: @options.keys.map(&:titleize) do
    - @options.values.each do |option|
      = render "tab" do
        .div{ data: { controller: "view-data-tabulator", tabulator_options: option.to_json.html_safe } }
          .control.flex{ data: { "view-data-tabulator-target": "control" } }
            %select.rounded-md{ data: { "view-data-tabulator-target": "columnSelect" } }
            %select.rounded-md.ml-1{ data: { "view-data-tabulator-target": "filterSelect" } }
            %input.rounded-md.ml-1.border-solid.border.border-grey-4{ data: { "view-data-tabulator-target": "filterInput" } }
            %div.cursor-pointer
              = heroicon "funnel", options: { "data-view-data-tabulator-target": "filterIcon", disable_default_class: true, class: "pt-2 w-8 h-8" }
              %p.bg-pink.hidden.rounded-full.float-right.h-4.w-4.text-center.text-xs.-mt-2{data: {"view-data-tabulator-target": "filterCount"} }
            %div.grow
            - b_classes = "bg-gradient-to-r hover:animate-pulse whitespace-nowrap rounded-full shadow max-h-10 py-2 px-4 font-bold uppercase text-grey-1"
            %button.ml-1{ class: "#{b_classes} from-shade-3 to-shade-2", data: { "view-data-tabulator-target": "addFilter" }} Add Filter
            %button.ml-1{ class: "#{b_classes} from-pink to-grey-4", data: { "view-data-tabulator-target": "clearFilter" }} Clear Filters
          .div.hidden{ data: { "view-data-tabulator-target": "filterList" } }
          .div.flex
            = heroicon "adjustments-horizontal", options: { "data-view-data-tabulator-target": "headerIcon", disable_default_class: true, class: "pt-2 w-8 h-8 cursor-pointer" }
            %div.grow
            %button{ class: "#{b_classes} from-shade-3 to-shade-2", data: { "view-data-tabulator-target": "editButton" }} Edit
            %button.ml-1.hidden{ class: "#{b_classes} from-shade-3 to-shade-2", data: { "view-data-tabulator-target": "commitButton" }} Commit Update
            %button.ml-1.hidden{ class: "#{b_classes} from-pink to-grey-4", data: { "view-data-tabulator-target": "cancelButton" }} Cancel
          #tabulator-table{ data: { "view-data-tabulator-target": "table" } }
